<HTML>
<HEAD>
        <TITLE>意識は誕生できない</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--

	BODY      { background-color: #FFFFFF ; color: #000000 ; line-height: 150% }
        TD	  { line-height : 150%}
	A:link    { color: #bf0042; text-decoration: none } 
	A:visited { color: #bf0042; text-decoration: none } 
	A:active  { color: #bf0042; text-decoration: none } 
	A:hover   { text-decoration: underline }

        //-->
        </STYLE>

</HEAD>

        <BODY>
<HR WIDTH="95%">

<CENTER>
<table width="90%" height="88%">

<TR><TD>
はい、Setu<br><br><br>


pari です。<br>
横から“長すぎる口出し”をしてもいいかな？　(*^_^*)<br><br><br>


>ただ、<br>
>「自覚する者のいない宇宙かつ、その可能性のない宇宙」は存在できない<br>
>と 思うの。<br>
>「観察者がなく、将来も ありえない宇宙」と言ってもいいかな?<br>
><br>
>これって、<br>
>1：「地球以外に可能性があるんなら 地球生命は亡びる可能性がある」<br>
>けど、<br>
>2：「地球以外には可能性がないか、可能性が小さいとしたら、<br>
>地球生命は亡びる可能性がないか 可能性がとても小さい」<br>
>って言いたいの。<br><br><br>


これを読んで、ついつい「口」を出したくなっちゃった。(*^_^*)<br>
この Setu の<br><br>

>「自覚する者のいない宇宙かつ、その可能性のない宇宙」は存在できない<br><br>

という同じ内容を、わたしの場合は<br><br>

	「＜意識＞は誕生できない」<br><br>

という“テーゼ”として表現していた。<br>
そしてそれは自分にとっては“自明”だと。<br><br>

「＜意識＞は誕生できない」というのは、むろん、＜意識＞は存在して<br>
いないという意味じゃなくて、＜意識＞は＜意識＞以外の何物かから<br>
“誕生”することはできない、という意味ね。<br><br>

前に、safety-net という ML で dom さんとこの辺のやりとりをしている<br>
時に、Miki しゃんがわたしが言う「＜意識＞は誕生できない」ということ<br>
の“論理的自明性”に興味を持ってくれたことがありました。<br><br>

それで、そのときの話をここに転載させてもらっても構わないかな？<br>
（と訊きながら、じつは、載せちゃうけどね。(^^;)）<br><br>

これは、わたしにとっては充分に“論理的”なんだけど、あまり人には、<br>
通じないみたい、という経験を何度もしました。

だから、“論理的証明”というよりは、哲学（あるいは、文学）少年の
“心情的吐露”と思ってもらっても、結構です。<br><br>

ちょっと長すぎるんだけど、ごめん。<br>
こういうテーマに興味のない方は、どうか無視してください。<br>
（そんなこと言われなくてもねぇ。(*^_^*)）<br><br>

safety-net に書いた、ふたつのメールを入れます。<br>
ひとつは、<br>
①：Miki しゃんに対するメール。<br>
もうひとつは、その経緯を読んでいた<br>
②：ふうちゃんという方へのメールです。<br><br><br>

<A NAME="1"></A>
①：Miki しゃんへのメール。<br>
題して：<b>「“海辺の家”メール」</b><br>
-------------------------------------------------------------------------------<br>
今晩は、pari です。<br><br><br><br>



>pariさん、おひさ。<br>
>みきでっす。<br>
>（↓これは dom さんの発言）<br>
>> >ただ、pariさんは、理解せず、信じることにした、、<br>
>> >という事で、「信じる＝宗教的理解」であったため、<br>
>> >僕は「それとは違う」と、言っていました (^^)<br>
>> >でも、、僕の表現しても、あれと大差ないんです (^^)<br>
>> <br>
>> これについては、じつは、私は少し違うんです。(^^;)<br>
>> 私がよく“何の根拠もありませんが”と書くので、dom さんが“理解せず、<br>
>> 信じることにした”と書かれているのだと思いますが、私自身は、明瞭に<br>
>> “論理的”に理解しているのです。(^^;)<br>
>> たとえば、“＜意識＞は誕生できない”というようなことは、私の論理性か<br>
>> らすれば、“私自身の存在”と同じく、完璧に論理的に自明なのです。<br>
>> ただ、経験的に段々理解してきたことがあって、自分にとっては“論理的”<br>
>> に納得できることが、必ずしも他の人には“論理的”に納得できることでは<br>
>> ないのだ、という経験を何度もしたということです。<br>
>> そういう経験を何度もしたので、自分で“論理的”だと思う説明を人にする<br>
>> 習慣をなくした、というだけのことなのです。<br>
>> “＜意識＞は誕生できない”というようなことを、私は“信じたくて”信じ<br>
>> ているわけではありません。(*^_^*)<br>
>> 私にとっては、単に“論理的”に自明なだけのことです。<br>
>> ただ、そういう自分の論理性で、人を説得しようなどと、まったく思わなく<br>
>> なったというだけのことです。<br>
>> だいいち、人はそんなことに関心はないらしい、ということはこれまで充分<br>
>> すぎるほどに経験してきているので。(^^;)<br>
><br>
>というのを読んで、“＜意識＞は誕生できない”が論理的に自明である<br>
>というpariさんの証明を聞いてみたくなりやした。<br>
>よかったら、聞かせてみてください。<br>
>んじゃねー<br>
>らぶ<br>
>元理系少年<br><br><br>


これはこれは、ありがとうございます。m(_ _)m<br>
こんな、理屈を聞いていただけるとは、感謝です。<br><br>

ただ、詩人の論理とでもいうのか、精神世界少年の論理性が、元理系少年に<br>
通じるのかどうかは、まったく未知数ですが。(^^;)<br><br>

私は現代の地球の科学がどんな天文学的・地質学的地球の歴史を描いている<br>
のかをよくは知りません。<br><br>

なんとなく、地球４６億年の歴史において、元素の集積の中から鉱物界とし<br>
ての地球が誕生し、その中から原始の海が生まれ、その海から有機物が生ま<br>
れて原始の生命となり、それが母親の胎内で繰り返されるような変異を遂げ<br>
ながら陸に上がって、そこの植物界の中で動物界を形成し、その動物界の種<br>
の進化の中から霊長類が発生し、最後に自省的意識を持つ人間が誕生した、<br>
といったような具合にイメージされているのかな、といった概念を持ってい<br>
る程度です。<br><br>

で、そういうことはすべて事実なのだろうと思うのですが、ただその事実を<br>
もって、無生命の無機的な偶然の変化の組み合わせの中から、有機的なホメ<br>
オスタシスを持った目的的な“生命”が発生し、その“生命”の中から自省<br>
的な＜意識＞が誕生した、という“＜意識＞誕生の物語”の根拠とすること<br>
はできない、と考えています。<br><br>

そういう物語の全体は、ダーウィンの『進化論』と同じように、膨大な時間<br>
という検証不可能なイメージの中に、実際には起こりえない不可能事を封じ<br>
込める態度だろうと、思っています。<br><br>

ちょっと、以前書いた文章を引用します。<br><br><br>


　　　　　　　　…………○…………○…………○…………<br><br><br>

<A NAME="2"></A>
■海辺の家<br><br>

　昔、ジャン・コクトーが監督した『オルフェの遺言』という映画を観たこ<br>
とがある。<br>
　その中に、窓際のカーテンが不思議な感じでふわーっと風に膨れ上がる場<br>
面があった。その瞬間の感じはいかにも不思議で、何故とも分からぬ妙な違<br>
和感があった。<br>
　実はそれは、フィルムの逆回しの最初の場面で、その後たくさん出てくる<br>
場面で、それが撮影した映像を時間を逆にして見せているのだと分かるのだ<br>
が、そう分かってからも、何か不思議な可能性の中にさまよい込んだような<br>
感じが残ったものだ。<br><br>

　例えば今、こんな場面を想像してみることにしよう。<br>
　海辺にある一軒の家があって、そこである人たちが美しい生活を営んでい<br>
た。そしていつかその家の住人たちは死に絶え、その家は無住の家になって<br>
しまった。何十年もが過ぎた。その家の壁は落ち、柱は傾いた。そして何百<br>
年も経った。その家は完全に風化し、崩壊し、土となって海岸の砂の中に埋<br>
没してしまった、と。<br>
　さて、このようなことはけっして不思議なことでもなければ、ありえない<br>
ことでもない。容易に想像できることだ。<br>
　ところで、その時代の変遷を凝縮した映像にして、短い映画に仕立てあげ<br>
ることもできるだろう。その映画の中では、ある豊かな生活空間であった美<br>
しい建物が、少しずつ古び、崩落し、砂の中に崩壊して行く映像が流れるだ<br>
ろう。<br><br>

　では、先ほどのジャン・コクトーに倣って、この映画を時間を逆にして回<br>
してみたらどうだろうか。<br>
　そこでは、波打ち際の砂浜の中からゆっくりと凹凸が浮かび上がり、流木<br>
が岸辺に打ち上げられ、砂の中に古びた土台が築かれ、流木が古びた柱となっ<br>
て立ち上がり、風の中から埃が壁となって吸着し、古びた二階が立ち上がり、<br>
壊れかけた屋根瓦が一枚二枚と屋根の上に現れ、海辺に一軒の古びた家が立ち<br>
現れ、やがていつか、美しい生活空間がそこに出現しているだろう。<br>
　私たちは、その映像を観て、それが時間を逆回転させた現実には起こりえ<br>
ない架空の現象であると知るはずだ。<br>
　永遠の時空の中で、ある海辺の砂の上に日が照り、波が打ち寄せ、風が吹<br>
き、嵐になり、そして竜巻が吹き寄せたとして、そんなことが何億何千万年<br>
も続いたとしても、非常に微少な確率の世界の中で、いかに不可能と思われ<br>
るほどの偶然に偶然が重なったとしても、先ほどの海辺の砂浜の上に一軒の<br>
家が竜巻の中から現れるとことがありえないのを、私たちは知っているから<br>
だ。<br><br>

　それとも、そんなことがありうると考えることができるだろうか。これを<br>
まったくの数学的な確率の中で考えた場合、それはありうることなのだろうか。<br>
　そんな事態を想像するのに必ずしも数学者の頭を必要とはしない。どんな<br>
物理学者の頭も必要とはしない。小学生にも分かる単純なことだ。何十億、<br>
何百億年の時間が経とうと、波と風の中から偶然にその海辺の家が立ち現れ<br>
ることはないのだ。<br><br>

　どんな意図も持たない無生命の物理次元に、機械的偶然過程の中から星が<br>
誕生し、その星の惑星上に考えられないほどの偶然が重なって海が出現し、<br>
そこに有機物の世界が発生し、ついには惑星そのものがホメオスタスシを持っ<br>
た生命世界として展開するなど、竜巻が砂浜の上に一軒の家を吹き寄せるの<br>
と同じだけの不可能事だ。<br><br>

　けれども、私たちは知っている。それが、現実に起きたことを。<br><br>

　私たちが住んでいるこの世界がもし現実のものだとすれば、それを見てい<br>
る私たちというこの内面がもし現実のものだとすれば、その奇跡が現に起き<br>
たことを、現に起こっていることを、「私たちは知っている」。<br><br><br>


　　　　　　　　…………○…………○…………○…………<br><br><br>

<A NAME="3"></A>
■物質過程は表現手段にすぎない<br><br>

　単なるフィルムの逆回しではなく、現に海辺の一軒の家が立ち現れたとい<br>
うことが、私たちのこの生命世界が現象しているということが現実だとすれ<br>
ば、その背後には必ずその家をイメージし、ビジョンし、そして作り上げた<br>
＜意識＞を前提せざるをえない。<br><br>

　これは数学的に確実なことだ。<br><br>

　同様に、地球上に内省的な＜意識＞が“発生”したというのが現実だとし<br>
ても、その内省的な＜意識＞が何百何千億という偶発的な物質的動きを根拠<br>
として、その偶然の中の非常に小さな確率の道を辿って実現したなどという<br>
たわごとを信じることはできない。<br>
　これは信仰の問題ではなく、単に健全な常識の問題にすぎない。<br>
　いかに膨大な時間で化粧しようとも、物質過程からの＜意識＞の“発生”<br>
など「竜巻がジェット機を吹き寄せる」可能性よりもありえない。<br>
　人間の自省的＜意識＞に到るまでの地球上の生命の全発展段階は、物質次<br>
元では人間の肉体の中に集積されているだろう。そして全発展段階の情報を<br>
封じ込めたのが、ＤＮＡ二重螺旋構造であることも確かだろう。<br>
　けれども物質世界が、この二重螺旋構造に到るまでの進展を、自らの自律<br>
的偶然運動（この自明な語義矛盾！）の中で生み出したと考えることはでき<br>
ない。<br><br>

　あるひとつのビジョンを物質次元に展開するには、それがどんなに微少な<br>
ものであれ、とにかく何らかの物質的基盤が要求されることは間違いない。<br>
　地上の生命の全発展段階の情報を凝縮したのが、二重螺旋構造だったとい<br>
うわけだ。<br>
　二重螺旋構造が、あるビジョンを物質次元で展開するために洗練されてき<br>
た手段であったことは確かだろう。<br>
　例えば、見るという現象を実現する器官として目があるように、聞こえる<br>
という現象を実現する器官として耳があるように、全情報を凝縮して次の個<br>
体に伝達するために二重螺旋が使われてきたことは確かだ。<br>
　けれども、そのことは地球上の生命の全発展段階の伝達のためにこの二重<br>
螺旋が必須であったことを保証するとしても、だからといって、この二重螺<br>
旋構造が全地球上の生命の発展を自ら指導し、牛耳ってきたと考える者はい<br>
ないはずだ。<br>
　それではシリコンチップがコンピュータの発展をイメージし、ビジョンし、<br>
物理次元に展開してきたと考えるようなものではないか。<br><br>

　コンピュータの発展の背後には、それをビジョンし、具体的にイメージし、<br>
構築し、展開した人間の「意図」があり、その「意図」を可能にした＜意識＞<br>
がある。だとすればこの二重螺旋構造の背後にも、それをイメージし、展開し<br>
た＜意識＞があると考えなければならない。<br>
　コンピュータの発展を、シリコンチップの自律的な発展と考えることができ<br>
ないのと同じように、人間の自省的＜意識＞に到るまでの地球上の生命の展開<br>
を、ＤＮＡ二重螺旋のような、いわばある種の部品の自律的発展と考えること<br>
はできない。<br>
　自省的＜意識＞に到るまでの生命の発展を、物質次元での無意識的な、偶然<br>
の自律運動に還元することなどできないということだ。<br>
　自省的＜意識＞に到るまでの全生命の“発展”の背後には、どうしても最初<br>
から＜意識＞の存在が前提されなければならない。<br>
＜意識＞は、誕生できないのだ。<br><br><br>


　　　　　　　　…………○…………○…………○…………<br><br><br>

<A NAME="4"></A>
こんなことを、考えてみてください。<br><br>

今、宇宙の一角の果てもない大暗黒の中で、大きさの見当もつかないような<br>
超巨大な島宇宙の誕生が起こっていたとします。<br><br>

しかし、そのことを“知っている”＜意識＞は存在しなかったとします。<br><br>

ところで、この島宇宙の誕生は、存在するのでしょうか、それとも存在しな<br>
いのでしょうか。<br><br>

……＜存在＞というのは、そういうものだと思います。<br><br>

＜存在＞の根拠は、その＜存在＞を“知っている”＜意識＞にあります。<br><br>

ということは、＜意識＞が＜存在＞だということです。<br><br>

では、逆に、何一つ“知る”対象を持たない＜意識＞というものはありうる<br>
でしょうか。<br><br>

私は、「ある」と思っていますが、自分で「体験」したことがないので、<br>
（あるいは現在の私は自分をその記憶から切り離しているので）“知ってい<br>
る”とは言えません。<br><br>

強いて言えば、ビッグバーンと言われるもの、あるいはそれに類する何かの<br>
直前がそれに当るのかもしれません。<br><br>

ところで、“＜意識＞誕生”の物語というのは、＜意識＞が無い状態から、<br>
＜意識＞が生まれた、というお話です。<br><br>

それは、上述の例で言うなら、＜意識＞が立ち会っていない島宇宙の誕生の<br>
中から、＜意識＞が発生したということです。<br><br>

簡単に言うと、「無」から「有」が生じたということ、“非存在”から＜存在＞<br>
が生じたということです。<br><br>

このことの可能性を、私は自分が知っている唯一の＜意識＞、つまり、自分<br>
の＜意識＞の中で探します。<br><br>

何と言っても、私は自分の＜存在＞を疑っていないからです。というより、<br>
疑っても意味がないと思っているからです。<br><br>

だから、その自分の＜意識＞を唯一の自明の根拠として“＜意識＞の誕生”<br>
の可能性を探ってみるわけです。<br><br>

つまり、この私は“非存在”を支えることができるだろうか、と。<br><br>

私は、“非存在”という言葉の組み合わせを作ることができるし、その言葉<br>
を操ることもできますが、どうあがいても“非存在”をイメージすることも、<br>
思考することもできません。<br><br>

“非存在”を＜意識＞にもたらすとができないのです。<br><br>

つまり、私は“非存在”を＜存在＞にもたらすことができません。<br><br>

言い換えると、“非存在”と＜存在＞を架橋することができません。<br><br>

つまり、＜意識＞は“非存在”を知り得ないのです。<br><br>

＜意識＞はどうしても“非存在”に架橋することができない。<br><br>

“非存在”を＜存在＞させることができないという、じつに馬鹿馬鹿しいほ<br>
どに自明のことです。<br><br>

これが、＜意識＞が立ち会っていない島宇宙の誕生の中から、どうやっても<br>
＜意識＞が“誕生”することはできない、ということの論理的証明です。<br><br>

それは、換言すると、“＜意識＞が立ち会っていない島宇宙の誕生”などと<br>
いうものは存在しえない、ということでもあります。<br><br><br>


　　　　　　　　…………○…………○…………○…………<br><br><br>


<A NAME="5"></A>
で、先ほどの“逆回し”の映画「海辺の家」の“中から”まるで手品のよう<br>
に「生命」が誕生したのではないように、“逆回し”の映画にも、“順回し”<br>
の映画にも、＜意識＞が充満しています。<br><br>

映画「海辺の家」ですらそうであったように、元々これは、すべて＜意識＞<br>
が創造しているものだったのです。<br><br>

すべては、濃密な＜意識＞の海の中で起こっています。<br><br>

もし＜意識＞が“非存在”を存在させることができたら、そのときは“非存<br>
在”からの“＜意識＞の誕生”の物語を語ることができるでしょう。<br><br>

そうすれば、地球４６億年の歴史の中から、生命が発生し、＜意識＞が誕生<br>
することができるでしょう。<br><br>

そうなれば、＜意識＞という“棒”の一端が見つかったようなものですから、<br>
もう一方の端も見つかるかもしれません。(^^;)<br><br>

つまり、我々が肉体を離れたら、まったくの空無の中に雲散霧消して、ただ<br>
ただ消えてしまうと言うようなことが起こるかもしれません。<br><br>

そうなったら、それはそれで清々しいような素晴らしい話ですが、今のとこ<br>
ろなかなかそうは許してもらえそうもありません。(^^;)<br><br>

生きていようが死んでいようが、この＜意識＞の「世界」はあると、観念し<br>
た方がいいかもしれません。<br><br>

「変化」を避けることもできなさそうです。<br><br>

“逃げ道”はないだろうと思っています。<br><br>

あるのはただ、“逃げなくてもよかったのだ”という＜意識＞本来の場所、<br>
＜今＞なのだろうと、思っています。<br><br><br>


　　　　　　　　…………○…………○…………○…………<br><br><br>


親切に、訊いてくれたみきしゃん、自明な論理的証明になったでしょうか。<br><br>

私自身にとっては、これで充分な論理的証明になります。<br><br>

ただ、これはマインドの皮をいじっただけのことなので、大安心とかそうい<br>
うこととは関係ありません。<br><br>

大安心というのは揺らがないということなので、それはアローンネスという<br>
ことと、深く関わっていることなのだろうと、思っています。<br><br>

今は、まだまだ、揺らぎながら、大安心を求めていたいのかも知れなくて。(^^;)<br><br><br><br>



			Love		pari<br>
-------------------------------------------------------------------------------<br><br><br><br>



<A NAME="6"></A>
次は、<br>
②：ふうちゃんという方へのメールです。<br>
題して：<b>「“猿の惑星”メール」</b><br>
-------------------------------------------------------------------------------<br>
今晩は、pari です。<br><br><br><br>



>ふうちゃんです（＾＾<br>
><br>
>> >> 今、宇宙の一角の果てもない大暗黒の中で、大きさの見当もつかないような<br>
>> >> 超巨大な島宇宙の誕生が起こっていたとします。<br>
>> >> しかし、そのことを“知っている”＜意識＞は存在しなかったとします。<br>
>> >> ところで、この島宇宙の誕生は、存在するのでしょうか、それとも存在しな<br>
>> >> いのでしょうか。<br>
>> ><br>
>> >ノイズ→意識→宇宙　ですよね？<br>
>><br>
>> あ、いえ、ここで言いたかったことは、“そういうものは存在しない”と<br>
>> いうことでした。(^^;)<br>
><br>
>ああ、まず「ノイズ」が存在しないということですね？<br>
><br>
>> つまり、そのことを知っている＜意識＞が存在しない島宇宙の誕生などと<br>
>> いうものは存在できない、という意味です。<br>
><br>
>ああ、わかりました（＾＾<br>
>パラドックスの部分ですね。<br>
>卵が先か、鶏が先か。<br>
><br>
>> ……どうも、こんな何の役にも立たない人畜無害のことばかり、考えるの<br>
>> が好きで……。(*^_^*)<br>
><br>
>こういうの僕も好きですから（＾＾<br><br><br>


あ、そうなんですか。(^^)/<br><br>

こういうの好きな人、そんなにいなくて……。(^^;)<br><br><br>


>> で、ちょっと、表現が不足していたのかもしれませんね。<br>
>> もうちょっと、正確を期して書いてみます。<br>
>> たとえば、「誰にも認知されていない漆黒の闇の中で超巨大な島宇宙の誕<br>
>> 生が起こっていた」というような表現があったとすれば、そのような表現<br>
>> の中では既にその島宇宙の誕生は前提されているわけですが、じつは、そ<br>
>> こには暗黙の内にその島宇宙をいつか発見する＜意識＞の存在が前提され<br>
>> ているわけです。<br>
>> それは単に時間の問題で、今はまだ発見されていないけれども、いつかは<br>
>> 誰かが発見するかもしれない、というふうに、暗黙の内にその島宇宙の存<br>
>> 在を知りうる＜意識＞が前提されているわけです。<br>
>> あるいは、そういう文章を読んでいる人間（つまり意識存在）、あるいは<br>
>> 少なくともその文章を書いている人間の存在が暗黙の前提になっています。<br>
>> ここで＜意識＞という言葉で指し示そうとしているのは“知る可能性”の<br>
>> ことですから、ふうちゃんの言葉では＜気付き＞になるようです。<br>
>> 要するに、＜アウェアネス＞です。<br>
>> 今度は、意味が正確になったでしょうか。<br>
><br>
>わかりました（＾＾<br>
>知覚するモノ無くして知覚されるモノ無し　ですね。<br><br><br>


ええ、見るものが見られるもの、とか。<br><br><br>


>このパラドックスには、「時間」が関係しています。<br>
>ここに、時間が直線状に未来に向かって進んでいない、<br>
>という概念を投入すると、どうなります？<br>
>ちょっと考えてみると面白いですよ（＾＾<br><br><br>


私は単純に、「時間」というものはある位相の風景を細かく堪能するための<br>
レンズというか、一種の発明だと考えています。<br><br><br>


>それと、ビッグバン以前というのは、どういう状態だったのか？<br><br><br>


<A NAME="7"></A>
「状態」という言葉の解釈で、いろいろな連想が励起すると思いますが、<br>
もしそれを自然科学的な「状態」のＨＯＷの意味に取らないで、もっぱら<br>
ＷＨＹの意味（つまり「意図」の意味）に取れば、“心理的”「お噺」と<br>
しては人間感情に引き寄せたいろいろなタイプがあるみたいですね。(^^;)<br><br>

①“歓喜爆発説”的なもの、②“細部展開説”的なもの、③“子供待望説”<br>
的なもの、④“孤独分裂説”的なもの、中には④“退屈不耐説”的なもの<br>
までいろいろあるようです。(^^;)<br><br>

私は、今のところは、⑤“全能放棄説”的なお噺が一番パラドキシカルに<br>
思えて惹かれています。(*^_^*)<br><br>

その「状態」というのが自然科学的な意味でどのような状態なのかについ<br>
ては、どうもあまり自分の関心の対象ではないようで……。<br><br><br>


>> 「現象」というものには、本来不可分な形で二つの側面が貢献していると<br>
>> 思います。<br>
>> それは、①何らかの形象・変化の相と、②それを“知っている”＜意識＞<br>
>> という、二つの側面です。<br>
>> そして“＜意識＞の誕生”とは、<br>
>> 「①何らかの形象・変化の相」から「②それを“知っている”＜意識＞」<br>
>> が生まれた、というお話です。<br>
>> で、私にとってはその不可能性は自明なので、ちょっと言葉にすれば、誰<br>
>> もがすぐに納得する話なのだと思っていました。<br>
>> でも、じっさいには、ほとんど誰にも納得してもらえませんでした。(^^;)<br>
>> それに、「だから何だって言うの？」ということもありますし。(*^_^*)<br>
><br>
>面白いから、いいんじゃないですか？（＾＾<br><br><br>


ええ、別に人に頼まれて考えてるわけでもないので、実際は、そうなんです。(^^;)<br><br><br>


>> この<br>
>> 「①何らかの形象・変化の相」から「②それを“知っている”＜意識＞」<br>
>> が生まれたというお話は、ちょっと位相を変えると、<br>
>> 「目があるから見える」、「耳があるから聞こえる」というような言い方<br>
>> にもなります。<br>
>> このこと自体間違っているわけでもないので、その通りとも言えるのです<br>
>> が、ただ、実際は、「見える」という体験を物理次元にもたらすために<br>
>> 「目」という道具が工夫されたんだろうけどな……、とか、「聞こえる」<br>
>> という体験を物理次元にもたらすために「耳」という道具が工夫されたん<br>
>> だろうけどな……、と言ったような感想がよぎることはありました。<br>
>> どうも、私が考えることは、あまり一般性がないらしくて。(^^;)<br>
><br>
>一般性が無いと言うよりは、深く考えているのだと思いますよ（＾＾<br>
>でも、ちょっと「禅問答」っぽくなっちゃってますね。<br><br><br>


ああ、そうですか。<br>
それは全然、考えにありませんでした。<br><br>

どちらかというと、説明的すぎるかな、とは思いましたが。<br><br><br>


>「公案」の「解」を得るには、何か発想の転換のようなものが<br>
>ここで必要なんだと思います（＾＾<br><br><br>


“「公案」の「解」を得る”というような発想では、まったくありま<br>
せん。(*^_^*)<br><br>

これは、どこまでもマインドの中での話しなんで、どこまでも自分の<br>
趣味を探るという感じです。自分の本当の“好み”はどういう話なん<br>
だろう、どういう話なら自分は納得するんだろう、といったような、<br>
そういう感じです。(^^;)<br><br>

間違っているかもしれませんが、「公案」というような用語は私の連<br>
想野では「無心」にしか繋がらないので、それはマインドの世界から<br>
の見え方で言えば、どう言ってみても「無意味」（マインドの「意味」<br>
を支えないという意味ですが）にしかならないだろうと思ってました。<br><br>

＜今＞には、（マインドの世界での）「意味」なんてないはずだから、<br>
というような感じなんですが……。<br><br>

「意味」は“過去”と“未来”の間を右往左往するところに発生する<br>
んだろうって、まあ、思ってるんですが。(^^;)<br><br>

ただ、今の自分は、とことんマインドの「意味」に拘ってみたいとこ<br>
ろにいるんで、こういうことを考えるのが好きです。<br><br><br>


>> >＜無限定の気付き＞＝＜源＞という状態から意識が<br>
>> >出来上がりますから、pariさんの言われる<br>
>> >＜存在＞＝＜意識＞なのかどうかはなんともいえません。<br>
>> >＜存在＞の定義によると思いますので。<br>
>><br>
>> これは多分、＜意識＞という表記に私が勝手に持たせている意味のせ<br>
>> いです。(*^_^*)<br>
>> 私は勝手に、「それ」のことを、文脈に依存して＜意識＞、＜存在＞、<br>
>> ＜全体＞、＜神＞などと書いてきたもんだから……。<br>
><br>
>ここをきちっと分けておくと、読者の方が混乱しなくていいですね（＾＾<br><br><br>


ああ、これはその通りでしたね。<br><br>

日本語の「意識」は随分、多義ですから。<br>
特に、“コンテンツ”と、“コンテンツ”なしの＜意識＞とでは、まるで<br>
違うことになってしまうし……。<br><br><br>


>> >＜存在＞＝＜気付き＞なら、いいと思いますけど（＾＾<br>
>><br>
>> ええ、＜意識＞という表記を、“知る”可能性の根拠を指す言葉として<br>
>> 使っています。(^^;)<br>
>> 多分、ふうちゃんのおっしゃる＜無限定の気付き＞＝＜源＞と同じもの<br>
>> を指していると思います。<br>
><br>
>価値判断も意図も無く、ただ知覚して在る　という感じです。<br><br><br>


はい、その「ただ知覚して在る」を、勝手に＜意識＞という表記で表現して<br>
きました。(^^;)<br><br><br>


>> >＜気付き＞は「無」ではないので、これは当てはまらない<br>
>> >と思いますけど（＾＾<br>
>><br>
>> この“「無」から「有」が生じた”という表現が意図する意味は、先ほどの<br>
>> “「①何らかの形象・変化の相」から「②それを“知っている”＜意識＞」<br>
>> が生まれた”という言い方が意味するものと同じです。<br>
>> ＜存在＞の根拠である＜意識＞から切り離されて、「①形象・変化の相」だ<br>
>> けが単独で存在することはできないから、これが＜意識＞のない状態、すな<br>
>> わちこの文脈での「無」です。<br>
>> その意味での「無」から、「有」（＜存在＞の根拠としての＜意識＞）は<br>
>> 生じえない、という意味を表そうとしました。<br>
>> 時間的前後ではありませんが、順序だけは厳密にあると思います。<br>
>> 「①形象・変化の相」＝＞「②＜意識＞」はあり得ません。<br>
>> ある得るのは、「②＜意識＞」＝＞「①形象・変化の相」だけです。<br>
>> つまり、“＜意識＞は誕生できない”というわけです。<br>
>> 誕生していないものは消滅することもないわけで……。<br>
><br>
>先に意識が在れば、いいわけですね？<br>
>ここちょっと考えてみましょうよ。<br><br><br>


<A NAME="8"></A>
ええ。<br>
……といっても、じつに単純なんですが。(^^;)<br><br>

簡単に言えば、コンピュータがあれば、それを作った人間（意識存在）が<br>
いることは自明である、というだけのことですから……。(^^;)<br><br>

それを、いや、たとえ意図を持たない偶然の世界の中であっても、何十億年<br>
もの間、奇跡的な偶然に偶然が重なれば、塵も積もれば山となるで、竜巻が<br>
ついにコンピュータを吹き寄せることがありうるんだ、というような議論が<br>
どうやら通用するらしいんで、みんながそう言うんなら、ま、いいか、いち<br>
いち目くじらを立てることもないか、というような感じです。(^^;)<br><br>

『猿の惑星』の最後の場面で、主人公が砂浜に埋もれた「自由の女神」を見<br>
るところがありますよね。<br><br>

あの場面はじつに鮮烈でしたが、それはあの「自由の女神」像を作ったのが<br>
当時の“猿の惑星”の猿たちでないことが自明だからだと思うんです。<br><br>

またあの「自由の女神」像が、永い歳月の間に、風や波が砂浜に打ち寄せた<br>
ものでもないことも自明です。<br><br>

観客の全員がひと目でそのことを理解するから、“猿の惑星”が彼の出発し<br>
てきた地球だったという鮮烈な感動とショックが起こるんだと思います。<br><br>

そういう、単純な話だと思うんですけどね。(^^;)<br><br>

コンピュータを見たら、誰だってそれを作った知的生命体（意識存在）の存<br>
在を疑いません。それを作ろうとした者の「意図」の存在を疑わないと思い<br>
ます。<br><br>

その場合は、“自然に”生まれたなんて言い方をしないと思います。<br><br>

ところが、「自然」はあまりに偉大なもんだから、“自然に”生まれちゃう<br>
ことになっちゃって。(^^;)<br><br>

それで“作ろうとした者の「意図」”が、また“その「意図」の存在を可能<br>
にした＜意識＞”が存在しなかったところから、結果だけが、コンピュータ<br>
だけが自然発生したことになっちゃって。<br><br>

「意図」の無いところ、その「意図」を可能にした＜意識＞の無いところか<br>
らでも、何十億年もかければコンピュータくらい生まれることができるんじ<br>
ゃないか、それから何億年かかければ今度はそのコンピュータが単なる精密<br>
機械ではなく、ピノキオのように生命を帯びてきて、ついには＜意識＞を持<br>
つことができるんじゃないかなんて、まあ、そんなふうに我々は考えている<br>
ようです。(*^_^*)<br><br>

何十億年というと大層な時間ですから、どんなことでも起きることができそ<br>
うですが、とは言っても、「意図」の無いところから「意図」が生まれるよ<br>
うなもんですから、その何十億年の何処かに“特異点”がなければならない<br>
でしょうね。<br><br>

＜意識＞の無いところから＜意識＞が生まれた瞬間が……。<br><br>

さて、そこが問題点です。<br><br>

＜意識＞の無い世界が、どうやって＜意識＞に憧れたんでしょう。<br><br>

……やっぱり、私には“自明”としか言いようがなくて。(*^_^*)<br><br><br>



			Love		pari<br>
-------------------------------------------------------------------------------<br>
以上です。<br>
長々とお付き合いくださいまして、ありがとうございました。<(_ _)><br>
（こういうことでご迷惑をお掛けする以外は、人畜無害の存在<br>
　ですから。(^^;)）<br><br><br><br>



Love　　　　pari<br>
<center>
</td>
</tr>
</table>

<HR WIDTH="95%">

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
・<A HREF="../index.html" target="_top">随想へ</A>　
・<A HREF="../../index.html" target="_top">home へ</A></td>
</font>
</td>
</tr>
</table>

</BODY>
</HTML>
