<HTML>
<HEAD>
        <TITLE>エゴと光明</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Shift_JIS">
        <STYLE TYPE="text/css">
        <!--

	BODY      { background-color: #ececff ; color: #000044 ; line-height: 150% }
        TD	  { line-height : 120%}
	A:link    { color: #bf0042; text-decoration: none } 
	A:visited { color: #bf0042; text-decoration: none } 
	A:active  { color: #bf0042; text-decoration: none } 
	A:hover   { text-decoration: underline }

        //-->
        </STYLE>

</HEAD>

        <BODY>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>エゴと光明</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>


<BR>
　こんな理屈……、いくら書いてもしょうがないんですけど……、出てくるだけ、書いてみようかとも思ってるんです。<br>
　このままの＜今＞の自分を、そして今の自分の理屈を許してやりたい。<br>
　ほら、「エゴ」って最後まで、粘るわけでしょ。<br><br>
　「光明」のことです。<br>
　「光明」と言ってもこの“私”が、つまりエゴが悟るわけではないのだから、我々宇宙内の意識存在はすべて悟っているというのは、つまり「全意識存在」が悟ってるっていうのは、これ当たり前なんじゃないでしょうか。<br>
　“屁理屈”ですからね、大目に見てください。<BR>
　意識全体は、どうやってみたって欠けることのない「全体」、あるいは「自己」であり、また“今”ここにフォーカスしてここでの体験を選択しているのが「エゴ」なのだとしたら、「エゴ」が「全体」になるなんて語義矛盾以外の何ものでもないし、「全体」がないのに「部分」だけがあるなんてこともありえないわけです。<BR><br>
　風船の表面のどの一点がなくても風船は破裂してしまってありえないし、風船そのものがないのに、その表面の“一点”だけあるなんてバカなこともありえない。<br>
　風船の表面の“一点”は、今そこの一点として存在しているのだから、どう足掻いたって、それ以外の一点ではありえないわけです。<br>
　ね、このことだけで“嫉妬”という遺伝子のカラクリが透けて見えてくるような感じじゃないですか。<BR>
　「エゴ」はどう足掻いたって悟ってはいないし、悟ることもありえない。一方「全体」は、どう足掻いたって悟っているし、悟らないこともありえない、っていう馬鹿みたいな同義反復ですが……。<br>
　ただ、現在の体験を選択している「エゴ」とは言っても、“自分”の体験が気に入らないのなら、必ずしもこれまでの“自分”の位置に固着している必要もないんでしょうね。<br>
　だから、どの“一点”の位置も常に流動的で、いかなる瞬間（＜今＞）にも“動く”自由を持っているいう意味では、風船よりは、“シャボン玉”のイメージの方がいいかもしれません。意識宇宙の全粒子が常に自在に流動してイメージがありますから。<BR><BR>
　どうも我々、宇宙の“奴隷”というわけでもないようですし。<br>
　ただ、我々が贈られている「絶対の自由」の中に、“奴隷”であるかのような妄想を紡ぐ「自由」まで含まれているということらしくて……。<br>
　といっても、こんなことを我々が言えるようになったのには、地球圏を覆っていたある種の“波動の縛り”みたいなものがここで取り払われていくということと無関係ではないようにも聞きますけどね。何だか“悪い地主”さんから“良い地主”さんに政権交代してもらったみたいな話で、どうも店子としては必ずしもすっきりした話でもないんですがね……。<br><br>
　でもこれはどこの世界にもある、一種のゴシップだと思います。ゴシップはある位相では、間違いなく“事実”なわけでしょうしね。<BR>

　だから「光明」という言葉には、フォーカスというか「選択」の問題といった側面もあるように思います。<BR>
　「部分」でいる“自分”にフォーカスしながら「全体」にフォーカスすることは、確かに理屈の上でも無理ですものね。風船の一点が無理に全体に広がったりして……。
　また自分が「全体」であること、宇宙に“自分”は一人しかいないことを認めて、そこにフォーカスしてしまったら、まあ、（理屈としては）、「部分」ではありえなくなる、つまりそれまでのような「エゴ」の“体験”はできなくなるわけだろうと思います。<BR>
　口でこんなことを言ってみてもしょうがないですけど。<BR>
　でも、こんな偉そうなことを言いたがる“自分”はまだまだ駄目だ、なんて思ってみても、別に努力したら、駄目でなくなるというわけじゃないのだから、結局は、「選択」の問題です。<br><br>
　＜今＞の中に住んでいない、「思考」の中の「今」の“自分”は現にそうなわけだし、「思考」の中に住んでいない、＜今＞の中に住んでいる「自己」は、“私”の愚かさとは無関係に悟っているわけですしね。<br>
　「今」の“自分”が駄目だとして、だったらどれくらい頑張って“自分”が海の水を飲み込んだらいいのかって、……まあ、無茶苦茶な話になるわけですから。<br>
　「イソップ童話」の海を呑み込んだカエルってその話なのでしょうか。<BR>
　だから、「光明」って、“努力”とか“成長”というエゴゲームとはまったく別なことなんでしょうね。<BR>
　「光明」は単なる事実、“努力”や“成長”は「エゴ」の幻想なのかなぁ。<br>
　多分ここで、「努力」も「成長」も必要だ、なんて茶々が入ったりしてね。<br><br>
　ところで、みなさま、もちろん、＜全体＞あってのこの“私”でございます。<br>
　＜シャボン玉＞あっての、この“一点”でございますから。<br>
　この“一点”の独立的存在は「夢」でございますが、“私”の意識は＜シャボン玉＞として、確かに存在してございます。<br>
　どなたにに保証していただく必要もない、いえ、どなたにも保証していただけない＜シャボン玉＞の＜存在＞でございます。<br>
　ですから、みなさま、こう申しては何ですが、「巨人」は、もとへ、＜シャボン玉＞は＜永遠＞でございます。(2001.4/23)<br>
</td>
</tr>
</CENTER>
</table>

<HR WIDTH="70%">

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>
	　・<A HREF="./index.html">随想へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>
