<HTML>
<HEAD>
<TITLE>狂気と分裂</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Shift_JIS">
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<META name="keywords" content="狂気,分裂">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 狂気と分裂<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>狂気と分裂</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="50%">
<tr>
<td>
わたしはこれまで必死になって、何か“客観的な根拠”を求めてきたような気がする。<br>

“藁をも持つかむ思い”で、なにか、客観的な根拠を、揺るがない何かを求めてきたような気がする。<br>

そしてそれを、自分の中の“空虚”に求めるのではなく、また、自分のハートの中に求めるのでもなく、必死になって「言葉」で、その＜根拠＞を見つけようとしていたような気がする。<br>

しかし、「言葉」で＜自分＞を支えることはできないようだ。<br>

そもそも、＜自分＞は“マインド”の支えを必要とするようなものではないのだから。<br>

“応無所住而生其心”、“応無所住而生其心”、“おうむしょじゅうにしょうごしん”、“おうむしょじゅうにしょうごしん”。<br>

「マサニジュウスルトコロノウシテ、シカモソノココロヲショウズベシ」<br>

言葉は、なんの根拠もなく、いくらでも出てくる。<br>

思いは、なんの根拠もなく、いくらでも出てくる。<br>

そんなもので、＜わたし＞を支えることはできない。<br>

＜わたし＞は、そんなものに支えられる必要はない。<br>

＜わたし＞の中に浮かんできた“思い”の一部が、＜わたし＞の中の別の“思い”を、虐めている。<br>

＜わたし＞は、虐める“思い”に自己同化して気持ちよくなったり、虐められる“思い”に自己同化して辛くなったりしている。<br>

＜わたし＞は“他人”の目になって“自分”を虐めたり、“自分”の目になって“他人”に虐められたりしている。<br>

＜わたし＞は、“自分”の中に、その分裂を許容している。<br>

＜わたし＞は＜実在＞だ。だが、その分裂は虚構だ。<br>

その分裂は虚構だが、その分裂を許容している＜わたし＞は、＜実在＞だ。<br>

＜わたし＞は、虐める“他人”と、虐められる“自分”に分裂して、一人二役を演じながら、虐められる“自分”に自己同化する。<br>

この分裂したそれぞれの“思い”を浮かべながら、＜わたし＞はよくも気が狂わないものだ。<br>

＜わたし＞は狂わない。<br>

＜わたし＞は狂えない。<br>

構造はいびつに歪むことができるが、＜わたし＞は構造ではないから。<br>

＜わたし＞は、いびつに歪んだ構造の中に捕らえられることはあるが、＜わたし＞はいびつに歪むことはできない。<br>

＜わたし＞は構造ではないから。<br>

＜わたし＞は、分裂したたくさんの“思い”を浮かべて、そのひとつひとつに自己同化することがあるだけ。<br>

＜わたし＞は、その自己同化によって、“思い”の囚われ人になることがあるだけ。<br>

＜わたし＞は、その“思い”ではない。<br>

＜わたし＞は、狂えない。<br>

なぜ、＜わたし＞は分裂しなくてはならないのだろう。<br>

＜わたし＞は、分裂しなくてもいいのだ。<br>

しかし、それは分裂した“思い”が造ることはできない。
(2004.3/28)<br>



</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->
<div align=center>
<HR>
<font color="#cc6699" size=-1>【<a href="../index.html">home</a>】　【<a href="../about.html">挨拶</a>】　【<a href="../books/">本棚</a>】　【<a href="../cinema/">映画</a>】　【<a href="../ndic/index.html#0">N辞書</a>】　【<a href="../rdic/index.html#0">R辞書</a>】　【<a href="../view/">随想</a>】　【<a href="../work/">仕事</a>】　【<a href="../mm/index.html#1">通信</a>】　【<A HREF="mailto:parichan@gmail.com">連絡</A>】
</font>
</div>

</BODY>
</HTML>
