<HTML>
<HEAD>
<TITLE>思考の正しさ</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=Shift_JIS">
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<META name="keywords" content="思考,記憶,正しさ">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #fddafd ; color: #000000 ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 思考の正しさ<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
<td colspan=2 align=center><font color=#db245b size=+2><b>思考の正しさ</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%">
<tr>
<td>
<br>Ｔさん<br><br>

　長いお手紙をありがとう。<br>
　そんな風に頭の中に次々と思考が湧いてくるときは楽しいですよね。<br>
　楽しめるときはその楽しさを充分に楽しむのがいいと思います。私も随分楽しみました。いまだに考えることしかできない人間をやっていますし。「考える」ということは、“合理性”という非常に狭い通路を通して、宇宙の叡知というか自分の中の大きな記憶と繋がろうとする方法のようなものではないかと思います。<br>
　しかしまた、ある意味で思考過程自体はエゴの記憶庫内での周回作業、エゴにとっての既知情報の組み合わせの変化にすぎないわけですから、何の保証も要らない発見そのものの歓びは、それ自体の中には遠い反響のようにしか含まれていないのかもしれません。するとつい、自分が掴まえた思考の“客観的正しさ”を求めたりします。まあ、ここから“不幸”が始まるわけでしょうか。<br>
　いったん自分が掴まえた一定の思考を“正しい”と思い、“自分”の思考だと思うと、その自分の思考を褒められると嬉しくなったり、反対に貶されたり否定されると不快になったり、否定する相手を逆に否定したくなります。<br>
　こういう反応はすべて、要するに、自分が自分の思考の“正しさ”をじつは確信していないということ、言い換えると、どこかに“正しい”思考というものがあると思っているということの表現ではないかと思います。<br>
　あらゆる「思考」は発生した瞬間すべてそれなりの妥当性、正当性を持っている――だって、宇宙の中の“自分”の位置がその発生を許したのですから――ということを納得したら、誰の同意も要らなくなるのかもしれません。また当然、誰の思考にも反対しなくなるのではないでしょうか。<br><br>

　しかし、それにしても“正しい考え”とか“間違った考え”というのはあるのではないか、という感じがするわけですが、私もあると思います。<br>
　ただ、その“正しさ”は“私”の中にしかありえないということではないでしょうか。<br>
　ある波動帯域の中で掴んだある“考え”を“正しい”と思ったとき、その“正しさ”は
　自分の「思考」の正しさの保証を他の誰かに求めたら、その瞬間に、その「思考」は少なくともその人にとっては正しくなかった、ということに（まあ、理屈から言うと）なるわけでしょうね。<br>
　この「思考」と書いた部分は、厳密ではありませんが、「観念」とか「真実」とかいう言葉と置き換えても別に構いません。<br>
　もし「真実」という言葉に置き換えた場合は、上の文章は、“自分の「真実」が「真実」である保証を他の誰かに求めたら、その瞬間に、その「真実」は少なくともその人にとっては「真実」ではなかった、ということになる”わけですから、これはもう自明というか、同義反復でしかありえません。<br><br>

　そして、誰の「思考」にも反対しなくなったら、他の誰かに“押しつけてきた”あるいは“預けておいた”「思考」を自分のものとして許容できるようになったわけですから、自分の中でそれまで封鎖してきた「思考」を、自分のものとして認知する準備ができたということだと思います。<br>
　そうなったら、多分、「エゴ」という小さな“記憶庫”へのアクセス権から「大我」という膨大な“記憶庫”へのアクセス権を回復する時期も遠くはないのかもしれませんね。<br>
　「自分」の範囲とは「記憶」の範囲のことにすぎませんから、すべての「記憶」を回復したら、すべてが「自分」になるしかないわけで、「自分」以外には誰もいないのですから、いわばゲームオーバーということだろうと思います。<br>
そうすると、体験ということはできなくなるわけですから、また、「自分」の中の“一点”にフォーカスしてみたくなるかもしれませんけどね。<br>
そうしたら、今度はもっと“楽な夢”や“繊細な夢”にフォーカスするでしょうか。“しんどい夢”にフォーカスすることには興味を持てなくなるでしょうか。
そうかもしれません。<br>
　われわれ地球人だって、いつまでも向丘遊園地の絶叫マシンの面白さを堪能し続けることはできないわけで、何時かはそれに飽きてしまうわけでしょうから。<br>
やっぱりあまり“しんどい夢”にフォーカスしつづけるのは不自然で、起こりえないことなのかもしれませんね。
</font></a>　(2000,5/8)
</td>
</tr>
</table>
<br>
<!--#include virtual="/pari/parts/include/footer.html" -->
<div align=center>
<HR>
<font color="#cc6699" size=-1>【<a href="../index.html">home</a>】　【<a href="../about.html">挨拶</a>】　【<a href="../books/">本棚</a>】　【<a href="../cinema/">映画</a>】　【<a href="../ndic/index.html#0">N辞書</a>】　【<a href="../rdic/index.html#0">R辞書</a>】　【<a href="../view/">随想</a>】　【<a href="../work/">仕事</a>】　【<a href="../mm/index.html#1">通信</a>】　【<A HREF="mailto:parichan@gmail.com">連絡</A>】
</font>
</div>


</BODY>
</HTML>
