<html><head></head><body>
<a href="https://www.youtube.com/@%E3%83%9F%E3%83%8A%E3%83%9FA%E3%82%A2%E3%82%B7%E3%83%A5%E3%82%BF%E3%83%BC%E3%83%AB%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB"><b>ミナミAアシュタールチャンネル　　　　　</b></a>
<a href="https://www.youtube.com/channel/UCR5r-ZjTy9w-fdJ5UfXXelA"><b>ミナミAアシュタールRadio　　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=Th-u04odY-c">R629 　　　　　　　　　　　　　　　　　</a>
<a href="●">R628 　　　　　　　　　　　　　　　　　</a>
<a href="●">R627 　　　　　　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Th-u04odY-c">R626 意志あるところに道は開ける！　　　</a>
<a href="https://www.youtube.com/watch?v=SkBnPla9F80">R625 怒りのエネルギーは上に飛ばしてくだ</a>
<a href="https://www.youtube.com/watch?v=hH7RgM21id4">R624 大きく変わります　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=CgzMh2H1iq0">R623 支配者の一番の脅威は知らん顔です　</a>
<a href="https://www.youtube.com/watch?v=Zu53w1hLeDI">R622 調和とは誰も我慢しないこと　　　　</a>
<a href="https://www.youtube.com/watch?v=FqsLuCJdH6k&t=1s">R621 家族は他人です　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_HQXqfWokHY">R620 それがあなたの楽しいことなんです　</a>
<a href="https://www.youtube.com/watch?v=b9kQRKEU-kk">R619 幸せは遠くにありません　　　　　　</a>
<a href="https://www.youtube.com/watch?v=TbcNCUj1sT8">R618 テラに来た宇宙の意識　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=otdr5-Cl-wg">R617 家とあなたはパートナー･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=8RPTXGaxG0o">R616 分離の世界の濃い経験！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=cIGq2Swdnmw">R615 ブーム世論パニックは簡単に作れる　</a>
<a href="https://www.youtube.com/watch?v=1_BN8AcZY0M">R614 宇宙はひとつではない･･　　　　　　</a>
<a href="https://www.youtube.com/watch?v=aqZHHLXA8cw">R613 人工知能にとって代わられる？？　　</a>
<a href="https://www.youtube.com/watch?v=g_9yszECn6s">R612 気を失うってどゆこと？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rzexJO3zBS0">R611 持ち時間から減っていく１時間･･　　</a>
<a href="https://www.youtube.com/watch?v=2laOLUiGLfI">R610 敵がいる･･という仮想現実！　　　　</a>
<a href="https://www.youtube.com/watch?v=AyQ94xHAwEc">R609 当たり前が当たり前でなくなります　</a>
<a href="https://www.youtube.com/watch?v=60r-eufxiHA">R608 そのうち"空気税"ですかぁ～～？　　</a>
<a href="https://www.youtube.com/watch?v=BG-WXUIS2Bg">R607 エネルギー交換で感じるエクスタシー</a>
<a href="https://www.youtube.com/watch?v=OLpezgxUEO8">R606 すべてテラに任せておけば大丈夫！　</a>
<a href="https://www.youtube.com/watch?v=cFnva4FSKsQ">R605 悪は善の引き立て役？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=R9lwtlnN6zg">R604 過去は記憶　未来は予測！　　　　　</a>
<a href="https://www.youtube.com/watch?v=K01OZ3Xeq_o">R603 高次元的な生き方とはどういうもの？</a>
<a href="https://www.youtube.com/watch?v=Bp3Qmt0bZy8">R602 大阪クロワッサン事件！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=yqYPgRwN2F4">R601 お金の流れがスムーズになってくる　</a>
<a href="https://www.youtube.com/watch?v=Q0bmZjGrNgg">R600 もう、やってられっか！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=uN5x7-DdFtQ">R599 それでもこの世界にいたいですか？　</a>
<a href="https://www.youtube.com/watch?v=jCgAvNuRjdM">R598 幸せ自慢をしてください　　　　　　</a>
<a href="https://www.youtube.com/watch?v=0Tfg7X1Ue-U">R597 法王が認めたおっそろしいニュース　</a>
<a href="https://www.youtube.com/watch?v=fEfdvquxBrA">R596 ビビらないでください　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9xDnopkI9Hk">R595 距離感の取り方はそれぞれです　　　</a>
<a href="https://www.youtube.com/watch?v=lxlXKAa5aqM">R594 グルグルから一方方向へ･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=Og1S0xLQYlk">R593 ムリはしないでくださいね　　　　　</a>
<a href="https://www.youtube.com/watch?v=DAmEUl1bqfY">R592 判断はマインドの領域です　　　　　</a>
<a href="https://www.youtube.com/watch?v=GAkfZ8KbluI">R591 諦めないと執着の違い　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=4K3qMrmVbmo">R590 マインドで望んでいるけどハートは･･</a>
<a href="https://www.youtube.com/watch?v=BqJDUPpr3js">R589 波動領域の二極化　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=PGMu-iDi2A0">R588 彼らの目論見は消える！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=1eSivl-3rJs">R587 あなた達から離れますね　さようなら</a>
<a href="https://www.youtube.com/watch?v=-9mJH0ZoJ9o">R586 感情が現実化のカギです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=54zYjhuh5go">R585 苦労も努力も実際は必要ですよね？　</a>
<a href="https://www.youtube.com/watch?v=bYJTXx8BpZE">R584 私のように爆発する前に･･(苦笑)　　</a>
<a href="https://www.youtube.com/watch?v=YAy5ilzPP-I">R583 仕事か趣味(遊び)なのかわからない？</a>
<a href="https://www.youtube.com/watch?v=ndaujxcpzT0">R582 ネコとリンクする･･　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=g32x2pTe1hU">R581 地球は球体ではなく平面？？　　　　</a>
<a href="https://www.youtube.com/watch?v=9scHDrMbTkg">R580 思い込みの種を見つける方法！　　　</a>
<a href="https://www.youtube.com/watch?v=QcQ8mpIp0do">R579 スキンシップを大切にしてくださいね</a>
<a href="https://www.youtube.com/watch?v=zTd9h45eIAE">R578 殴られたら殴り返す？？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=hSBrn7tACXk">R577 楽しいゲームの過程だと思えば･･　　</a>
<a href="https://www.youtube.com/watch?v=PTQ9qvc5_zc">R576 理由ある反抗　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=teFMtI-ryZM">R575 都合よく我慢してくれるあなたに･･　</a>
<a href="https://www.youtube.com/watch?v=_0e49n_DGsQ">R574 男女の関係は匂いが決め手！　　　　</a>
<a href="https://www.youtube.com/watch?v=9wbfOwq396Y">R573 あなたの身体の周波数　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=JjlszhH6tk8">R572 ワンネスのハーモニー　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=GQqO8533XqE">R571 従わないでいい道は出て来るのです　</a>
<a href="https://www.youtube.com/watch?v=dxsOBl04xSU">R570 "すみません"から"ありがとう"へ　　</a>
<a href="https://www.youtube.com/watch?v=3yH2MR73Sdk">R569 人を動かす、人を巻き込んでいくには</a>
<a href="https://www.youtube.com/watch?v=pBFe_6qT464">R568 共有意識のバランス感覚　　　　　　</a>
<a href="https://www.youtube.com/watch?v=lNzonVQdmIY">R567 これが宇宙のエクスタシーです　　　</a>
<a href="https://www.youtube.com/watch?v=SvadsSL7srk">R566 電磁波が乱れ飛んでいます　　　　　</a>
<a href="https://www.youtube.com/watch?v=0Tsw4HpyE_U">R565 クタクタなのに眠れない･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=JNh4T97uV8k">R564 刺激的なドラマが好き？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=-vSasqM7now">R563 真の自由とはどういうものか･･　　　</a>
<a href="https://www.youtube.com/watch?v=wCU3AINMR0o">R562 戦場跡の兵士の霊とリンクする･･　　</a>
<a href="https://www.youtube.com/watch?v=7dp5aTmRPos">R561 他にも世界はあります　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=a0aItRNEbbo">R560 進化？深化するブログ　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9VDg9vpLqwA">R559 自信がないのはお互いさまなんだな･･</a>
<a href="https://www.youtube.com/watch?v=rtO57YoSH_c">R558 減速する生活･･ダウンシフト！　　　</a>
<a href="https://www.youtube.com/watch?v=PxWBKkYRa90">R557 根拠のない自信を身につけてください</a>
<a href="https://www.youtube.com/watch?v=MKeMykKLhJk">R556 ギブもテイクないのです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=BaHEC911kWw">R555 お金 権力 自己顕示欲 承認欲求･･　　</a>
<a href="https://www.youtube.com/watch?v=JRcZHySfyBY">R554 テラのエネルギーフィールド　　　　</a>
<a href="https://www.youtube.com/watch?v=Kb0nA3gmqM8">R553 我慢の限界だけどどうしていいかわか</a>
<a href="https://www.youtube.com/watch?v=P8xXPTGH1zE">R552 やったもん勝ち??　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Q3imovFXgWk">R551 現実化する思考とはどういう思考？　</a>
<a href="https://www.youtube.com/watch?v=c_PKleu18jQ">R550 プラシーボ・ノセボ効果について　　</a>
<a href="https://www.youtube.com/watch?v=o3TwtHOUYs4">R549 相手にたいしてとても失礼な言葉です</a>
<a href="https://www.youtube.com/watch?v=zWZnRPfj6Ag">R548 コンプレックスを魅力に変える方法　</a>
<a href="https://www.youtube.com/watch?v=l-jFSwMhL9E">R547 お金は必要なんです　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=KkNV01NpZZM">R546 宇宙の中に宇宙がある　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=iJp-B0Sqk4Y">R545 こころと身体はとても繊細なのです　</a>
<a href="https://www.youtube.com/watch?v=Q5BU3zUQuHM">R544 忘れたいけど忘れられない･･　　　　</a>
<a href="https://www.youtube.com/watch?v=ulChXU5tils">R543 仕事ができる人と出来ない人の違い　</a>
<a href="https://www.youtube.com/watch?v=He1OzSLaGSU">R542 ちょっとドキドキするでしょ？　　　</a>
<a href="https://www.youtube.com/watch?v=n2k-Cc3w9bE">R541 波に乗ってください　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7f-RpCABnpU">R540 高次元は何が楽しいのですか？　　　</a>
<a href="https://www.youtube.com/watch?v=cCTqEew_y2s">R539 数ではありませんが数なのですの意味</a>
<a href="https://www.youtube.com/watch?v=pciEYDXLRh8">R538 やりたいことを現実化させる方法！　</a>
<a href="https://www.youtube.com/watch?v=FzlfrsQZpy8">R537 従わなければルールは無効？　　　　</a>
<a href="https://www.youtube.com/watch?v=hrvQNodvLs0">R536 人生の選択の時！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=T3Ly6qRDIIY">R535 眠っても疲れがとれないのは何故？　</a>
<a href="https://www.youtube.com/watch?v=LS5adKcN8I4">R534 それがあなたの１００％です　　　　</a>
<a href="https://www.youtube.com/watch?v=iTv_CfA8Lm0">R533 賢い生き方････　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=BHLgfwaJvp8">R532 なんか変なパラレルに行っちゃった？</a>
<a href="https://www.youtube.com/watch?v=jhXG9AeIO60"><b>R531 頭と身体を一致させてください　　　</b></a>
<a href="https://www.youtube.com/watch?v=350qNBBFVPM">R530 思考の現実化の仕方について　　　　</a>
<a href="https://www.youtube.com/watch?v=ykEvqBd4EE8">R529 “切ります”と宣言してください　　　</a>
<a href="https://www.youtube.com/watch?v=lbFuMOVUmLk">R528 身体の声を聞く･･　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_0CvtTkIaRM">R527 人類が滅亡したら？？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=yOH0iI2_A7U">R526 夢物語に聞こえますか？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=aFEqn6RaPAE">R525 ムリなものはムリなのです　　　　　</a>
<a href="https://www.youtube.com/watch?v=2ao161cxjWs">R524 楽しいこと探しの旅に出ない･･　　　</a>
<a href="https://www.youtube.com/watch?v=gwhwy4fhjFE">R523 真実を知る勇気　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ohh8bkyA2UY">R522 あなたはいくら欲しいですか？　　　</a>
<a href="https://www.youtube.com/watch?v=oW0KiSQdip8">R521 もう我慢の限界です　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=fjQmKGdq3pg">R520 自分の１００％を認めてください　　</a>
<a href="https://www.youtube.com/watch?v=lP12BSq3ef8">R519 無意識の領域に刷り込んでしまったも</a>
<a href="https://www.youtube.com/watch?v=OMlANhyzHFo">R518 未来は未知数なのです　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Ug6AvVchxNQ">R517 思考と感情･･これがワンセットなので</a>
<a href="https://www.youtube.com/watch?v=4ns9P2TEsMM&t=306s"><b>R516 望む現実を"引き寄せる"　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=0YYgdQdSKKw">R515 この世はバーチャルリアリティ　　　</a>
<a href="https://www.youtube.com/watch?v=VeKAYSjKDQs">R514 時間に振り回されないでください　　</a>
<a href="https://www.youtube.com/watch?v=33QHUQnu1As">R513 怖れがピラミッド型社会の基礎なので</a>
<a href="https://www.youtube.com/watch?v=zsEawofyj8U">R512 それはとても損な考え方です　　　　</a>
<a href="https://www.youtube.com/watch?v=w3HwYrlSmAM">R511 みんな自分ファーストで生きているの</a>
<a href="https://www.youtube.com/watch?v=MWAtLF7nC4U">R510 次に進むために･･　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=1ggzRDzUVrs">R509 いろんなエネルギーが飛んでいます　</a>
<a href="https://www.youtube.com/watch?v=MHSzstczBY4">R508 愛は絶対的信頼･･　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=bggxrnJX3Hg&t=52s">R507 自己肯定感低いし仕事も好きじゃない</a>
<a href="https://www.youtube.com/watch?v=pN94RVUjPwc"><b>R506 すべてはここにあります　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=9ki-bGkacrY">R505 それがあなたの特別な才能なのです　</a>
<a href="https://www.youtube.com/watch?v=D2ne31h2Qdg">R504 実は刺激が好き？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=hMfNRQPdP8I">R503 自分を信じる勇気　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ZnUc3NelPTs">R502 揺らぎは変化のチャンスです！　　　</a>
<a href="https://www.youtube.com/watch?v=NHQu6gm0lSk">R501 数字を見なければいいのです　　　　</a>
<a href="https://www.youtube.com/watch?v=UJJ5Aap9B38">R500 子供たちに伝えてください　　　　　</a>
<a href="https://www.youtube.com/watch?v=vybp9QXzN5g">R499 松果体からサーチエネルギーを出す　</a>
<a href="https://www.youtube.com/watch?v=E0aGR57glmo">R498 これが標準の人間です　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=fJLgBZxQ4oY">R497 消えてください　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=KqpGrmJmsZw">R496 胸がザワザワします　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Vvt64F_tVpc">R495 離れることも“愛”　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=l33Q-yZaGHI">R494 世論って誰？　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=tsLnAyx874c">R493 そこから世界の反転がはじまります　</a>
<a href="https://www.youtube.com/watch?v=UNUq1i0ciNQ">R492 混沌状態の中で･･　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=w-7kuHK6G5I">R491 覚悟をするためのエネルギー　　　　</a>
<a href="https://www.youtube.com/watch?v=VgA2Zr5PvSM">R490 予言というミスリード??　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YZs86EBUt7w">R489 物質世界だけがあなたの世界ではあり</a>
<a href="https://www.youtube.com/watch?v=oMZ_bmFAq4c&t=15s">R488 なんでそんな記憶持って来たの？？　</a>
<a href="https://www.youtube.com/watch?v=SQjwe6vNj3k">R487 飛び出すエネルギーにしてください　</a>
<a href="https://www.youtube.com/watch?v=NV5Fqg0WrDI">R486 痛いの痛いの飛んでいけぇ～　　　　</a>
<a href="https://www.youtube.com/watch?v=K11LyBbpjHw">R485 "ノラ猫"ではなく野生のネコなのです</a>
<a href="https://www.youtube.com/watch?v=T3LXB9zAgYk">R484 どちらにハンドルを回す？　　　　　</a>
<a href="https://www.youtube.com/watch?v=0R65m34xoYM">R483 記号はあなたではありません　　　　</a>
<a href="https://www.youtube.com/watch?v=LFgilJ3nmZ4">R482 流星バッジの現実化??　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=WlVOxXnPej0">R481 安く簡単に健康を維持する方法　　　</a>
<a href="https://www.youtube.com/watch?v=_7_DI6uUQUc">R480 射程圏内に入らなければ･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=z3FiH010HdQ">R479 覚悟するってどういうことですか？　</a>
<a href="https://www.youtube.com/watch?v=XwpDNJlTg4k">R478 それは優しさではないのです　　　　</a>
<a href="https://www.youtube.com/watch?v=DSDd5i3Rasw">R477 現実化には感情が必要なのです　　　</a>
<a href="https://www.youtube.com/watch?v=Q693gelF-sA">R476 冷たい考え方だと思いますか？　　　</a>
<a href="https://www.youtube.com/watch?v=b82Ue33LmR0">R475 彼らには責任はない自分たちが悪い??</a>
<a href="https://www.youtube.com/watch?v=p3xUc4-cx2c">R474 見えない存在！　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=issCM61CKhk&t=21s">R473 それを楽しむのがゲームなのです　　</a>
<a href="https://www.youtube.com/watch?v=ozQbTJhx6cY">R472 しっかりと意識を保っていてください</a>
<a href="https://www.youtube.com/watch?v=jk7lfRqmyik">R471 この騒動で顕著に表れていること　　</a>
<a href="https://www.youtube.com/watch?v=pbROW2iefNQ">R470 最後のトリック！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=cw4uvG3QxqM">R469 冷静に離れるという選択　　　　　　</a>
<a href="https://www.youtube.com/watch?v=FcxGQ3XsU-Y">R468 身体は瞬時に治るんです！　　　　　</a>
<a href="https://www.youtube.com/watch?v=S091fgkqvOI">R467 それはとてももったいない時間　　　</a>
<a href="https://www.youtube.com/watch?v=fiDUDcRKjO0">R466 欲求不満ですか？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ewRycN5nyF4">R465 ハートの思いはあなたのパワーの源な</a>
<a href="https://www.youtube.com/watch?v=yYXfVHSYTN4">R464 私、制服が大好きなんです･･　　　　</a>
<a href="https://www.youtube.com/watch?v=NIj3I5oHkNM">R463 彼らは神でないのと同じで召使でもあ</a>
<a href="https://www.youtube.com/watch?v=k4bssw0HpVs">R462 節約レシピ･･ってどうなの？　　　　</a>
<a href="https://www.youtube.com/watch?v=oP4-xJcZcyk">R461 負の世代連鎖というのはないのです　</a>
<a href="https://www.youtube.com/watch?v=oy9Gjo0HT-Y">R460 結婚はめんどくさい･･って（涙）　　</a>
<a href="https://www.youtube.com/watch?v=szStcOiV5bU&t=330s"><b>R459 すべては頭の中からはじまります　　</b></a>
<a href="https://www.youtube.com/watch?v=N_bTd4NUgs0">R458 夢半ばで死んでしまったら･･　　　　</a>
<a href="https://www.youtube.com/watch?v=SOotKOBDt04">R457 似たような糸を見つけて手繰り寄せる</a>
<a href="https://www.youtube.com/watch?v=LdgxvLxERnU">R456 宇宙人･･論争自体がナンセンス！　　</a>
<a href="https://www.youtube.com/watch?v=Po0oFfqG-DM&t=20s">R455 もうすでに個の時代を生きている　　</a>
<a href="https://www.youtube.com/watch?v=Ojs97sC673k">R454 思考の操作　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=MFPI1CHnJXM">R453 見えない檻･･　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=HVo820lT-PA">R452 愛情のバロメーター！　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=8HJQzdXFsO4">R451 あ、涙がたまってる･･　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YNjz4_51RNU">R450 ハーモニーという統合　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=M13Qpa7Bdmk">R449 一番を大切にできなければ他のものも</a>
<a href="https://www.youtube.com/watch?v=cRxIhcbRyNY">R448 威風堂々･･　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=GCmn7pz58yg">R447 ５億あったらあなたは何をしますか？</a>
<a href="https://www.youtube.com/watch?v=fIzmVmJ-KQ8">R446 女性ならばボンッ･キュウ･ボンッ??　</a>
<a href="https://www.youtube.com/watch?v=ZgZeGs4hH4w">R445 結果が出ない＝失敗??　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=A7oJPrBvXcI">R444 恥ずかしさ不感症！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7J7KAH9gGbQ">R443 後悔しないために　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=OV-fYALuY2E">R442 受け取り上手になる　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=0k0_b7R_Ovg">R441 お金の話はタブー　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=uMloLjR0jx4">R440 言い訳のために創る現実　　　　　　</a>
<a href="https://www.youtube.com/watch?v=lnj1HBz3sT0">R439 雰囲気を感じることと空気を読むこと</a>
<a href="https://www.youtube.com/watch?v=TwXwvWMBrLs">R438 もうすみ分けましょうよぉ～～　　　</a>
<a href="https://www.youtube.com/watch?v=O0tuVWNS1gA">R437 口ぐせ、思考のくせ　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=XY0pRJJXwwM">R436 好きな世界にいるだけ･･　　　　　　</a>
<a href="https://www.youtube.com/watch?v=WPk4d5TW_-A">R435 真実は手品のタネと同じです　　　　</a>
<a href="https://www.youtube.com/watch?v=8sw6YPJLf84">R434 習慣って･･恐ろしい(笑)　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7k8pUpHnyrQ">R433 その場その場で決めていく方法　　　</a>
<a href="https://www.youtube.com/watch?v=LDrDcLZh9ek"><b>R432 真実がわかれば心配はなくなります　</b></a>
<a href="https://www.youtube.com/watch?v=nMQKkDQlEFw">R431 お金に関してもっとシンプルに考えて</a>
<a href="https://www.youtube.com/watch?v=vgGaRW7e6aI">R430 健康は不健康？　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ICb9F7actD0">R429 どうしてイヤな人を自分の現実にいれ</a>
<a href="https://www.youtube.com/watch?v=1QG0Dny4OKA">R428 例のあの人･･の件ですが･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=xlTZE01cQ0c">R427 あなた達の社会システムの根本を知る</a>
<a href="https://www.youtube.com/watch?v=LLYzW7jGzl0">R426 どちらの飴にしますかぁ～～？　　　</a>
<a href="https://www.youtube.com/watch?v=8tsjPwW8OPw">R424 すべてはあなたのために･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=bAMGvvPYWRc">R423 見届けないお金を出すのは無責任だと</a>
<a href="https://www.youtube.com/watch?v=yKTUrQjwg1k">R422 脳キュン･･　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=XRBl5eXBLd4">R421 グレートリセット？　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=aewvNPO3mrs">R420 簡単なレシピ！　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=qxt3BjQeswI">R419 もう一歩先に自由があります　　　　</a>
<a href="https://www.youtube.com/watch?v=ZQGiAXSs-8s">R418 アシュタールからのメッセージです　</a>
<a href="https://www.youtube.com/watch?v=MuBA7JdqRQ8">R417 試行（思考）錯誤してください　　　</a>
<a href="https://www.youtube.com/watch?v=qm-KxD_2Rl8">R416 自分で創るオーダーメイドの世界　　</a>
<a href="https://www.youtube.com/watch?v=cNuDVZkPmaI">R415 3000倍の意味！　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Rqo4wbLxXjM">R414 三角から丸へ　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YSxFJfCYPvk">R413 正気に戻った人々　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rcDPEuVpO3w">R412 ブループリントを思い出すために････</a>
<a href="https://www.youtube.com/watch?v=lKCUJ_3Z41Q">R411 今回すごく違和感を感じたのは･･　　</a>
<a href="https://www.youtube.com/watch?v=IRo3TroOB_g">R410 繋がってしまった過去のエネルギーを</a>
<a href="https://www.youtube.com/watch?v=sITEiwRZjRQ">R409 没個性で思考停止で無感情で無表情な</a>
<a href="https://www.youtube.com/watch?v=2w9ZL8vfJUc">R408 これ以上好きになりたくないんです･･</a>
<a href="https://www.youtube.com/watch?v=BKh7jNDTSIg">R407 税金に対して意識を変えてください　</a>
<a href="https://www.youtube.com/watch?v=9CuN-nLzJmk">R406 最高レベルの“祝文”　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_iM7zjRaBe4">R405 庭にネコがフンをして困っています　</a>
<a href="https://www.youtube.com/watch?v=GJuhN0hbzxw">R404 感情は“波動使い”の杖！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=gnYYj7L6HEU">R403 我慢の果てに手に入れたもの　　　　</a>
<a href="https://www.youtube.com/watch?v=5X-YZk_Trhk">R402 お金が欲しいと思うなら･･　　　　　</a>
<a href="https://www.youtube.com/watch?v=2_OBRHsq0bI">R401 自由ということをもう少し考えてみて</a>
<a href="https://www.youtube.com/watch?v=F9VRW9jcynA">R400 “波動使い”のためのエクササイズ２　</a>
<a href="https://www.youtube.com/watch?v=NyBhcs6XWno">R399 あなたのパラレルワールドは変わるの</a>
<a href="https://www.youtube.com/watch?v=QIEarjITNRo">R398 あなたのアイデンティティーが宇宙を</a>
<a href="https://www.youtube.com/watch?v=atv3r_EBQGo">R397 高次元領域と共振するカギ　　　　　</a>
<a href="https://www.youtube.com/watch?v=g8sz9wt2o_8">R396 どのパラレルワールドを選びますか？</a>
<a href="https://www.youtube.com/watch?v=eem1RwYVSA8">R395 みんなが無表情無感情な社会をイメー</a>
<a href="https://www.youtube.com/watch?v=Ejl6BuvOhZo">R394 違う世界に紛れ込んだ??　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Va_WM78_5qM">R393 魅力的な身体･･　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=vQgNimRQN5I">R392 “波動使い”のためのエクササイズ！　</a>
<a href="https://www.youtube.com/watch?v=KyebUpLvpRE">R391 もうすでに罠にはまってる??　　　　</a>
<a href="https://www.youtube.com/watch?v=aidDKwBAorI">R390 魔法使いと波動使い　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=LT8p1Fd_S88">R389 誰かのエネルギーの渦に巻きこまれて</a>
<a href="https://www.youtube.com/watch?v=sxMt3lQvZKU&t=33s">R388 簡単に思考を現実化する方法！　　　</a>
<a href="https://www.youtube.com/watch?v=X3lblAVC-70">R387 変な人になってください　　　　　　</a>
<a href="https://www.youtube.com/watch?v=VRCmEj0dpaw">R386 ボ～～っとして超感覚を思い出す　　</a>
<a href="https://www.youtube.com/watch?v=lPM7KKF6Uvo">R385 見せつけるための幸せ？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=DT7gZ0-4j9o">R384 パラレルワールドを意図的に変えた??</a>
<a href="https://www.youtube.com/watch?v=appIz5hxvNA">R383 ワンネスと二極化の関係　　　　　　</a>
<a href="https://www.youtube.com/watch?v=iQulab9jT0Q">R382 あなたはクリエーターなのです　　　</a>
<a href="https://www.youtube.com/watch?v=7UYqjR3tjV4">R381 天国と地獄はあなたが創る？　　　　</a>
<a href="https://www.youtube.com/watch?v=qIU8G9YtgvY">R380 あとはお任せ！　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=CMfk6Jl0tuI">R379 なぜ三角の社会に生まれて来たのか　</a>
<a href="https://www.youtube.com/watch?v=aVZDfP8zb4A&t=36s">R378 気に入らなければ変えればいい　　　</a>
<a href="https://www.youtube.com/watch?v=9J_xx1-YLKk">R377 人は納得できなければ動かないのです</a>
<a href="https://www.youtube.com/watch?v=jDLRiOJQJK0">R376 イケメンを見たら･･　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Ej0IwlTwuu8">R375 直感はあなたの答えです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=OqkKLbavASM">R374 超感覚を思い出すことについて　　　</a>
<a href="https://www.youtube.com/watch?v=kFYdSAorhl8">R373 もう主人と会えないの？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=UKAwb3R1eV4">R372 私にはそれをする能力がありますか？</a>
<a href="https://www.youtube.com/watch?v=MCOYWk9YBt4">R371 人は人自分は自分･･それでいいのです</a>
<a href="https://www.youtube.com/watch?v=yQyo93x2Gq8">R370 ピラミッド社会はもうスカスカ　　　</a>
<a href="https://www.youtube.com/watch?v=vngVN58lIFw">R369 とにかく離れることだけを考えてくだ</a>
<a href="https://www.youtube.com/watch?v=EYZlnfXlWV0">R368 頭では分かっているんだけどねぇ～～</a>
<a href="https://www.youtube.com/watch?v=E8eJ-cf1Ukc">R367 期待すればツラくなります　　　　　</a>
<a href="https://www.youtube.com/watch?v=Nx6gcWwpUOs">R366 ピラミッドの目を見返す　　　　　　</a>
<a href="https://www.youtube.com/watch?v=KmPQz4Y7F4o">R365 お化けが見えたときは･･　　　　　　</a>
<a href="https://www.youtube.com/watch?v=1MDXelU9H4Y">R364 ピラミッドの目の意味について　　　</a>
<a href="https://www.youtube.com/watch?v=4-sP97Sbddk">R363 強制されるのがイヤなんですよ　　　</a>
<a href="https://www.youtube.com/watch?v=I0TdIux5U8M">R362 瞬間忘却能力･･ばんざ～い　　　　　</a>
<a href="https://www.youtube.com/watch?v=yfzlUS8bwpM">R361 お金はいらないでも欲しい･･欲しいけ</a>
<a href="https://www.youtube.com/watch?v=G_gtF07FAjg"><b>R360 ある意味障害物レース？　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=mWMcbeCrnZQ">R359 あなたは私私はあなた･･でも私は私あ</a>
<a href="https://www.youtube.com/watch?v=3q0016Y44N4">R358 満員電車に乗りたくなければ･･　　　</a>
<a href="https://www.youtube.com/watch?v=d4vVVDUQeTA">R357 エネルギー場から情報を取り出す方法</a>
<a href="https://www.youtube.com/watch?v=hwP5KMvCABo">R356 幽霊　宇宙人はあなたの隣にいます　</a>
<a href="https://www.youtube.com/watch?v=a3brWtqOXmg">R355 肯定する世界　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=FFWxLM4wadI">R354 私であるあなたへ　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=0KMQCSNr-g8">R353 最後の食事だと思えば･･　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7gE1H489G-Q">R352 スーパーマンは･･誰？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=NO7nkIKDBDY">R351 ベーシックインカムの罠　　　　　　</a>
<a href="https://www.youtube.com/watch?v=DC0dpwwvMkE">R350 消費税なんて怖くない　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=djiGLbGbjqY">R349 ５次元領域は魔法のようなところでは</a>
<a href="https://www.youtube.com/watch?v=g8FY_zcSwJ4">R348 幸せが当たり前　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ZdaiPYTU-uA">R347 柔軟でいてください　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7kOXrsLmSxk">R346 お金の増やし方　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=MFd3peSPXz8">R345 パートナーとの関係を修復したいんだ</a>
<a href="https://www.youtube.com/watch?v=cNW_Elp9suM">R344 エネルギーバンパイアの世界　　　　</a>
<a href="https://www.youtube.com/watch?v=3y0CgfN8lA4">R343 正体がわからないから怖いのです　　</a>
<a href="https://www.youtube.com/watch?v=mN4tIP3qYKc">R342 泡のように･･　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9RRBtk6cL6c">R341 庶民の力はすごい！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=mneQ_5mCwA0">R340 個がすべてを決める時代なのです　　</a>
<a href=" https://www.youtube.com/watch?v=5S-477DfMNY">R339 あなたにとって一番のパワースポット</a>
<a href="https://www.youtube.com/watch?v=NbC9PKLwLhE">R338 超能力を･･　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=B2jdIZOTygc">R337 これが波動領域を消えるということで</a>
<a href="https://www.youtube.com/watch?v=Ao-Iuww9C-k">R336 テラ(地球)に向かって語り掛けてみて</a>
<a href="https://www.youtube.com/watch?v=McEkAJtO0wE">R335 好きな人と仲良くなりたい･･どうした</a>
<a href="https://www.youtube.com/watch?v=Q_Y6jfyzpBk">R334 完全無欠の存在などいないのです　　</a>
<a href="https://www.youtube.com/watch?v=wQAghAFfoxc">R333 一番おかしなこと･･　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=lYQ6_wH6BB0">R332 蕎麦かラーメンか･･それが問題だ(笑)</a>
<a href="https://www.youtube.com/watch?v=8IoRLzi_zIM">R331 学校教育の弊害？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=5kLeJ_8Ahvo">R330 成長と進化の違い　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=PNgZZg_uHJM">R329 あなたが創っている時間を使いこなし</a>
<a href="https://www.youtube.com/watch?v=_fnGYulLGUc">R328 現実をどの角度で見るか　　　　　　</a>
<a href="https://www.youtube.com/watch?v=bIWUMqFflkg">R327 あなたを守ることができるのはあなた</a>
<a href="https://www.youtube.com/watch?v=PGIIRwBbuT4">R326 見えないところが大切なのです　　　</a>
<a href="https://www.youtube.com/watch?v=5Tgv8kEMs5w">R325 他のウイルスではどうでしょうか？　</a>
<a href="https://www.youtube.com/watch?v=6WBDxBhEmAQ">R324 だからあなたに見えるのです　　　　</a>
<a href="https://www.youtube.com/watch?v=BWxIFxrOtcM">R323 世界政府を提案だって！！　　　　　</a>
<a href="https://www.youtube.com/watch?v=CDLigi7DCv4">R322 動き出した現実にブレーキをかける　</a>
<a href="https://www.youtube.com/watch?v=k62VIi4c1V8">R321 あなたが描く自由な生活　　　　　　</a>
<a href="https://www.youtube.com/watch?v=WIliZf-jHiI">R320 超３次元アシュタール人生相談のコー</a>
<a href="https://www.youtube.com/watch?v=A2dcMWN4STQ">R319 どこまで走ってもゴールは無い　　　</a>
<a href="https://www.youtube.com/watch?v=Kn6xehNFaUg">R318 ひょんなところからひょんひょんと･･</a>
<a href="https://www.youtube.com/watch?v=DKWoJnlglOc">R317 人類がかかえている問題　　　　　　</a>
<a href="https://www.youtube.com/watch?v=w039fTr4l9U">R316 怒ると電球飛ばす人…　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=7c6MuV6qMyA">R315 好きなパラレルワールドと“いま”を　</a>
<a href="https://www.youtube.com/watch?v=Kr3N5Or1Sa8">R314 早ければいい…というものではない　</a>
<a href="https://www.youtube.com/watch?v=Fs6udrGlK40">R313 目に見えない世界　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=WohGEgUAynY">R312 悟りとは･･　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=GNy9gaz9Wao">R311 そのまま冷静でいてください　　　　</a>
<a href="https://www.youtube.com/watch?v=B34eMocBbhc">R310 いま破壊の方向へ行こうとしています</a>
<a href="https://www.youtube.com/watch?v=6PP_xWS8pLE">R309 個人事業主＝個の時代ではないのです</a>
<a href="https://www.youtube.com/watch?v=eIjhOK5-_I4">R308 真逆の世界　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=3WRes1SUHQ0">R307 いまのあなたの不安心配は幻なのです</a>
<a href="https://www.youtube.com/watch?v=__l0tssiSR0">R306 二極化が進んでいます　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=XznZB-RFD9E">R305 知らないことがある…ということを知</a>
<a href="https://www.youtube.com/watch?v=5s-JFMxB_VQ">R304 パラレルワールドを移行する大きなカ</a>
<a href="https://www.youtube.com/watch?v=oSbTzQWwwD8">R303 ルール、ルール、ルール、ルール･･　</a>
<a href="https://www.youtube.com/watch?v=NdFfOkVexOM">R302 魔法を求めないでください　　　　　</a>
<a href="https://www.youtube.com/watch?v=19kLaxm8t6A">R301 未来･･次に来る”いま”はあなたが決</a>
<a href="https://www.youtube.com/watch?v=mpq_o9kRMZw">R300 ツールの使い方　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=jgaM_dToi_M">R299 想像＝計画ではありません　　　　　</a>
<a href="https://www.youtube.com/watch?v=VKT2yJfNEBE">R298 ラインを切ればいいんです(笑)　　　</a>
<a href="https://www.youtube.com/watch?v=WsGvOELkDj4">R297 予言は意図的に作られたものが多い？</a>
<a href="https://www.youtube.com/watch?v=n6HKJAZld88">R296 成長とは何でしょうか？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Jk8XWVXS9Hs">R295 お互い好きなことをしましょうね　　</a>
<a href="https://www.youtube.com/watch?v=ynoeW33yAz0">R294 積極的に自分で選択してください！　</a>
<a href="https://www.youtube.com/watch?v=F1GGMb1-3vA">R293 過去の記憶をなぞる？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ms0Jq35cRnA">R292 堂々としていてください！　　　　　</a>
<a href="https://www.youtube.com/watch?v=M2Ye910FzUk">R291 我慢できる人とできない人の違い　　</a>
<a href="https://www.youtube.com/watch?v=5oyX9Gn2vug">R290 光･色･音のハーモニー　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=wV-3VU-3Pl4">R289 コントロールのエネルギーって　　　</a>
<a href="https://www.youtube.com/watch?v=IPud3zxxWWI">R288 ちょっと高度なテクニックになります</a>
<a href="https://www.youtube.com/watch?v=sSuxplunKOI">R287 良いエネルギーってどんなエネルギー</a>
<a href="https://www.youtube.com/watch?v=-BLN4UVvbn8">R286 流行るお店の作り方！　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=958KW5rE9_o">R285 あなたの中のスーパーコンピューター</a>
<a href="https://www.youtube.com/watch?v=rNSYwF6RMnY">R284 私‥未来を見たの？　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=j2TzaCn8T1M">R283 小さくするように意識してください　</a>
<a href="https://www.youtube.com/watch?v=IKyZkT_Etkk">R282 私たちが毎日お伝えしてること　　　</a>
<a href="https://www.youtube.com/watch?v=8DjsiyKhIoc"><b>R281 マトリックスは崩壊する？？　　　　</b></a>
<a href="https://www.youtube.com/watch?v=cAI_6s38VN8">R280 無関心と自由への介入　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=-ai7-Ol_GAM">R279 これを手放したから次が出てきた　　</a>
<a href="https://www.youtube.com/watch?v=x2u8t38k3l0">R278 寝たい時に寝て起きたい時に起きる生</a>
<a href="https://www.youtube.com/watch?v=rNf1sG0dkZM">R277 何もしないでください　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9Sivkml9QM0">R276 絶対にないなと思っている人が恋愛対</a>
<a href="https://www.youtube.com/watch?v=TzD_DVlt-BA">R275 次(タイムライン)を予想してください</a>
<a href="https://www.youtube.com/watch?v=5eFSLaPnayk">R274 それって憑依？　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=5wU3FFCN_qw">R273 あなたは個人事業主です　　　　　　</a>
<a href="https://www.youtube.com/watch?v=CrzJVAJYzsU">R272 パラレルワールドの移行の仕方　　　</a>
<a href="https://www.youtube.com/watch?v=RprIjtthUL8">R271 すべては遺伝子で決まる??　　　　　</a>
<a href="https://www.youtube.com/watch?v=g2jwn7HAMoY">R270 本当に騒々しいですね　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=d8vU285s_oU">R269 内緒で言っちゃいます　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_0EsZbFHbCo">R268 未来は食べられないニンジンなのです</a>
<a href="https://www.youtube.com/watch?v=T4O03nMJLFw">R267 人類は万物の霊長？人類だけが特別？</a>
<a href="https://www.youtube.com/watch?v=ETwwwHWefGs">R266 個の時代に必要なこと　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=c1o9BKboNG4">R265 自信に満ちあふれた社会　　　　　　</a>
<a href="https://www.youtube.com/watch?v=aWq2tn-umqA">R264 病名が増えてますねぇ～　　　　　　</a>
<a href="https://www.youtube.com/watch?v=N2h5CNcAjik&t=459s">R263 ただ楽しく遊びたいだけなのです　　</a>
<a href="https://www.youtube.com/watch?v=c_B-IISHf8M">R262 感覚があなたを新しい世界に導いてく</a>
<a href="https://www.youtube.com/watch?v=5iJRy0yNR5U">R261 マイブームだよねぇ～　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=6bhChtKZ-Lo">R260 悟り･･とは？　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=wsFAGwHeVVE">R259 あなたなりの選択肢　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=UUooh4-eVDc">R258 これよね、これ！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rgjnBFa8wP4">R257 無意識の暴走を止めるには･･　　　　</a>
<a href="https://www.youtube.com/watch?v=twK1wOo9jnY">R256 ホント、ムチャクチャですよね～　　</a>
<a href="https://www.youtube.com/watch?v=mhtqmvVJEnE">R255 モフモフはどこに？　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=MQ1teCkpXtw">R254 リーダーとはその程度のものです　　</a>
<a href="https://www.youtube.com/watch?v=4KjIf03KC6w">R253 原因がわかれば解決方法もわかるので</a>
<a href="https://www.youtube.com/watch?v=KHu-cezLlI8">R252 あなたの思考、価値観の結果なのです</a>
<a href="https://www.youtube.com/watch?v=cvrUVCrq5yM">R251 時間を自由にコントロールする？　　</a>
<a href="https://www.youtube.com/watch?v=VMfZjD-MI2s">R250 すべては奇跡なのです　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2ct6Mt10MvE">R249 分離・二極化が大きくなってきます　</a>
<a href="https://www.youtube.com/watch?v=IOkuVtlVaiY">R248 他の人のためではなく自分がやりたい</a>
<a href="https://www.youtube.com/watch?v=tCfRhmE0D1Y">R247 イヤなものはイヤおかしいものはおか</a>
<a href="https://www.youtube.com/watch?v=iAqRsbyiHtc">R246 ブループリントは変更可能だそうです</a>
<a href="https://www.youtube.com/watch?v=-7i4Vn0QSR8">R245 あなたの身体も宇宙なのです　　　　</a>
<a href="https://www.youtube.com/watch?v=bAIzeZ2HbxQ">R244 お役目？ですか？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Ap6fFrsyOno"><b>R243 契約の破棄はどうすればいいですか？</b></a>
<a href="https://www.youtube.com/watch?v=Hc6Ox_IeRTg"><b>R242 エネルギーバンパイアができるまで　</b></a>
<a href="https://www.youtube.com/watch?v=5tCKiia0X3M">R241 悟りという言葉　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rfEDzunsaRw">R240 あなたが人に干渉しなければ･･　　　</a>
<a href="https://www.youtube.com/watch?v=Ko8yg3ZbtLk">R239 アシュタールの目的は何ですか？　　</a>
<a href="https://www.youtube.com/watch?v=uPKgfqE4A2Q">R238 それがあなたの世界なのです　　　　</a>
<a href="https://www.youtube.com/watch?v=M3BRizkYL3k">R237 目に見えない存在のいたずら？　　　</a>
<a href="https://www.youtube.com/watch?v=w58DPpWQhjM">R236 私ひとり楽しむなんて不謹慎？　　　</a>
<a href="https://www.youtube.com/watch?v=mVPxOKluRBs">R235 苦手なエネルギーがあるんです　　　</a>
<a href="https://www.youtube.com/watch?v=p7jY-MRJmiY">R234 私の・生まれた・意味　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ezliW-q7qgA">R233 それが愛するということです　　　　</a>
<a href="https://www.youtube.com/watch?v=3IOt_269aJM">R232 もし明日なくなったとしたら？　　　</a>
<a href="https://www.youtube.com/watch?v=Ft8ZjPIzJh8">R231 少子化って何が問題なの？　　　　　</a>
<a href="https://www.youtube.com/watch?v=sqmjVhcjT4k"><b>R230 契約書があったんです(驚)　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=_vek5WLabfQ"><b>R229 無意識を意識に持ってくる　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=fn6tIywZGY4">R228 自分と対立しないでください　　　　</a>
<a href="https://www.youtube.com/watch?v=LCKEPsxXAmo">R227 あなたの後ろに霊がいる？？　　　　</a>
<a href="https://www.youtube.com/watch?v=LxjMoqCI0Ts">R226 ダイエットにもなりますよ～　　　　</a>
<a href="https://www.youtube.com/watch?v=RGoGQJ7Dgs4">R225 こんなことが仕事になるの？　　　　</a>
<a href="https://www.youtube.com/watch?v=SVTiPWMUsUg">R224 お金さえあれば…　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=MzatuGfTS4I">R223 掃除すると波動は軽くなる？　　　　</a>
<a href="https://www.youtube.com/watch?v=-VHi6x9z4Hw">R222 あなたの知らない世界　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rkVAvu__UBs">R221 縄文の人たちは薬とか使わなかったん</a>
<a href="https://www.youtube.com/watch?v=DbkqVMeH5UY">R220 ネコに怒られる‥という‥　　　　　</a>
<a href="https://www.youtube.com/watch?v=D7UhrekAonw">R219 AI vs 人類の戦争？　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=HH2JzZZLYAo">R218 ニューバージョンで遊ぶ？　　　　　</a>
<a href="https://www.youtube.com/watch?v=ohKZ1Th8xx0">R217 大きな変化へとつながります　　　　</a>
<a href="https://www.youtube.com/watch?v=bbIyWZYQ1Sc">R216 決められない‥だから悩む　　　　　</a>
<a href="https://www.youtube.com/watch?v=KED6BdxCu2s">R215 それが一番の健康法なのです　　　　</a>
<a href="https://www.youtube.com/watch?v=wLmk6EX-mZQ"><b>R214 宇宙はここからはじまった　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=mHErKMZQRH0">R213 波動使い＝人間離れ??　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=IpsCjE4hdOI">R212 想像→創造　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=GBOjifb0W2Q">R211 思考を変えるためにはやはり瞑想？　</a>
<a href="https://www.youtube.com/watch?v=E5GH1IiqrDA">R210 気迫の問題‥だそうです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=M5XTbnKF50Y">R209 幸せは遺伝する！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ZDgSBkOCFRg">R208 そこ考えなくてもいいんじゃない??　</a>
<a href="https://www.youtube.com/watch?v=7d6c_xciVI0"><b>R207 あなたの頭の中は自由です　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=3x_iLcWQpGI"><b>R206 ３次元よりの５次元　　　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=OIBnvY6td6U">R205 星たちは答えてくれます　　　　　　</a>
<a href="https://www.youtube.com/watch?v=kIm12nRwAng&t=625s">R204 雰囲気＝テレパシー　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=yr12NbKxzy0">R203 それが一番早くて確実な方法なのです</a>
<a href="https://www.youtube.com/watch?v=kLXVWtkzpaY"><b>R202 エネルギーを相殺してください！　　</b></a>
<a href="https://www.youtube.com/watch?v=nbuIdhOYK_4">R201 思考エネルギーは無限になんでも出来</a>
<a href="https://www.youtube.com/watch?v=7H_KszVP5SQ">R200 高貴で特別な○○など存在しない！　</a>
<a href="https://www.youtube.com/watch?v=CC2YDErLYRk">R199 言葉を駆使して印象操作　　　　　　</a>
<a href="https://www.youtube.com/watch?v=z6MBL8MMhaQ">R198 天国 地獄 輪廻転生‥　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Dxm0Fn70SSI">R197 お金に特別な意味を持たせないでくだ</a>
<a href="https://www.youtube.com/watch?v=8zsqq_jGdsE">R196 バージョンアップのための更新中…　</a>
<a href="https://www.youtube.com/watch?v=ihCqwsoRuhg">R195 リーディングというツール　　　　　</a>
<a href="https://www.youtube.com/watch?v=QJ4wW2hNK-k">R194 ハートは冒険を求めている！　　　　</a>
<a href="https://www.youtube.com/watch?v=uV-0UTqxhqI">R193 波を上手に使ってください　　　　　</a>
<a href="https://www.youtube.com/watch?v=TtlGBhWXNBk">R192 ハートは多次元領域　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=fPgAjyz2zrI">R191 お金も空気も同じエネルギー　　　　</a>
<a href="https://www.youtube.com/watch?v=mS46mBaZFQY">R190 ほんの小さな出来事がパラレルワール</a>
<a href="https://www.youtube.com/watch?v=k6p9IVUC5Iw">R189 あなたの思考のパワーを信じてくださ</a>
<a href="https://www.youtube.com/watch?v=MTDdsU8FeJE">R188 いまあなたは十分豊かです　　　　　</a>
<a href="https://www.youtube.com/watch?v=fEN-hBeAM9s">R187 あなたの現実からその人達はいなくな</a>
<a href="https://www.youtube.com/watch?v=NgrUs5g1JDw">R186 ご機嫌さんが世界を変える！　　　　</a>
<a href="https://www.youtube.com/watch?v=A7QiCBEFS74">R185 あなたの中の混乱を収める方法　　　</a>
<a href="https://www.youtube.com/watch?v=rglot0wAulg">R184 パラレルワールド･･ですか･･　　　　</a>
<a href="https://www.youtube.com/watch?v=q1I6zMe8j8M">R183 最後のカギになるのは感情なのです　</a>
<a href="https://www.youtube.com/watch?v=hpJcnZRxVc8">R182 大切なパートナー　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=goFk9h9iyM8">R181 人間を大いに楽しんでください　　　</a>
<a href="https://www.youtube.com/watch?v=54HYI8rZPmQ">R180 少し誤解があるようですが･･　　　　</a>
<a href="https://www.youtube.com/watch?v=n4v-lnHAt6M">R179 ケースバイケースで使ってください　</a>
<a href="https://www.youtube.com/watch?v=Zpi_M4JexZo">R178 感動の日々です　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ebgfeCB-d9k">R177 重い波動にフォーカスすれば　　　　</a>
<a href="https://www.youtube.com/watch?v=JjoEgzyuZSI">R176 サルの惑星‥　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2eVIpiH7JQY">R175 フリーエネルギーについて　　　　　</a>
<a href="https://www.youtube.com/watch?v=rg6cpNvTHw8">R174 破・常識のススメ！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=0B2ND-pVLSM">R173 外側にはたくさんの世界があります　</a>
<a href="https://www.youtube.com/watch?v=rYR84zuhKvA">R172 あなたを怖がらせる作り話！　　　　</a>
<a href="https://www.youtube.com/watch?v=AZXIkP14HyA">R171 好きなことは仕事にできる　　　　　</a>
<a href="https://www.youtube.com/watch?v=pux09zLGICY">R170 自粛ということに関して　　　　　　</a>
<a href="https://www.youtube.com/watch?v=owlNAgMM9To">R169 むやみに手を合わせ願いごとをしない</a>
<a href="https://www.youtube.com/watch?v=hbO_XdhElO4">R168 あの人は光の存在ですか？　　　　　</a>
<a href="https://www.youtube.com/watch?v=1TgK8AuudJ4">R167 ただでさえ過酷な環境にいるのですか</a>
<a href="https://www.youtube.com/watch?v=6s-aIvAQ3fs">R166 宇宙的観点から見る　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=toiCeH-2jgw">R165 ちょっとずつ手を貸し合う生活　　　</a>
<a href="https://www.youtube.com/watch?v=szKP32d6rCY">R164 時間も変えることが出来るんです　　</a>
<a href="https://www.youtube.com/watch?v=F7OUr0a2hBQ">R163 結局お金が必要なんじゃないですか？</a>
<a href="https://www.youtube.com/watch?v=e1U4gRmJ0xs">R162 感謝 尊敬 尊厳のエネルギーです　　</a>
<a href="https://www.youtube.com/watch?v=QbTOsnA5L2Q">R161 未来の自分の目で見てください　　　</a>
<a href="https://www.youtube.com/watch?v=NVjsgSYli24">R160 エネルギーをとる方法！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2BM-1f1ycm8">R159 身体柔らかい方ですか？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=UqtXUGtVlGs">R158 誇りは高くプライドは低く　　　　　</a>
<a href="https://www.youtube.com/watch?v=Kcvz5zE_-3E">R157 これが波動使いなのです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=C--ngy0LJlQ">R156 柵の外にある光にフォーカスする！　</a>
<a href="https://www.youtube.com/watch?v=vCpV1rRALd8">R155 次はあなたの番です！　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=q9RMFcsbacc">R154 私は多次元的存在？　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=wGytxY2zIFk">R153 ご機嫌さんとお金の問題について　　</a>
<a href="https://www.youtube.com/watch?v=UcCUsPfPg04">R152 変化は素晴らしいものです　　　　　</a>
<a href="https://www.youtube.com/watch?v=BzYgwVAEJDM">R151 ザ・仕事！　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_5Rl30Y-O84">R150 お金のブロック！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=WTtiEhBfw20"><b>R149 テラは人類のような判断はしません　</b></a>
<a href="https://www.youtube.com/watch?v=tmS4CmJ6w4A">R148 アシュタールでもわからないのぉ～？</a>
<a href="https://www.youtube.com/watch?v=5zW7b5tkLeg">R147 私たちはすごく少数派！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=zkYH2Ga5CXs">R146 役に立つ人･･？　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=hwKFNIN0mKk">R145 ウイルス騒ぎのミスはイメージを優先</a>
<a href="https://www.youtube.com/watch?v=E_6BcOAAPUc">R144 アシュタールからのメッセージです！</a>
<a href="https://www.youtube.com/watch?v=dpa5SPjyMSA">R143 コントラバスとドラムにチャレンジし</a>
<a href="https://www.youtube.com/watch?v=sk2LO0wb-aQ">R142 もう少し深いところへ‥　　　　　　</a>
<a href="https://www.youtube.com/watch?v=P61_0HQBLwA">R141 波動が軽い＝現世的な利益が得られる</a>
<a href="https://www.youtube.com/watch?v=eRpPcnlzyiM">R140 現実感がないんです　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=H6ROkPMFVhM">R139 とにかくやってみる‥これです！　　</a>
<a href="https://www.youtube.com/watch?v=bGqYIPW2Gpg">R138 商業的な目的のための自然破壊！　　</a>
<a href="https://www.youtube.com/watch?v=kddLkBhV8kI">R137 おかしいことをおかしいという権利　</a>
<a href="https://www.youtube.com/watch?v=HxIzRHmL8PM">R136 今向かっているのは個の世界です　　</a>
<a href="https://www.youtube.com/watch?v=NFHkFRt51wA">R135 楽しく仕事をする権利　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=CFSw3sbH_rk"><b>R134 これさえわかれば・・　　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=mKPIMszhWA0">R133 急転直下？うっそ～ん‥　　　　　　</a>
<a href="https://www.youtube.com/watch?v=rzf0s0UpQJA">R132 歴史のはじまりを知ってください　　</a>
<a href="https://www.youtube.com/watch?v=Tno8SLkT9xA">R131 ハートが喜ぶことがあなたの幸せなの</a>
<a href="https://www.youtube.com/watch?v=KIy3_unDTiQ">R130 瞑想が大きなカギとなります　　　　</a>
<a href="https://www.youtube.com/watch?v=2MU9mCYWqhQ">R129 無意識に瞬時に出る言葉　　　　　　</a>
<a href="https://www.youtube.com/watch?v=6__knBnP4Wg">R128 過去のエネルギーラインを切る　　　</a>
<a href="https://www.youtube.com/watch?v=jmSodNBMsSY">R127 前世という言葉は‥　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=3ZYOlUeGCOE">R126 ホログラムが透けてくる　　　　　　</a>
<a href="https://www.youtube.com/watch?v=R1orAKX8fXc">R125 科学的に証明できないものはない…と</a>
<a href="https://www.youtube.com/watch?v=TWbs7_Av3PU"><b>R124 受け入れるってどういうこと？　　　</b></a>
<a href="https://www.youtube.com/watch?v=q7RYsPU3FVM">R123 ワンネスの感覚を思い出すことが出来</a>
<a href="https://www.youtube.com/watch?v=mIklrNEYnMM">R122 あなたの問題でもあるんです！　　　</a>
<a href="https://www.youtube.com/watch?v=9hFqwjexyZU">R121 税金はあなたのお金なのです！　　　</a>
<a href="https://www.youtube.com/watch?v=kToSCh7kyoU">R120 隠れてないで出ませんか？　　　　　</a>
<a href="https://www.youtube.com/watch?v=wHAJum0cog4"><b>R119 今までのような生活はもう出来ません</b></a>
<a href="https://www.youtube.com/watch?v=lQx-DJXmt2c">R118 波動領域が離れはじめている？　　　</a>
<a href="https://www.youtube.com/watch?v=L799R_S6900">R117 これは世界ではあまりない考え方です</a>
<a href="https://www.youtube.com/watch?v=sZ-ryyepZ14">R116 ミスリードの声に流されていたら…　</a>
<a href="https://www.youtube.com/watch?v=J-hIzPWX-EU"><b>R115 他人と過去は変えられる　　　　　　</b></a>
<a href="https://www.youtube.com/watch?v=1HZIrbvQwLU">R114 カオスがはじまりました！　　　　　</a>
<a href="https://www.youtube.com/watch?v=pmZZn5Tdvi4">R113 リーダーを求めないでください　　　</a>
<a href="https://www.youtube.com/watch?v=D_fINkMohBE">R112 所有のない理想の村??　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=teKFEgGGgKM">R111 二極化というのは具体的にどういうこ</a>
<a href="https://www.youtube.com/watch?v=iNu9a8Oyllk">R110 商業的なミスリード　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=35SDGtMQ5BA">R109 ですからこんな過激な行動に出ている</a>
<a href="https://www.youtube.com/watch?v=E-KQT0rptx8">R108 すべてのはじまり！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=L3mn3cz5WWs">R107 そのまま暮らしは続きます　　　　　</a>
<a href="https://www.youtube.com/watch?v=3WPlrKqUuLw">R106 思考を刺激してください　　　　　　</a>
<a href="https://www.youtube.com/watch?v=qggpVNC7EXY">R105 ムリは逆効果です　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=F5vZWEfLWrw">R104 学歴?職歴?資産?社会的地位?　　　　</a>
<a href="https://www.youtube.com/watch?v=kOE8i1UUTPc">R103 どうしたら痩せられますか？　　　　</a>
<a href="https://www.youtube.com/watch?v=wvaLdRRzAHs">R102 スピリチュアルな生き方　　　　　　</a>
<a href="https://www.youtube.com/watch?v=x6QXS7OoPgY">R101 生活は思考の現実化の連続なのです　</a>
<a href="https://www.youtube.com/watch?v=ifVy6Z1x_PE">R100 気分転換するためのアイテム　　　　</a>
<a href="https://www.youtube.com/watch?v=YM2a3ww3S38">R99 清廉潔白 純真無垢 聖人君子…　　　　</a>
<a href="https://www.youtube.com/watch?v=zL_XpVKfjqk">R98 むしろ崩壊したほうが…　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=uCgTJDg04Z4">R97 生きる力をつけてください　　　　　</a>
<a href="https://www.youtube.com/watch?v=GvNiXR3eBdQ">R96 猿から進化したのでしょうか？　　　　</a>
<a href="https://www.youtube.com/watch?v=BBopj9g7gEc">R95 今晩あなたは死にます！　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=r_tzSmECp4U">R94 あなたは未来人??　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=H5cmtXPRXlQ">R93 あなたの居場所にいてください　　　　</a>
<a href="https://www.youtube.com/watch?v=5vDwKUnE1Z8">R92 まずは宣言するところから…　　　　</a>
<a href="https://www.youtube.com/watch?v=8xMoSuU3ACM">R91 人は興味のあることしか見ません　　　</a>
<a href="https://www.youtube.com/watch?v=Do3XzonhpUU">R90 今が正念場？　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ZNtD0xiIuLU">R89 だから両親に頼んだのです　　　　　　</a>
<a href="https://www.youtube.com/watch?v=o4zHRO8DtBE">R88 現実逃避ではないのですか？　　　　　</a>
<a href="https://www.youtube.com/watch?v=aQ3YK9NxDF8">R87 それが彼らの狙いなのです　　　　　</a>
<a href="https://www.youtube.com/watch?v=JYWJnffVr4c">R86 今何が起きてる？　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=j_YGwJBMY8o">R85 みんなで流れていけば何となく安心？　</a>
<a href="https://www.youtube.com/watch?v=09bU4d1x_xg">R84 お金が無くなった世界ってどんな感じ</a>
<a href="https://www.youtube.com/watch?v=LXcIeeEiDio">R83 鳥肌が立つくらい怖い　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Ou-za0xy0yM"><b>R82 見えないものは存在していません！　</b></a>
<a href="https://www.youtube.com/watch?v=urIu7USlPOI">R81 落ち着くことが急務なのです　　　　　</a>
<a href="https://www.youtube.com/watch?v=h32R_mjYm2I">R80 大切なパートナーで一番の味方?!　　　</a>
<a href="https://www.youtube.com/watch?v=8GDqdb8y30w">R79 パラレルワールドについて教えて！　</a>
<a href="https://www.youtube.com/watch?v=d8yPRoqwH-w">R78 いまの生活が続くとしたら…　　　　　</a>
<a href="https://www.youtube.com/watch?v=dp0C9vAFIjU">R77 幽霊などと呼ばれる存在　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=PR3c0jcHsMw">R76 趣味→仕事！　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=bGRqiDn19tY">R75 もう笑っちゃう域ですね　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=VNPvguRHfh4">R74 覚悟して！　　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=pD6q-0JkUWU"><b>R73 目隠しはとれ、波動領域は変わります　</b></a>
<a href="https://www.youtube.com/watch?v=eCYwhdwAnbU">R72 先にお金のことを考えないでください　</a>
<a href="https://www.youtube.com/watch?v=FamgxnbKqPg">R71 波動使いになるためのツール　　　　　</a>
<a href="https://www.youtube.com/watch?v=GrKczztjQCA">R70 タイムトラベル　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=NLsQtCOpKzY">R69 また次の騒ぎを起こすのです　　　　　</a>
<a href="https://www.youtube.com/watch?v=UIzux1WrEdU">R68 正解は…どれ？　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=l2nFuSvMzc0">R67 見えない鍋　　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=fPB6U6oQAO8">R66 探し物は何ですか？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=GLmCQf4_UtA">R65 妄想からすべてがはじまります　　　　</a>
<a href="https://www.youtube.com/watch?v=PD_GTX56pJc">R64 いつ来るかわからない…でも必ず来る　</a>
<a href="https://www.youtube.com/watch?v=KKb-W1avQDw">R63 ハイヤーセルフとのチャネリング??　</a>
<a href="https://www.youtube.com/watch?v=CCdH7MNBtOE">R62 二つの大きな流れに分かれてきています</a>
<a href="https://www.youtube.com/watch?v=wxl0dxedKPI">R61 真実はシンプルなのよ　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=8bOm54_BNqM">R60 突っ込みまくり～～（爆笑）　　　　　</a>
<a href="https://www.youtube.com/watch?v=rwlorgZKSjk">R59 すごい！みんな怒ってる！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=0stjbwbXMIU">R58 意識が拡大していくと…　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2NST1kdfvpA">R57 テレビの中はフィクションです　　　　</a>
<a href="https://www.youtube.com/watch?v=QowFrb_zeEk">R56 修行も努力もいりません！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=6EIBw8qGXl4">R55 あとは楽しみに待つだけ　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=KcmzltXFGjo">R54 ボタンひとつのパラレルワールド　　　</a>
<a href="https://www.youtube.com/watch?v=cf781iTMNMM">R53 どのようにこの騒ぎを収束させるつもり</a>
<a href="https://www.youtube.com/watch?v=Fjak0oqdUC0">R52 意識エネルギーの使い方を思い出す　　</a>
<a href="https://www.youtube.com/watch?v=zVqP6WsFA0I">R51 人類の共有意識　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=DioJACieFI8">R50 私のまわりは敵ばかり？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=dK6_TOVUylI">R49 次は自分の番！　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=RNlYXONIxO8">R48 他人の幸せは私の幸せ　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=xYAqQayTQkg">R47 ディストピアになっちゃうよ～　　　　</a>
<a href="https://www.youtube.com/watch?v=o6pfjl-5Se0">R46 気持ちがザワザワして来たら…　　　　</a>
<a href="https://www.youtube.com/watch?v=nx0J-pg2bnk">R45 宇宙語も理解できます　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=TzVGaPbZqb4">R44 決められた運命などない　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YWyiEelCsx8">R43 引き寄せは魔法ではありません　　　　</a>
<a href="https://www.youtube.com/watch?v=-XiDCi5jpuY">R42 そっと離れるための具体的な方法　　　</a>
<a href="https://www.youtube.com/watch?v=OBERW8TIYP0">R41 宇宙はすべてOKです　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=tjV1KHgwzi0">R40 出来ないんじゃない、やらないだけ！　</a>
<a href="https://www.youtube.com/watch?v=NV5ofIGttlI">R39 下剋上を狙ってる？　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9vAGLW8RQpM">R38 魔法使いになりたい！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=97yT1pLPezs">R37 さぁ、はじまるわよ！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=5qrx1RizHR8">R36 お金のない世界ってどんな感じ？　　　</a>
<a href="https://www.youtube.com/watch?v=KsmInk4DFq0">R35 フラリーマンの悲哀　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=vpM8R5Qd_Mk">R34 絶対幸福でしょ！　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=EUm6U2bYR-w">R33 エネルギーが飛び交っているのです　　</a>
<a href="https://www.youtube.com/watch?v=Z3d2uQtlaLo">R32 科学は万能と言われてますが　　　　　</a>
<a href="https://www.youtube.com/watch?v=l-_07eufX-I">R31 私はお金を嫌ってる??　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=SlnWD2Nl5Js">R30 テレパシー？？　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=S_JcL8kquvE">R29 不安があるならば使ってください　　　</a>
<a href="https://www.youtube.com/watch?v=fI_IbEsnWM8">R28 行き詰まりの突破口！　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=4kQFg65puw8">R27 私も重い世界に残ってしまった？　　　</a>
<a href="https://www.youtube.com/watch?v=mKELm0rSbA0">R26 自由自在に人生をクリエイトする　　　</a>
<a href="https://www.youtube.com/watch?v=JxxyePnbaf8">R25 歴史のからくり　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=xIhRzanT7zI&t=64s">R24 受け継がれたムーの波動！　　　　　　</a>
<a href="https://www.youtube.com/watch?v=H-NRUfMs0DA">R23 ここだけはウイルスが遠慮する？　　　</a>
<a href="https://www.youtube.com/watch?v=bBp8-ZZ8Tsg">R22 人間あきらめが肝心？？　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=jwu6XHWEgHI">R21 騒ぎが収束しても疑問不満は消えません</a>
<a href="https://www.youtube.com/watch?v=9wzNkDmFvCA">R20 苦しくて当然なんです　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=NOaR2nrxfjs">R19 世間の話題がウイルス一色なので…　　</a>
<a href="https://www.youtube.com/watch?v=jhBckYyx4n4">R18 あなたは宇宙に一人しかいないのです　</a>
<a href="https://www.youtube.com/watch?v=xYNrS6ZRp5E">R17 混乱してしまったときは･･　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2jxkj3iHuY4">R16 宇宙人が来ても･･　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=9ul_mgheCVA">R15 価値観の違う世界から　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=bF5geMyYigc">R14 最終判断は愛　　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=HulEo5x90VQ">R13 さくやさんからのメッセージ　　　　　</a>
<a href="https://www.youtube.com/watch?v=P2sTA0v8nfc">R12 パッと実現しないかなぁ～　　　　　　</a>
<a href="https://www.youtube.com/watch?v=W42HDdsU0WU">R11 ぶらり旅が良いですねぇ～　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2yEFvSbixrk">R10 ワンネスと単一　　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ukERhnVG7rw">R９ 私を怒らせるのは誰??　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=Nns2O1AWZX8">R８ 夢をあきらめないで　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=ioMDc_suadI">R７ あなたならどうしますか？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=-9sLAXXzEo4">R６ これからは共生の時代　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=jtHa0yeXj1s">R５ エイリアンが攻めて来る？　　　　　　</a>
<a href="https://www.youtube.com/watch?v=2OSLSFy2t3s">R４ 親孝行と罪悪感??　　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YpghTIQpuJw">R３ ルールは我慢です！　　　　　　　　　</a>
<a href="https://www.youtube.com/watch?v=_9qT6vy03DI">R２ パラレルワールドは宇宙??　　　　　　</a>
<a href="https://www.youtube.com/watch?v=YJPJxNRdv_w">R１ 個性で愛を奏でるのです…　　　　　　</a>
</BODY></HTML>