BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: #262626; LINE-HEIGHT: 130%; SCROLLBAR-ARROW-COLOR: #0000aa; PADDING-TOP: 0px; SCROLLBAR-BASE-COLOR: #f5f5f5; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 13px; LINE-HEIGHT: 130%
}
A {
	COLOR: #000099
}
A:hover {
	COLOR: #aa0000; BACKGROUND-COLOR: #ffcc99; TEXT-DECORATION: none
}
.con_body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(img/bg.gif) #999999; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 920px; PADDING-TOP: 0px; HEIGHT: 100%
}
.con_side {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mainbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 800px; PADDING-TOP: 10px
}
.back {
	FONT-SIZE: 11px; MARGIN: 10px; WIDTH: 590px; TEXT-ALIGN: right
}
.b_menu {
	MARGIN: 10px 0px; WIDTH: 650px; TEXT-ALIGN: center
}
.adbox {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #262626 1px solid
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; WIDTH: 600px; COLOR: #aa0000; BORDER-BOTTOM: #aa0000 1px solid
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN: 7px 0px; COLOR: #0000aa
}
B {
	FONT-WEIGHT: normal; COLOR: #aa0000
}
FORM {
	MARGIN: 4px 0px
}
.ul {
	MARGIN: 10px 0px; WIDTH: 550px; BORDER-BOTTOM: #0000aa 1px solid
}
.box {
	BORDER-RIGHT: #262626 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #262626 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 20px 0px; BORDER-LEFT: #262626 1px solid; WIDTH: 600px; PADDING-TOP: 8px; BORDER-BOTTOM: #262626 1px solid; BACKGROUND-COLOR: #f5f5f5
}
