<HTML>
<HEAD>
<TITLE>幸せでありなさい</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #800080 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 幸せでありなさい
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFffff size=+2>
<b>幸せでありなさい</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="10"bgColor=#da70d6 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#ffefef width=100%><tr><td>
<PRE><TT>
<font color="#4b0082" size="3">
あなたは身体ではない
身体はあなたではない

あなたは行為者ではない
それを楽しむ人でもない

あなたは純粋な気づき
すべてのものごとを見守る観照者だ

期待もせず
自由だ

どこへ行こうと
幸せでありなさい！

<b>欲望や嫌悪は心のもの
そして心はあなたのものではない
あなたはその混乱から自由なのだ</b>

あなたは不変なる
気づきそのもの

どこへ行こうと
幸せでありなさい

なぜなら、 見るがいい
真我は生きとし生けるものの中に存在し
生きとし生けるものは真我の中に存在している

知るがいい
あなたは私からも
私のものからも自由なのだ
幸せでありなさい！
</font>
</TT></PRE>
<div align="right">
<font color="#888888" size="-1">
<A HREF="http://tinyurl.com/mjarxc">『Ashtavakra Gita』</A>(p77-79)　(2012/05/24)　　　
</font>
</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
