<HTML>
<HEAD>
        <TITLE>存在するもの</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--

	BODY      { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
	A:link    { color: #bf0042; text-decoration: none } 
	A:visited { color: #bf0042; text-decoration: none } 
	A:active  { color: #bf0042; text-decoration: none } 
	A:hover   { text-decoration: underline }

        //-->
        </STYLE>

</HEAD>

        <BODY>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>存在するもの</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
　経験するということは、ある「思い」を味わうとか、ある意識の「位置」にフォーカスするということだろう。<br>
　だがその場合、そのような意味での経験が起こるためには、経験する意識体に何らかの意味で、今味わっている「思い」とか今フォーカスしている意識の「位置」以外の「思い」や「位置」への展望がなければならない。<br>
　そうでなければ、今「在る」ものは、ただ今「在る」だけであり、いわゆる経験をすることはできないだろうし、また「今」という言葉自体も意味を持たなくなるわけだから、「今」はなくなるだろう。時間はなくなるだろう。<br>
　赤ん坊や悟った方の意識の形とでもいうか、いわば「経験」の“使用前”と“使用後”といったところだろうか。<br>
　ただ、ここで面白いのは、悟っていない私は悟りたいと思っているということだ。<br>
　私は自分がフォーカスしている意識の「位置」を動かそうとしている。<br>
　意識の対象も位相もすべて「位置」という言葉に集約したとしての話だが。<br>
　つまり、私は自分で変化を呼んでいるわけだ。<br>
　悟っていない意識の「位置」はきわめて安定が良くないので、もっと安定した、落ち着いていられる「位置」に動こうとしているというわけだ。<br>
　しかし、そうすると、ここでもう一つ面白いことに気がつく。<br>
　「時間」というものが「経験」を可能にするための、きわめて巧妙な発明だったのだとすれば、その発明を可能にした根拠である「存在するもの」には、元々時間などないことは確かだろう。<br>
　つまり、すべては「今」であるわけだ。<br>
　言ってみるなら「存在するもの」とは「今」のことだ。<br>
　そうすると、「時間」は元々存在しない“捏造品”なのだから、私が「今」、悟りたいなどと言って意識の「位置」の移動を求めているということは、いったいどういうことになるだろうか。<br>
　つまり、少なくとも「私」の宇宙の中では、「存在するもの」は“移動を求めている”というこだ。「私」の宇宙の“太古”の中で、「存在するもの」は変化を求めている、と。<br>
　「存在するもの」が変化を求めているからこそ、「存在するもの」は変化している。<br>
　文句はないわけだ。自分が変化を求めていているからこそ変化がある。<br>
　これは間違いない。<br>
　なぜ変化しなければならないのかとか、変化する目的は何なのか、などということ（観点）はその変化の中で発生している森羅万象の一部にすぎないだろう。<br>
　その変化を“支えて”いるのは何ものか、何ものがその変化を“見て”いるのか、その変化を“味わって”いるのか。<br>
　「私」が“見て”いる。<br>
　「私」という＜意識＞がそれを“支えて”いる。それを“味わって”いる。<br>
　ただ私は、今自分が呼び起こしている「変化」をいわば“避けようと”する観点からそれを“見る”「位置」にフォーカスしているということだろう。<br>
　「変化」を避けて“安定”を得たいと願う意識の「位置」（すなわち観点）にフォーカスしている。<br>
　つまり「変化」とは、「私」という＜意識＞（すなわち「存在するもの」）が自ら呼び寄せているものであり、“安定”とはその「変化」に“立ち会う”自分に願っている状態のことだ。<br>
　今「私」は、「変化」は“安定”とか“落ち着き”とか“平安”といった状態とは相容れないものだという意識の「位置」（＝観点）にフォーカスしているので、「変化」に“立ち会い”ながら“安定”という願わしい状態（幸福）を支えることができないと信じていて、その信念を実現している。だから「変化」をいわば“ねじ伏せて”、あるいは「変化」に“対処”して、「変化」を自分のコントロール下に取り込むことで、“安定”とか“平安”とか“幸福”といった状態を手に入れられないかと画策している。そういう意識の「位置」にフォーカスしている。<br>
　要するに一言で言うなら、「変化」を“変化しないもの”にすることで、「平安」を手に入れようとしているということだ。<br>
　なぜそんな複雑な“戦略”を取ることになるのか。<br>
　その複雑さは、自分で「変化」を呼び寄せながら、その「変化」を避けようとする根本的矛盾に根拠がある。<br>
　では、なぜ「変化」を避けようとするのか。<br>
　いや、避けたかったら避けてもいい。誰に頼まれているわけでもないのだから。<br>
　「変化」を避けたかったら避けてもいいが、ただ、それならなぜ最初に「変化」を呼び寄せたりするのか、だ。<br>
　ここに「存在するもの」と「存在するもの」を知ることとの違いが隠れている。<br>
　「存在するもの」には何の条件も課されていないが、「存在するもの」が自分を知ろうとすると、“知る”ということを可能にするためにいろいろな“仕掛け”が必要になってくる。「存在するもの」は何ものによってもその存在を脅かされることはないが、何かをするためにはそのための条件とか道具が必要になるというだけのことだ。<br>
　「存在するもの」が自分を「生」として知ろうとすると、「死」としての自分のもう一面とに分化しなくてはそれはかなわない。「変化」を求めれば、それは「不変化」または「不動」の助けを得なくては可能ではない。<br>
　要するに、「幸福」を得ようとするなら、「不幸」を作ることなしには不可能だということだ。<br>
　悟っていない意識の「位置」にフォーカスしている“私”が、「悟り」すなわち「不動」を求めて「変化」を求めているのだから、「私」の宇宙の太古の中で、悟っている方の「私」が無限の「動」を求めて「変化」を求めたことは、まあ、これほど間違いないことはないだろう。<br>
　そうしたら、「存在するもの」はたちまち「私」の宇宙となって爆発し、粉微塵の生命世界となって「変化」の相を展開したことだろう。<br>
　そうしたら、その粉微塵の意識体である“私”は、永遠の「今」の中で永遠の「不動」の相を求め始めたことだろう。あたかも、“自分”が「永遠の『不動』」ではないかのように。<br><br>

　“私”が「変化」を避けるというとき、“私”が本当に避けている「変化」はたったひとつしかない。<br>
　その意味では、“私”が直面するすべての「変化」は、そのたったひとつの「変化」の象徴であり、前兆であり、前触れでしかない。<br>
　要するに、“私”は“死”という唯一の「変化」を避けようとしているだけだ。<br>
　これこそが、このゲームの“上がり”だ。<br>
　“私”が求める唯一の「安心」、「平安」、「不動」、「不滅」。<br>
　「不生不滅、不垢不浄、不増不減」だ。<br>
　ゲームの“上がりの回避”を基本ルール、基本衝動としたゲーム……。<br>
　だから、いくら納得ずくのゲームだからといっても、ついには“発狂”する者もいれば、“本気”で腹を立ててしまう者もいるわけだ。いや、腹を立てるのならいいのだが、本気で拗ねてしまう者、いじけてしまう者もいるということだろう。<br>
　毒杯を仰いだプラトンの言葉こそは、われわれ地球人全員が納得できる。<br>
　「自分は死んだ経験がないので、死には興味がある。死んだらこの自分はいなくなるのか。もしそうなら、何も問題はない。死んだら、この自分はいないのだから。あるいは、死んでもこの自分はいるのか。もしそうなら、それも何も問題はない。死んでもこの自分が同じようにいるのだから」と。<br>
　まったくだ。完璧に論理的であるだけでなく、完璧に真実でもある。<br>
　これで“死”を回避しようという基本命令は“論理的”には解除されかかったわけだが、“死”そのものの経験は、悟る以外は死んでみないことにはできない。<br>
　ところが最近になって、“死”が存在しないことは賢者の報告ではなく、それ自体が単純な“論理的真実”になりつつある。<br>
　従来“死”とは、「生」に対する「滅」や「動」に対する「不動」のイメージと、「存在」に対する「不在」のイメージを不分明に混在させた言葉として機能してきたわけだが、この両者の意味範囲が「思考」の世界に輪郭を現してきた。<br>
　
</td>
</tr>
</table>

<HR WIDTH="80%">

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>　
	・<A HREF="./index.html">随想へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>