<HTML>
<HEAD>
        <TITLE>Paritoshoの世界</TITLE>
        <META NAME="Sw.Paritosho" CONTENT="INDEX PAGE">
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--
                A       {text-decoration:none;}
        //-->
        </STYLE>
</HEAD>

<BODY BGCOLOR="#000044" text="#ffffff" link="#ffffff" vlink="#ffffff" alink="#ffffff">

<table width="100%" height="10%">
<tr>
<td align="left" valign="middle">


<table>
<tr>
	<td colspan=2 align=center><font color=#db245b size=+1><b>文句について</b></font></td>
</tr>
<tr>
	<td colspan=2 align=center><b>文句が言えなくなると……</b></td>
</tr>
</table>



</td>
</tr>
</table>


<table width="100%" height="88%">
<tr>
<td align="left" valign="top">
　哲学頭の人間ですから、とりわけ「文句」の多い人間だったことは間違いありません。<br>
　何でこんな馬鹿げた世界があるのか、と思っていました。<br>
　最近知ったことの一つですが、この何でも“何で”と考えるのは理屈っぽい、既にあまり素直とはいえない人間の証拠らしいです。<br>
　私はまた、誰でもそれくらいの文句は持っているものだと思っていました。<br>
　「文句」というのは、結局、自分がこのような状況に置かれていることについて、自分には責任がないという判断から発生するものと言っていいと思うんです。<br>
　だから、どんなに「文句」の多い人でも、自分が現在どのような状況に置かれているにせよ、その状況を“呼び出した”のが自分であること、そして今もその状況に“執着している”のが自分であることが分かってしまうと、もう「文句」の二の句が継げなくなるということはあります。

<BR><BR>
</td>
</tr>
</table>

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>
	　・<A HREF="./index.html">『見晴らしの部屋』へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>
