<HTML>
<HEAD>
        <TITLE>落ち込み</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--

	BODY      { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
        TD	  { line-height : 150%}
	A:link    { color: #bf0042; text-decoration: none } 
	A:visited { color: #bf0042; text-decoration: none } 
	A:active  { color: #bf0042; text-decoration: none } 
	A:hover   { text-decoration: underline }

        //-->
        </STYLE>

</HEAD>

        <BODY>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>落ち込み</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｐ君<br><br>
　しばらくぶりに落ち込んだみたいだね。<br>
　「落ち込み」がそんなに悪いものだとは思わないけれど、あなたの嬉しくない気分は分かるよ。<br>
　「落ち込み」って、結局、外界に現れた事象の中に何か重要なことがあって、その重要なことを“逃した”とか、対処を“間違った”とか、“失敗した”とか、あるいは自分がそれと無縁な“不毛な”時間を過ごしているとかいった、事象に対する自分の解釈によって発生するものだと思う。<br>
　勇気を出すべき時に出さなかった……、対応すべき事態に対応しなかった……、あるいは単に、自分の日常の無意識が露出して、とてつもなく“まずった”とか……。<br><br>
　でも、それもこれも、結局、自分の外側に存在している事象に何か重要なものがあって、自分はそれに対する対処を誤ったという判断から起こる反応だと思う。<br>
　しかし、そうだとすると、普段落ち込まないときは、その対処を誤らなかったと（自分で）判断しているというだけのことだし、もし落ち込まないことの方が望ましいのだとしたら、そんな判断を下すこと自体が（「落ち込まない」という）目的に添わない、愚かな行為だということになる。<br>
　「落ち込み」って、外界の事象に対する自分の対処を「判断」していれば、大なり小なり不可避的に発生する必然的帰結だと思うよ。<br><br>
　「落ち込み」という体験自体の価値はともかく、ただ単に「落ち込みたくない」だけなんだと言うのなら、根本的な問題は、多分、外界の事象に対する対処を誤ったことにではなくて、自分が自分という＜意識＞の位置から引きずり出されて、外界の事象に取り込まれ、事態の解釈の決定権を手放してしまったことにあるんじゃないかな。<br>
　「落ち込み」は単に、それを教えてくれている表示器に過ぎないと思う。<br>
　落ち込んだ瞬間、自分は自分の＜意識＞の位置から“落っこちている”ということ、自分の本来の権力を手放している、ということを教えてくれているわけだものね。<br>
　“すべての事象の「意味」を決定する＜自分＞”よりも重要なものがある、と自分から白状しているんだから。<br><br>
　あなたにとって大事なのは、自分が自分の＜意識＞の位置から“落っこちている”ということに気づくことなのだから、その意味では、「落ち込み」ってとってもありがたい、他に代わるもののない体験だと思う。<br>
　あなたが、自分の本来の権力を手放したことをこれほど明確に教えてくれる体験は、他にないものね。(2001.6/9)
</td>
</tr>
</table>

<HR WIDTH="70%">

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>　
	・<A HREF="./index.html">随想へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>