<HTML>
<HEAD>
        <TITLE>エンライトとエゴ</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--
                A       {text-decoration:none;}
        //-->
        </STYLE>
</HEAD>

<BODY BGCOLOR="#DDDDFF" text="#000044" link="#000044" vlink="#000044" alink="#000044">

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=left><font color=#db245b size=+2><b>エンライトとエゴ</b></font></td>
</tr>
<tr>
	<td colspan=2 align=left><b>ただの屁理屈ですからね、ご勘弁を……</b></td>
</tr>
</table>


<table width="100%" height="88%">
<tr>
<td align="left" valign="top">
<BR>
Ｋさん<BR><BR>

Ｋさんがお手紙に書いている気分、分かるような気がします。<BR>
「何かやることがこれからますますなくなっていくような気がして……。何もやってないと『〇〇をやってるんだ』というしっかりした棒につかまっていたのが、もうその棒がだんだん細くやわらかく今にも消えそうなので、たよりなーーいような感じ」とお書きになっているけど。随分、瞑想したんでしょうね。<BR>
今までそれだけ“真面目に”瞑想をやってきたからこそ、もう「何かをしたい」とか「何かにこだわる」ということができなくなってきているのかもしれませんね。<BR>
私なんか、何もまともな瞑想なんてやってきていないけれど、それでさえ（屁理屈で自分をへこましているうちに）“こだわる”ことが段々できなくなってきているようですから。<BR>
「エンライトしたいという欲望だけは一向に消える気配もなく」と書いていらっしゃるけど、何でも“理屈”にして納得したい私は、最近はこんな気分になっています。<BR><BR>

つまり、“エンライト”と言ってもエゴがエンライトするわけではないのだから、我々宇宙内の意識存在はすべてエンライトしているというのは、これ当たり前じゃないか、というような感じです。“屁理屈”ですから大目に見てくださいね。<BR>
意識全体が欠けることのない「全体」または「自分」で、“今”ここにフォーカスしてここでの体験を選択しているのが「エゴ」なのだから、「エゴ」が全体になるなんて語義矛盾以外の何ものでもないし、「全体」がないのに「部分」だけがあるなんてこともありえない。<BR>
言ってみれば、風船の表面のどの一点がなくても風船は破裂してしまってありえないし、風船そのものがないのにその表面の“一点”だけあるなんてバカなこともありえない。で、風船の表面の“一点”は、今そこの一点として存在しているのだから、それ以外の一点ではありえないわけで、それだけで“嫉妬”という遺伝子のいたずらのカラクリが透けて見えてくるような感じさえします。<BR>
ただ、“自分”の体験が気に入らないのなら、必ずしもこれまでの“自分”の位置に固着している必要もないんでしょうね。どうも我々、宇宙の“奴隷”というわけでもないようですから。ただ、我々が贈られている「絶対の自由」の中に、“奴隷”であるかのような妄想を紡ぐ「自由」まで含まれているということらしくて……。といっても、こんなことをわれわれが言えるようになったのには、地球圏を覆っていたある種の“波動の縛り”みたいなものがここで取り払われていくということと無関係ではないようにも聞きますけどね。（何だか“悪い地主”さんから“良い地主”さんに政権交代してもらったみたいな話で、どうも店子としては必ずしもすっきりした話でもないんですが……。でもこれはどこの世界にもある、一種のゴシップだと思います。ゴシップはある位相では、間違いなく“事実”なわけでしょうし。）<BR>
ですから、どの“一点”もいつの「今」にも“動く”自由を持っているいう意味では、風船よりは、“シャボン玉”のイメージの方がいいかもしれません。中の粒子が常に自在に流動してイメージがありますから。<BR><BR>

だから“エンライト”という言葉には、フォーカスというか“選択”の問題といった側面もあるように思います。<BR>
「部分」でいる“自分”にフォーカスしながら「全体」にフォーカスすることは、確かに理屈の上でも無理ですものね。風船の一点が無理に全体に広がったりして……。「イソップ童話」の海を呑み込んだカエルってその話なのでしょうか。<BR>
また自分が「全体」であること、宇宙に“自分”は一人しかいないことを認めて、そこにフォーカスしてしまったら、まあ、（理屈としては）、「部分」ではありえなくなる、つまりそれまでのような「エゴ」の“体験”はできなくなるわけだろうと思います。<BR>
私のようにエンライトしていない人間が、口でこんなことを言ってみてもしょうがないですけど。<BR>
でも、こんな偉そうなことを言いたがる“自分”はまだまだなのかなって、思ってみても、「今」自分は現にそうなわけだしね。もしその“自分”が駄目なんだったら、だったら“自分”がどれくらい頑張って海の水を飲み込んだらいいのかってことになるわけですし……。だから、エンライトって“成長”というエゴゲームとはまったく別なことだとも思えてきます。<BR>
ただ、もちろん自分はエンライトしているんだけど（「全体」あっての自分だけどという意味ですよ！）、「今ここ」の体験をしたいんで、今はこの「部分」（エゴを）をやってみてるってことじゃないのかなぁ。<BR><BR>
……でも、こういう“屁理屈”を言っていると、エゴが肥大して、実際は、エンライトを逃すだけだ、なんてことは（じつは）いかにもありそうですけどね。<BR>
まったく、エンライトというのは厄介ですね。<BR>
しかし、そんなに焦ってエンライトすることもないのかもしれません。<BR>
エゴであることを“楽しめる”のなら、エゴである体験もそんなに悪くはないと言えるのかもしれませんし。<BR>
エゴであることを“楽しめる”のならね。
<BR><BR>
</td>
</tr>
</table>

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>
	　・<A HREF="./index.html">『見晴らしの部屋』へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>
