<HTML>
<HEAD>
<TITLE>「永劫回帰」幻想について</TITLE>
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<!-- META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,和尚,黄金の未来,映画,映画評" -->
<META name="keywords" content="永劫回帰,回帰,永劫,永遠.幻想,ニーチェ">
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #ccccff ; color: #000000 ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
</HEAD>

<BODY>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 「永劫回帰」幻想について<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>「永劫回帰」幻想について</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｉ さん<br><br>


「ニーチェの永劫回帰」についてのメール、読ませていただきました。

“永劫回帰の恐ろしさ”として、

○全ての努力は無駄である（あらゆる成長は幻想） 
○今までに体験したことのある苦痛を、無限回繰り返さなければならない 

の二点をあげられ、それに対する疑念と嫌悪感を述べていらっしゃいましたね。

そして、
「輪廻転生の場合は、何度も生を繰り返しながら霊的に成長して、最終的に悟りの境地に到達することができるが、しかし永劫回帰の場合は、悟りに相当するような境地に到達したとしても、いずれその境地は失われ、記憶も何もかも全て失って、ふりだしに戻ってすべてをやり直すことになる。そして同じ苦痛を無限回味わうことになる」と。

そして、そういうのは死ぬほどいやだ、と。

それで、本当のところはどうなのか、というのがご質問の趣旨でした。

わたしは、「ニーチェの永劫回帰」という幻想については、いま“論理的”にいえることは三つあるように思います、

●「永劫回帰」は、時間幻想の中の幻想

（１）まずそれが、時間幻想の中で紡ぎ出された幻想だということです。

物理次元の中で、「時間」という枠組みが初めて着想されたとき、それはあたかも、“過去”から“未来”に向かう（放たれた矢の飛線のような）一直線として構想されたのだろうと思います。

「時間」は、永遠の“過去”から、永遠の“未来”に向かって、一直線に伸びていたのです。

そこでは、“過去”と“未来”は、まったく無縁のものです。

しかし、アインシュタインが、前方に向けて放ったレーザー光線がいつか自分の“背後”から自分を打つことを発見したように、ニーチェは、「時間」の“未来”が、「時間」の“過去”に繋がっていることを“直感的”に発見したのです。

そこで、「時間」の“飛線”は、ユークリッド幾何学的なイメージの一直線から、閉じた曲線になったわけです。

言ってみると、「時間」は“一点を中心に描かれた円周のように、永遠に循環する閉じたサイクル”としてイメージされることになった、ということです。

“発展史観”の「時間」の中では“進化”が構想されるわけですが、“進化”の末に、結局は、遠い遠い昔に通り過ぎてきた“過去”の一点に接続するということになれば、“進化”とか“成長”とかいう、“方向性”を示す言葉自体に意味が無くなります。

だから、ニーチェは“哲学者”として着想した「永劫回帰」という“哲学者の地獄”を、卓越した“文学者”兼“画家”の力量でイメージとして仕上げたのです。

それが「永劫回帰」だと思います。
つまり、そこでは、

○全ての努力は無駄である（あらゆる成長は幻想） 

であり、その論理的結論として、当然、

○今までに体験したことのある苦痛を、無限回繰り返さなければならない 

ということになる、と。

しかし、こういうイメージは、じつは、時間幻想の中で構想されています。

“時間幻想の中で構想されている”とはどういうことかと言うと、人は“その現在”という一点に釘付けになっていて、そこから“抜け出す”ことはできない、と前提されているということです。

つまり、自分が“同時に複数の時点に”存在できるという可能性は、最初からまったく考慮の範囲内にはないわけです。

だから、「永劫回帰」という時間幻想の中では、「自分が“その現在”という一点に釘付けになっている状態」を思考の中で構想して（つまり“その現在”の外から眺めて）、怖がるということが起こるわけです。

この「永劫回帰」という想念は、“未来”は“過去”に繋がっているという「直感」から派生しているために、それなりのリアリティをもっており、それだけに人を恐怖させる力を持っているということです。


●「成長・進化」は、幻想なのか？

（２）「時間」とは、“過去”から“未来”への直線か

“記憶も何もかも全て失って、ふりだしに戻ってすべてをやり直すことになる。そして同じ苦痛を無限回味わうことになる”

そういうのは死ぬほどいやだ、ということでしたね。

「成長」とか「進化」は幻想なのかというご質問でした。

単純に“理屈っぽい”人間が考えれば、もし、「成長」や「進化」が必要なのだとしたら、宇宙は不完全なのだろうか？　という疑問が出てくるだろうと思います。

神様が完全なのだとしたら、どうしてそういう「成長」や「進化」が必要になる“不完全”な宇宙を創ったのだろう、最初から、完全な宇宙を創ったらいいではないか、と。

わたしも“理屈っぽい”人間のひとりとして、この大宇宙はこのままで、つまり＜永遠の今＞のままで、完全なのだと思っています。

だから、その意味では、「成長」とか「進化」は幻想だと思いますし、必要ないものだと思います。

ただ、その＜永遠の今＞の中で、





その“円周”としての

の、その“観念と恐れ”ですよね。

そして、聖ミカエル大天使さんは、ご自分がその“お話＝波動”を好んで呼び
寄せているのだということ、つまり、ご自分がそのお話が“好き”なのだ、と
いうことを意識しようとしない、ということだと思えるのです。

でも、本当は、ご自分が“その手の話”が好きなんですよね。(^^;)

そして、そんなことをまったく思いもしないで、恋愛を楽しんだり、サッカー
を楽しんだりしている方たちを、愚かだと思っていたりするのではないでしょ
うか。

わたしは、そういう聖ミカエル大天使さん（の在り方）が“間違っている”と
は、まったく思いません。完璧に“正しい”と思います。

なにしろ、あなたが、実際にそのように選択しているわけですから。

第一、わたし自身、そういうお話が大好きでしたから。(*^_^*)

でも、もしご自分がそれを望んでいないのなら、聖ミカエル大天使さんにそう
いう在り方を強制している者も誰もいない、と今は思っています。

嫌なら、やめればいいだけです。

別の、自分が好きな“思い込み方”をすればいいだけだと思います。

「嫌だけれども、どうもそれが真実らしい」気がするというのなら、それは、
小学生で自転車の練習を始めたばかりの頃、目の前に立木が現れたときに、ぶ
つかりたくないのに、どうしても自転車がそっちの方に向かってしまう、とい
う状況とよく似ていると思いませんか。(^^;)

自分の“思い”がその“現実”を呼び寄せている、という話を聞いて、わかる
気はするのだけれど、自分の“思い”を統御する力はまだない、という、わた
したちのごく普通の状態だと思います。

そして、その状態には、何が“真実”であるかについての自分の“判断枠＝趣
味”が、深く関係しているようです。

その“判断枠＝趣味”を、無意識のままに放置しておくと、いつの間にか、他
の方が持っている“判断枠”や“趣味”を、間違っているとか愚かだとか思っ
てしまって、その“在り方”を自分の“在り方”から排除する結果になるわけ
です。

そうすると、そういう“間違って”いたり“ばかばかしい”在り方は自分の選
択肢の中には存在しなくなるので、自分が“賢い”と思う「永劫回帰」とか、
“進化自体永遠無限で終わりがない”というような“真実＝立木”ばかりが、
自分の目の前に現れてくる、というわけです。(^^;)

ですから、もちろん、聖ミカエル大天使さん（の在り方＝選択肢）が“間違っ
ている”わけではないのですが、それは、他の方が間違っていないのとまった
く同じ意味において“間違っていない”だけだと、わたしは思います。

間違ってはいないですが、もし、嫌なら、やめればいいだけです。

でも、止めるためには、今、聖ミカエル大天使さんが注いでいる全エネルギー
を、その“賢い”「永劫回帰」から、別の“真実＝選択肢”に振り向ける必要
があります。

聖ミカエル大天使さんが考える“何も知らない愚かな人たち”は、金儲けに
“うつつを抜かし”ているかもしれませんし、恋をして“有頂天になって”い
るかもしれませんし、昇る朝日のすがすがしさに“感謝”しているかもしれま
せん。

そういう“愚かしい”選択肢も自分に許さないことには、なかなかその“賢い”
「永劫回帰」からは解放されないかもしれませんよ。(^^;)

> 宇宙は自分の思いが反映するのはわかりますが
> 私の考えはともかく
> pariさん　自身はどう思われますか？

わたしは個人的には「永劫回帰」というような思い方よりは、＜永遠の生命＞
というような思い方の方が（少なくとも今は）好きですから、「わたしは死な
ない」と思っています。

そして、こういう今までの地球のような、全能の記憶を失わなければ入ってこ
られない“恐怖ゲーム”には、もう興味を持たないかもなぁ、とも思っていま
す。(^^;)

わかりませんが。(*^_^*)

なにしろ、聖ミカエル大天使さんも心配していらっしゃるように、＜永遠＞で
すからね。

今“ここ”にいる聖ミカエル大天使さんが“レイプや拷問は死ぬほどいやだ”
と思っていらっしゃるのだとすれば、“向こう”にいる聖ミカエル大天使さん
が、幸せに死ぬほど退屈して、「向ヶ丘遊園のジェットコースター」にでも乗
りに行こうか、なんて思っている可能性は十分に考えられます。(^_-)

聖ミカエル大天使さんは、“死ぬ”ことは避けたいですか？
それとも、死にたいですか？

あまり口幅ったいことも言えませんが、わたしは、あらゆることが可能なこの
大宇宙の中で、“死ぬ”ことだけはできないのだと思っています。

もっとも、それをおどろおどろしく言おうとは思いませんが……。(*^_^*)

> つまりわれわれが進化すれば宇宙を創る存在になれるというよりなるという
> ことでしょうか？

個々の意識存在の自覚の程度に違いはあれ、＜今＞わたしたちは自分の思いで、
宇宙を創造しているのだと思っています。
　
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
