<HTML>
<HEAD>
<TITLE>初めてあるがままの自分を観察している</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #000000 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 初めてあるがままの自分を観察している
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFD700 size=+2>
<b>初めてあるがままの自分を観察している</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="1"bgColor=#555555 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#000000 width=100%><tr><td>
<PRE><TT>
<font color="#FFD700" size="3">
82. 最善の種類の気づきを見守る気づきの実習セッションは空っぽのセッションだ。

83. 気づきを見守る気づき以外は何もない。

84. ただそこにとどまりなさい。

85. ただそこにいなさい。

86. そこに住みなさい。

87. そこにとどまりなさい。

88. 別の何かを求めてはいけない。ただ気づきを見守る気づきに満足しなさい。

89. くつろいで自分の気づきを見守りつづけなさい。

90. その見守り方は次のようなものだ(91-103)：

91. 気づきを見守る気づきは恋に落ちるのに似ている。

92. あなたは誰かとともに時間をすごす。

93. あなたはその人を見守る。あなたはその人を観察する。

94. あなたはその人のことをまだ知らない。

95. あなたはその人を観察しつづける。

96. あなたは期待をもってはいない。まだ期待をもつほどその人をよく知らないからだ。

97. あなたはその人を観察しつづける。

98. ときにはその人を観察していると嬉しくなる日もある。

99. ときにはその人を観察しているとき嫌な感じがする日もある。

100. あなたはその人を観察しつづける。

101. 毎日あなたはその人をもっと知るようになる。たとえ自分がその人をもっと知るよ
うになっていることに気づかないとしても。

102. そしてある日突然、不意に、あなたは恋に落ちる。

103. 気づきを見守る気づきはそれと似ている。

104. ただ何も期待せずに、自分の気づきを見守りつづけなさい。

105. 何も起こっていないという事実は、すごいことだ。

106. もしそれが毎日毎日ただ同じで、気づきを見守る気づきしかないようなら、それは
すごいことだ！

107. ただそれに満足していなさい。

108. もしそれが変化していくものと思っているなら、それが変化するはずだという期待
の形であなたは気づきを見守る気づきに何かを付け加えているのだ。

109. 気づきを見守る気づきを、ただそれだけで充分なものとして見なさい。

110. あなたの実習を毎日つづけなさい。

111. あなたはいつ、気づきを見守る気づきと恋に落ちるだろうか？

112. それは実習して一ヶ月後かもしれないし、何ヶ月後かもしれない。

113. その途上にはたくさんの堅信礼がある。

114. 自分が進歩しているかいないかを心配してはいけない。実習者には進歩は感知でき
ないかもしれない。

115. 中にはただ目を閉じただけで、実習を始めてもいないうちから、気づき－喜びがや
ってくる地点に到達する人もいるだろう。

116. あなたはそれを期待すべきではない。なぜならそうするとあなたは「気づきを見守
る気づき法」に何かを付け加えてしまうからだ。

117. 中には平和を体験する前に何年も騒乱を体験する人々もいるだろうし、その逆の
人々もいるだろう。

118. 忍耐して、実習をつづけなさい。

l19. あなたは自分の気づきを、相手に何ひとつ期待することなく、あなたに見守って欲
しいと望む者と見なすといい。あなたに何かを与えることができるからではなく、ただ
あるがままの存在として愛されたいと求めている誰かのように。

120. 気づきを見守りつづけなさい。そして平安－愛－喜びを期待してはならない。

121. 期待するのではなく、平安－愛－喜びがひとりでに来るのに任せなさい。

122. 本当のあなたであるものは、無限で－永遠の－気づき－愛－至福だ。

122. <b>自分の注意をたえず世界、身体、思考に向けていることによって、あなたは
自分が病気と死と苦しみの対象である身体だと想像している</b>。

124. <b>自分の注意を気づきに向けることによって、あなたは初めてあるがままの自分
を観察している</b>。

125. 実習をしているときは自分が何であるかを考えてはいけない。

126. 何も期待せずに気づきを見守りなさい。

127. 自分の思考を見守ってはいけない。

128. あなたの注意を自分の思考から離し、空っぽの気づきを見守りなさい。

129. 観察している者を観察しなさい。

130. 気づきを観察しなさい。

131. もしあなたが気づきを見守る気づきに満足していたら、あなたの問題は消えはじめ
るだろう。

132. あなたの惨めさは消えはじめるだろう。

133. 不意に平安がやって来るだろう。

134. 不意に喜びがやって来るだろう。

135. 無限の愛は不意にやってくるだろう。

136. 気づきを見守る気づきとは、気づきである気づきのことだ。
</font>
</TT></PRE>
<div align="right">
<A HREF="http://p.tl/_sLJ"><font color=#FFD700 size=-1>『永遠の至福への最も直接の手段』</font></A>(2014/07/18)　　　

</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
