<HTML>
<HEAD>
<TITLE>あきらめなさい</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #800080 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > あきらめなさい
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFffff size=+2>
<b>あきらめなさい</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="10"bgColor=#da70d6 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#ffefef width=100%><tr><td>
<PRE><TT>
<font color="#4b0082" size="3">
人間のありさまを観察し
快楽と知識への欲望
そして人生そのものへの欲望を
放棄した人は稀だ
彼は祝福されたのだ


何ひとつ存続しない
何ひとつ実在ではない

<b>すべては苦しみ
果てのない三重苦だ!
まったく何の価値もない</b>

これを知りなさい
すべてをあきらめなさい
そして静かに在りなさい

<b>人間はいったい、いつになったら
ひとつのことを別のことに対立させるのをやめるのか?</b>

あらゆる対立を棄て去りなさい
何が起ころうと幸せでありなさい
そして、あなた自身を満たしなさい


<b>師や聖者や探求者たち
彼らはみな違ったことを言う</b>

誰であれ、これを知る人は
無執着とともに、静かになる


<b>真の師は冷静に考え
すべてはひとつだと見なす</b>

彼はものごとの本性
覚醒の本質を理解したのだ

彼がふたたび生まれ変わることはない


変化するものごとの中に
それらの純粋な姿だけを見なさい

自己の本性の内にとどまりなさい
あなた自身を解き放ちなさい


世界はただ偽りの印象の集まりにすぎない
あきらめなさい

幻を手放しなさい
世界を手放しなさい

そして自由に生きるのだ
</font>
</TT></PRE>
<div align="right">
<font color="#888888" size="-1">
<A HREF="http://tinyurl.com/mjarxc">『Ashtavakra Gita』</A>(p77-79)　(2012/05/24)　　　
</font>
</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
