<HTML>
<HEAD>
<TITLE>宇宙の優しさ</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="宇宙,愛.優しさ">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 宇宙の優しさ<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>宇宙の優しさ</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｍさん<br><br>
　私はこの頃、宇宙はあんまり優しくて、残酷で、どこにも逃げ道などないのだと思うようになりました。<br>
　結局、われわれのうち誰一人、悟らずに許してもらえるような人間はいなくて、それまでは、好きなだけ勝手な夢を紡いで、勝手に彷徨うより仕方がないのだと思っています。なにしろ、どうやらすべては許されていて、宇宙とはわれわれの愚かしい思いこみと、愚かしい欲望を実現するためのシステムらしいですから。<br>
　でも、苦しみも恐怖も、結局はすべて夢で、本気で本当に夢から覚めたければ、それは間違いなく覚めるようになっているわけだと思います。<br>
　けれども、どんなに口で悟りたいなどと言っても、本当はまだ夢を見続けていたい場合は、全体の優しさは夢を見続けるのを許すことしかできないのだと思います。<br>
　どうも、厄介ですね。<br>
　周り中全員が夢を見ている中で、自分だけ夢から覚めるなんて、“正気”だったらわれわれ誰も望みませんからね。だから、なかなかここからは抜けられないわけです。<br>
　でもそれにも、ある種のサイクルのようなものがあるらしくて、教室ごとクラスの全員が卒業試験会場に突っ込むような時期があるのかもしれません。乱暴な話ですが、そうでもしなければ、とうてい夢から覚める可能性などないからでしょう。<br>
　それにしても、覚めるってどういうことなんだろうと思います。<br>
　夢から覚めたら何かが分かるんでしょうか。夢が夢だったと分かるんでしょうか。夢が夢だったと分かったら、何が分かるんでしょうか。初めから、何も無かったことが分かるんでしょうか。<br>
　それだったら、少し納得がいく気もするかな。<br>
　だって、初めから何も無かったことが分かるんなら、それって、誰もが望むこととも言えませんもんね。やっぱり、何もないんじゃ頼りなくて、ちゃんと“現実世界”があった方が俺はいいや、なんて誰でもいかにも言いそうじゃないですか。<br><br>
　宇宙って、じつはとてつもなく優しいんじゃないか、とも思えてきます。<br>
　そしてもしそうだったら、自分の宇宙は自分以外の誰にも、どうしようもないわけじゃないか、とも思われてきます。え、それって、そんなに本気なのかよ、なんて。<br>
　そんなことを言いながらも、生ぬるい私は、結構、生きるのも楽じゃないや、なんてやっぱりぼやいてはいるんですが……。<br><br>
　来年あたりから少し荒っぽいことが始まるらしい、なんて話もありますね。いつものことですが。<br>
　分かりません。なるようになるしかないじゃないか、などと意味不明なことを思ったりします。どのみち、結局、自分は自分として振る舞うしかないわけだし……、というような感じでしょうか。
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
