<HTML>
<HEAD>
<TITLE>はら：夜の隠れ家</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #800080 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > はら：夜の隠れ家
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFffff size=+2>
<b>はら：夜の隠れ家</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="10"bgColor=#da70d6 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#ffefef width=100%><tr><td>
<PRE><TT>
<font color="#4b0082" size="3">
夜、眠りにつくとき、ベッドに横たわり、
両手をへその二インチ下に当てて、
少し圧力を加える。

それから呼吸を、深い呼吸をしはじめると、
その中枢が呼吸とともに上がったり下がったり
するのが感じられる。
自分の全エネルギーをそこに感じる。
自分がどんどん縮まっていって、
もっともっと収縮していって、
そこにただの小さな中枢として、
きわめて集中したエネルギーとして
存在しているかのように。
これを一〇分から一五分やって、
それから眠りにつきなさい。

これをやっている途中で眠ってしまってもかまわない。
そのほうが効果的だ。
そうなると一晩中、
そのセンタリングが持続する。
くり返しくり返し無意識が動いて、
そこに中心にを据える。
そのために一晩中、知らず知らずのうちに、
あなたは多くのルートからその中枢と深い接触をする。

朝になって、眠りが去ったと感じたとき、
すぐに目を開けないこと。
昨夜のように両手をそこに当てて、
少し圧力を加えて、呼吸を始める。
同じように胆を感じること。
これを一〇分から一五分やったら起き上がる。
これを毎日、朝と夜にやること。
三か月もたたないうちに、
自分が中心に据わっているのを感じはじめる。

中心を定めることはどうしても不可欠だ。
そうでないと人は断片化した感じになる。
そうなるとまとまりがなくなり、
まるでジグソーパズルのようになる。
断片ばかりでゲシュタルト、つまり全体像がない。
これは健全な姿ではない。
なぜなら、中心がないと、人はだらだらやるだけで、
愛することができないからだ。
中心がないと、
人生の日課をこなしつづけることはできても、
けっして創造的にはなれない。
最小限を生きるしかない。
最大限は可能にならない。
センタリングして初めて、
人は最大限を、絶頂、頂点、
クライマックスを生きることができる。
そしてそれが唯一の生きること、本当の人生だ。

</font>
</TT></PRE>
<div align="right">
<font color="#888888" size="-1">
<A HREF="http://tinyurl.com/mjarxc">『Ashtavakra Gita』</A>(p77-79)　(2012/05/24)　　　
</font>
</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
