<HTML>
<HEAD>
<TITLE>地獄の存在</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="地獄,アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #000000 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 地獄の存在<br>
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#db245b size=+2>
<b>地獄の存在</b></font>
</td>
</tr>
</table>

<CENTER>
<table width="75%" height="88%">
<tr>
<td>
<br><br>

　お喋りしていて、ふと「地獄ってあるんでしょうか」と真面目に訊かれたことがあります。<br>
　それまで必ずしもそんなふうの話題について話していたわけでもないのですが、まるでふと思いついたとでもいうように<br><br>
　「地獄って、本当にあるんでしょうか……」と。<br><br>
　その方もまさか私がそんなことを知っていると思われたわけでもないでしょうが、多分、少なくとも、私が相変わらず知ったかぶりで何かを答えるような気がしたのだろうと思います。<br>
　その証拠に、私はやっぱり、何か答えましたから。<br>
　こんなことがこれまで一度ならずあったような気がするので、これはもしかしたら私のせいかもしれません。相手の方が私が放射している思考を被ったのかもしれません。<br><br>
　私は「地獄」はあると思います。<br>
　自分でも、あれが“地獄”だろうなと思う体験はあります。<br>
　ただ私は、自分で信じているほど“地獄好き”ではなかったと見えて、一瞬の“気配”でその“地獄”から跳ね飛ばされてしまいました。あの中に“浸る”ことができればそれが“地獄”だろうな、と自分では信じています。<br>
　昔、夜と昼がひっくり返って、まるで睡眠のリズムが狂っていた時代がありました。当時は、睡眠のリズムだけでなく体力そのものもひどく落ちていました。浅い眠りの中でうなされては、自分が上げた大声に驚いて目覚めるといった日常でした。<br>
　その頃のことです。<br>
　私は夢の中で、暗い底なしの井戸の中を猛烈な速さで落下していました。<br>
　圧迫するような近さで飛び過ぎていく四囲の黒い岩から放射されていたのは、私が驚愕と共に心底思い知らされた“悪意”でした。それほどの“悪意”が自分を取り囲んでいたとは私は知りませんでした。私はその余りの“悪意”に圧倒され、自分がそれまでいかに甘えていたか、いかに見くびっていたかを思い知らされました。その“悪意”のあまりの凄まじさに、私の顔面は恐怖でビリビリ震えました。<br>
　私は絶叫と共に、無我夢中でその“悪意”を突き放して目を覚ましました。<br>
　真綿でくるんだような微かなあえぎが耳に残って、私は暗闇の中に横たわっていました。しばらく辺りの様子をうかがい、人心地着いてから明かりを点けてよく見ると、掛け布団の端に掛けてあったバスタオルが首の周りにまとわりついていたのでした。<br><br>
　また、こんなこともありました。<br>
　半睡半醒の中で気が付いてみると、暗闇の中で誰かが、横になった私の上にのしかかって私の首を絞めているのでした。<br>
　身体はジンジンと痺れて金縛りにあったように動かず、私は相手を跳ね飛ばすことができません。<br>
　その正体不明の“黒い”相手は、両手に込めた力を一段と強めて懸命に私の首を絞めてきます。<br>
　私は血も凍るような絶体絶命の恐怖の中で、しかし最後の力を振り絞って目を開けて相手を見る決心をします。間違いなく自分の上にまたがって自分の首を絞めているそいつの姿を見極めてやろうと覚悟を決めます。どんなやつに出会っても驚くものか……と。<br>
　覚悟して目を開け、暗闇の中を凝視すると……、私の上には誰も乗っていなかったのです。<br>
　カーテンで薄暗くした部屋の外、屋根の上の遠い真昼の上空を通り過ぎて行く飛行機の音が微かに聞こえているだけなのでした。<br>
　しいて物理的な原因を求めるなら、私の首を絞めていたのは身体の上の掛け布団の重さと、遠い上空を飛び去っていく飛行機の音でした。<br>
　またもし心理的な原因を求めるなら、当時の幼い見通しの中での私の深い絶望でした。<br>
　あるいは霊的世界に原因を求めるなら、それこそどこかの弱い“邪悪な”霊的存在が確かにそのとき私の上にのし掛かっていたのかもしれません。<br>
　あるいはまた、超越的なうがった理由と原因を求めるなら、それは今私にこんな文章を書かせるための、私自身が作成したプログラムだったのかもしれません。<br>
　しかしいずれにせよ唯一確かなことは、当時の私には理解できないことでしたが――そして理解したくないことだったでしょうが――それが間違いなく、私の思いのフォーカスが創造し引き寄せた世界だったということです。<br>
　しかし私は、それ以上の“地獄好き”ではなかったようです。<br>
　私はその頃を境目に、あることをきっかけにして“地獄”の演出からじょじょに自分の生エネルギーを引き上げ始めます。人生のリズムもそんな時期だったのでしょう。<br><br>
　私がもう一度“地獄”に自分のエネルギーを振り向けたのは、それからほぼ三〇年の後、知人からある本の存在を教えられたのがきっかけでした。<br>
　その本の中で私は、この宇宙の境界面を構成するという“幽閉の領域”なるものの存在を教えられました。<br>
　私の“地獄好き”が再び頭をもたげました。まだ燃え尽きていなかったのでしょう、もう一度私は“地獄”の再確認を求めたのでした。<br>
　私はその“幽閉の領域”なるものに、自分が落ちた“悪意の井戸”の顔面がビリビリ震えるような恐怖を重ね、しかもその状態に磔になった状態をイメージしました。それこそが考えられる限りの恐怖、考えられる限りの“地獄”だと思いました。<br>
　それから若干の遍歴もあるのですが、それはちょっと余談なのでここでは省くとして、今私は“地獄”についてこう考えています。<br><br>
　“地獄”はあるだろう。しかし、多分それは、“哲学者”が行く世界だろう、と。<br><br>
　顔面がビリビリ震えるほどの恐怖に永久に共振し続けることは、多分、生物には不可能でしょうし、それは“意識の法則”そのものにも反するでしょう。<br>
　別の言い方をするなら、ある一定の波動に永久に共振し続けながら、しかもその波動を“恐怖”として支えることは、この「意識宇宙」では原理的に不可能だということです。<br>
　“恐怖”の波動は、恐怖以外の波動、たとえば“愛”の波動との対比の上で“恐怖”でありうるに過ぎず、“恐怖”の波動が単独で、永遠にひたすら“恐怖”を支え続けることができるわけではないでしょう。<br>
　その意味では“愛”の波動といっても同じことで、感極まったような情熱的な“愛”の波動が、単独で永遠にそんな“愛”を支え続けられるわけがないのは自明です。<br>
　ということは、“地獄”といい“天国”と言っても、それは程度の問題に過ぎないということです。純金百パーセントの“地獄”や“天国”が存在できるわけではないでしょう。その意味では、私が体験した世界も、すでにそれだけで申し分のない“地獄”だったのかもしれません。<br><br>
　「意識宇宙」の最深の基質をなす最も微細な波動が「愛」と呼ばれるとしたら、それはその波動が最も微細であり最も優位であるために、あらゆる粗大波動が結局はそこに収束せざるをえず、その意味ではそれだけが唯一実在している波動であり、そこより下に落ちることのできない絶対の安心を保証しているからではないでしょうか。<br>
　その意味では、粗大波動である“恐怖”は、最深の微細波動である“愛”に対しては絶対劣位にあり、実在の世界ではつかの間の“夢”とでも言うよりない仮現の存在でしかありえないはずです。<br>
　ただ、この宇宙の中の意識存在には、その仮現の存在にフォーカスすることが許されていて、それを思考の中で“固定”し、ときには物質化して、その中に閉じ籠もる権能さえも与えられているのでしょう。<br>
　そして一番それをしそうなのは、自分の思考に最も執着し、論理の“繭”を構想してその中に閉じ籠もる“哲学者”ではないでしょうか。<br>
　宇宙が“思い（込み）”を実現するシステムだとしたら、“地獄”は地獄のような“思考”の中に存在するでしょう。とすれば最大の“地獄”は、地獄のような“思考”に対する最大の執着の中にしかないはずです。<br>
　つまり、“地獄”はある。しかし、多分それは、“哲学者”が行く世界なのです。
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</CENTER>

</BODY>
</HTML>
