<HTML>
<HEAD>
<TITLE>随想の部屋</TITLE>
</HEAD>
<BODY>
<link rel="stylesheet" href="../parts/css/white150.css" type="text/css">
<A HREF="../index.html">home</A> > 随想の部屋<br>
<HR WIDTH="100%"><br>
<CENTER>
<table width="70%" height="50%">
<tr>
<td align="right">
<br><br>
<font color=#db245b size=+2><b>随想の部屋</b></font><BR><BR>

<font size=-1><b>どうしても、見晴らしがほしかった……</b></font><BR>

・<A HREF="grace.html"><font size=-1>宇宙の優しさ</font></A><BR>

・<A HREF="hell.html"><font size=-1>地獄の存在</font></A><BR>

・<A HREF="thought.html"><font size=-1>思考の正しさ</font></A><BR>

・<A HREF="sick&fast.html"><font size=-1>病気と断食</font></A><BR>

・<A HREF="munasawagi.html"><font size=-1>胸騒ぎ</font></A><BR>

・<A HREF="must_live.html"><font size=-1>「生きなければならない」</font></A><BR>

・<A HREF="frame/cons_frame.html"><font size=-1>意識は誕生できない</font></A><BR>

・<A HREF="right.html"><font size=-1>すべて正しい</font></A><BR>

・<A HREF="ivan.html"><font size=-1>クイズとイワン・カラマーゾフ</font></A><br>

・<A HREF="split.html"><font size=-1>狂気と分裂</font></A><BR>

・<A HREF="my_longing.html"><font size=-1>わがふるさと（『私は在る』より）</font></A><BR>

・<A HREF="give_up.html"><font size=-1>あきらめなさい（『Ashtavakra Gita』より）</font></A><BR>

・<A HREF="puppet.html"><font size=-1>操り人形</font></A><BR>

・<A HREF="Joan.html"><font size=-1>音、感覚、目に見える像だけ（Joan Trifson）</font></A><BR>


</td>
</tr>
</table>

<!--#include virtual="../parts/include/footer.html" -->
<HR>
<font color="#cc6699" size=-1>【<a href="../index.html">home</a>】　【<a href="../about.html">挨拶</a>】　【<a href="../books/">本棚</a>】　【<a href="../cinema/">映画</a>】　【<a href="../ndic/index.html#0">N辞書</a>】　【<a href="../rdic/index.html#0">R辞書</a>】　【<a href="../view/">随想</a>】　【<a href="../work/">仕事</a>】　【<a href="../mm/index.html#1">通信</a>】　【<A HREF="mailto:parichan@gmail.com">連絡</A>】
</font>

</BODY>
</HTML>
