<HTML>
<HEAD>
<TITLE>クイズとイワン・カラマーゾフ</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="イワン・カラマーゾフ,宮沢賢治,クイズ">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #F2FFF2 ; color: #000000 ; line-height: 130% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > クイズとイワン・カラマーゾフ<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
<td colspan=2 align=center><font color=#db245b size=+2><b>クイズとイワン・カラマーゾフ</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="50%">
<tr>
<td>
　最近、あるインチキ算数クイズを目にする機会があった。<br>
　これこそが「問題」だとでもいうかのように、その紙にはちゃんと<b>「問題」</b>と書いてあった。<br>
　「クイズ」の内容はこうだ。<br>
<DL>
<DT>
<DD>
<TABLE BORDER=1 BGCOLOR="#FFFFFF" CELLPADDING=2 CELLSPACING=0>
<TR><TD>
　<b>問題</b><br>
　三人の男が一部屋 30 ドルの部屋に一人 10 ドルずつ出して泊まることにしました。オーナーがその部屋は 25 ドルだったことに気づき、お金を返してくるようにボーイに 5 ドル渡しました。しかし、そのボーイは 2 ドル盗んで、1 ドルずつ三人の男に返しました。<br>
　男達は一人 9 ドルずつで合計 27 ドル払っています。<br>
　なぜ、ボーイの 2 ドルを足しても 30 ドルにならないのでしょう。<br>
</TD></TR>
</TABLE>
</DL>

　すっと、一通り読むと、あれあれ……、どうしてだろう、と思う。<br>
　そして今度は問題をていねいに辿ると……、まあ、そこから先はそれぞれ人によるだろうが、この問題を眺めているうちに、なぜか、本当にしばらくぶりに『カラマーゾフの兄弟』の次男坊イワン・カラマーゾフのことを思い出した。<br><br>

<div align=center>
…………○…………○…………○…………<br><br>
</div>


　今にして思えば、埴谷雄高好きの文学少年だった私にとっては、イワンの問題こそまさに青春そのものだったのかもしれない。<br>
　単純化して言ってしまえば、私の青春はイワン・カラマーゾフの論理を自分の論理として生きることだったかもしれない、とも思えてくる。<br>
　むろん、ドストエフスキー作品のすべての主人公たちと同じく、イワン・カラマーゾフはじつにエネルギッシュだ。だからそういう意味では、私にはイワンと共通するところなど何もないのだが、ただ、じつに真面目に、その論理を“生きよう”としたことだけは、事実だと思う。論理を“生きる”などということができるとしての話だが……。<br>
　私にとっては、イワンは単なる小説中の人物というのとは少し違っていたように思う。<br>
　といって、イワンが好きだったというのでもない。<br>
　むしろ、嫌いだったと言った方がいいかもしれない。<br>
　ただ、そこにイワンの論理がある限り、人生は空しく、そこから自由になることはできないような気がしていたことは事実だ。<br>
　あの頃のように自分の全エネルギーをイワンに共振させる力（というか、ゲシュタルト）は、今の私にはもうない。それは、確かなのだが……。<br>
　しかし……、では今の私はもうあのイワンの場所は卒業したのか、もうあそことは無縁になってしまったのかと言えば、何とも歯切れの悪い生返事しか出てこないようだったのだ。<br><br>

<div align=center>
…………○…………○…………○…………<br><br>
</div>

　イワン・カラマーゾフというのは、私にとっては、人間が持つ「文句」というものの象徴、その純粋な論理化だった。<br>
　それはいうなれば人間の“文句の結晶”だった。<br>
　イワン・カラマーゾフの論理、神に対する「文句」を、もし一言に煮詰めるなら、「この世に不幸な人間がいる限り、自分は幸福にはなれない」ということになるだろうか。<br>
　こう言うと、なんとなく、どこかで聞いた宮沢賢治の言葉に似ているようでもある（「世界がぜんたい幸福にならないうちは個人の幸福はあり得ない」）。ただ、受ける印象は非常に違った。宮沢賢治は、文句を言っていたわけではないから……。<br>
　イワンの論理は、そこから一挙に「だから、自分はこの世界を認めるわけにはいかない、この世界を創ったという神を許すわけにはいかない」というところに飛躍する。<br>
　シュタイナーという人から“血液系”と“神経系”という言葉を聞いたことがある。<br>
　血液は天からの呼び声に応えて沸き立ち、神経は地上のあらゆる危険に備えて緊張するというふうに。<br>
　いわば、自動車のアクセルとブレーキのようなものだろうか。<br>
　そういう言い方ができるなら、イワンは“神経系”の論理のエッセンスのようなものかもしれない。ブレーキを踏みっぱなしでは車は動けないように、“神経系”の論理が肥大しすぎては、人間は到底生きられない。<br>
　われわれの惑星は“イワン菌”とでもいうべきある種の“混乱”に深く犯されていて、この星の住人はすべて多少なりとも“イワン・カラマーゾフ・シンドローム”を病んでいるのかもしれない。<br>
　一見どれほど論理的に見える言葉も、ただ人を意気阻喪させるものであったとしたら……。<br>
　それは、いったい何のための「論理性」なのかということになる。<br><br>

<div align=center>
…………○…………○…………○…………<br><br>
</div>

　そもそも「論理性」自体に、何か固有の価値があるわけではない。<br>
　「帰納法」とか「演繹法」とか……。<br>
　「論理性」とは、思考の途中で無闇な「混乱」に陥るのを避けるための、単なる“効率”のための指針にすぎないだろう。<br>
　暗闇の中で迷子にならないために、洞窟の入口近くの木に一方を縛り付けてきた糸のようなものだろう。暗闇の中では一定の効用はあるだろうし、それを使う必要のある場面もあるに違いない。<br>
　だが、「論理性」自体に、固有の“意味”や“価値”があるわけではない。<br>
　もし、いつの間にか洞窟の中が光で満たされて、出口も何も、一瞬で見渡せるような状況が起こったら、それでもなお何重にも絡まった“糸”を辿って、出口に向かおうとする者はいない。<br>
　「論理性」とは、ある種の「見晴らし」の代用品、擬似的な「見晴らし」を得るための道具に過ぎなかった。本物の「見晴らし」が自明の時に、「論理性」の必要はなかった。<br>
　つまり、一見類似した表現<br>
　<b>「世界がぜんたい幸福にならないうちは個人の幸福はあり得ない」</b>と、<br>
　<b>「この世に不幸な人間がいる限り、自分は幸福にはなれない」</b><br>
とは、ある意味で、まったく別種の波動を出している可能性があるということだ。<br>
　一方は、光がどちらの方向にあるかを知っていて、その光に近づくための言葉を断言として紡いでいる。<br>
　もう一方は、適用範囲を超えて「論理性そのものの“呪縛”」にかかった人間が、自分が何をしているかを知らずに、生きる意欲を阻喪させるための言葉を紡いでいる。<br>
　つまり一方は、光に向かった言葉をバネとして、ひたすら天空に向かって天駈けようとし、もう一方は、混乱回避の手段である「論理性」を使って、さらに混乱を深め、さらなる闇に身を沈めているわけだ。その意味では、ベクトルは下を向いている。<br>
　

<div align=center>
…………○…………○…………○…………<br><br>
</div>


　上記の「クイズ」の嘘が見えてきたとき、ふと、イワン・カラマーゾフの論理の間違いは、上の「問題」と同じ種類の間違いではないのか、それはミスリードから発生した混乱とか、事実誤認による間違いといった類のものだったのではないか、という思いがきたのたのだった。<br>
　男たちが支払った 27 ドルに、ボーイが取った 2 ドルを足すことに何の意味もないように、「この世に不幸な人間がいる」ということと、だから「自分は幸福にはなれない」ということとは、じつは何の関連もないのではないのか。<br>
　個々に場も違う、タイミングも違う、辿っている道も違う。<br>
　わたしは比較的幼い頃に宮沢賢治を知って、出所は知らぬながら、「世界がぜんたい幸福にならないうちは個人の幸福はあり得ない」という言葉に触れてその通りだと思った。<br>
　そしてドストエフスキーを読むようになって、イワン・カラマーゾフの「この世に不幸な人間がいる限り、自分は幸福にはなれない」という言葉を知った。<br>
　イワンが弟のアリョーシャに話す「大審問官」の話を読んだときは、全身が震えるほどに感動した。自分の全存在が共振した。少なくともそう思った。<br>
　しかし、あれほどの共振の本当の理由は、イワンの言葉の妥当性というよりは、むしろわたしの中にそれまで醸成されていた＜存在＞に対する不満・不信そのものだったのではないだろうか。<br>
　それが絶好の出口を見つけて、あれほどの共振が起こったのではないだろうか。<br>
　これはわたしが“けりを付け”なければならない問題だったのだ。<br>
　だから、こんなクイズに触れて、ふとイワン・カラマーゾフが甦ったのだ。<br><br>

<div align=center>
…………○…………○…………○…………<br><br>
</div>

　いたずらに卑下するわけではないが、わたしたちはこの程度の「クイズ」の“ミスリード”にすら手もなく足を取られるのではないだろうか。<br>
　べつに“わたしたち”にしなくてもいいが、少なくとも“わたし”には、瞬時にこの「クイズ」のミスリードを見破る明晰性はなかった。<br>
　むろん、この程度の「クイズ」だから、必ず嘘を見破れるという確信はあったし、少し考えてその嘘が“ミスリード”の中に隠されていることが分かった。<br>
　絵解きをするまでもないだろうが、この「クイズ」のミソは<br>
「男達は一人 9 ドルずつで、合計 27 ドル払っています。<br>
　なぜ、ボーイの 2 ドルを足しても 30 ドルにならないのでしょう。」<br>
という“リード文”の中にある。<br><br>

　事実は、支払いの前後で同じ $30 が次のように場所を変えたにすぎぎない。<br>

<TABLE BORDER=1 BGCOLOR="#FFFFFF" CELLPADDING=2 CELLSPACING=0>
<TR><TD>
　支払い前：A=$10　B=$10　C=$10 ………………………………計：$30<br>
　支払い後：A= $1　B= $1　C= $1　主人=$25　ボーイ=$2………計：$30<br>
</TD></TR>
</TABLE>
<br>
　つまり、“男たちが払った 9x3=27$”と“ボーイの2$”を足すことには何の意味もないわけだ。<br>
　このことが分かったとき、つまり“同じ 30$”が場所を変えたにすぎないこと、かつ「問題」の存在根拠がこの現象の解釈から生じている“誤解”にあることに思い至ったとき、わたしの頭の中で年来の「イワン・カラマーゾフ問題」が弾けたのではないだろうか。<br><br>

<div align=center>
…………○…………○…………○…………<br><br>
</div>

　どこかで和尚は、論理的な西欧世界でニーチェとドストエフスキーは最も悟りに近い所まで行った……、みたいなことを言っていたように思う。<br>
　「論理」で「悟り」を編み出せるわけではないだろうが、彼らは「論理」を使って“論理の限界”を突破しそうになった人たちなのだろう。<br>
　上手に、合理的に生きるための「論理」、“混乱回避”のための「論理」も、肥大し過ぎては、“生存回避”のために道しか示すことはできない。<br>
　あるいは、「論理」のある側面は、もう地球では耐用年数をすぎているのかもしれない。<br>
　もちろん、この宇宙に本質的な意味での「間違い」などというものがあるとは思わない。<br>
　イワンの論理も、イワンというひとつの固有の冒険・固有の意識の位相だ。<br>
　他のあらゆる意識の位置と同じく、間違ってもいなければ正しくもない。<br>
　「お気に召すまま」だ。<br>
　ただ、不幸になることが“お気に召”しているわけではないとすれば、その限られた意味で、それは“間違って”いるとも言える。<br>
　「イワンの論理」は、みずから不幸であり続けるための“口実”しか提供できない。<br>
　そこから、自分の幸福へ、光の方へと向かうことはできない。<br>
　その意味では、語弊はあるが「私の幸福」は「この世の人間の幸福」などとは何の関係もない、と言ってもいいのだ。<br>
　「私の幸福」は、もはや不幸にエネルギーを注がなくなることにしか関係ない。<br>
　だが、その理解は「イワンの論理」よりも、お手軽というわけではないようだ。<br>
　「自分の不幸」を維持している理由が、自分の中にしかないと分かったからといって、いかなる瞬間にも「幸福」のみを選択できるかどうか……。<br>
　その場合は、まだ“分かった”とは言わないのだろうが。
(2003.11/9)
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
