<HTML>
<HEAD>
<TITLE>あるのは音、感覚、目に見える像だけ</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #708090 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > あるのは音、感覚、目に見える像だけ
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFffff size=+2>
<b>あるのは音、感覚、目に見える像だけ</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="10"bgColor=#b0c4de width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#f0f8ff width=100%><tr><td>
<PRE><TT>
<font color="#2f4f4f" size="3">
本当に単純です。
たった今、まさにここに、「ジョーン」は全く存在していません。
直接的な経験のことを話しています。
信念のことではありません。
自分で調べてみて、本当にそうかどうか確かめてみてください。
<b>あるのは音、感覚、目に見える像だけです</b>。
それが全部です。
「ジョーン」もいなければ「悟り」もなければ「明晰さ」もなけれ
ば「過去」もなければ「未来」もなければ「現在」もありません。
<b>マインドの中を除いては</b>。
<b>思考と記憶と想像が「私」と「他の人」と「世界」というス
トーリーを紡いでいます</b>。
思考と記憶と想像が、時間と連続性という幻想を創り出しています。
そしてすぐに映写機が回り、私たちは次々に映画を見ることになり
ます。
驚くほどリアルなものですが、すべては作り事です。
「ジョーンとその悟りへの旅」「ジョーンとその失敗」「ジョーン
とその成功」「明晰さがある今、ジョーンはいかに変わったか」
「ジョーンとラマナ・マハルシを比較する」「ジョーンは存在する
のか、しないのか」、どんどん続いていきます。
それはちょうどテレビのスイッチをつけた時に似ています。
テレビ番組がどんなにくだらなくても、もし30秒でも見ていたら、
そこに引き込まれるんです。

そうなると、私たちは、スピリチュアルなことの目標はテレビのス
イッチを切って、テレビに触れないことだという考えを手にします。
そのことは、瞑想のいろいろな流派において、目標にされています。
でも、その瞑想の実践ということも、テレビ番組のひとつです。
根源的な幻想はまだ信じられています。
その幻想とは、リモコンを持ってテレビを見ることができると信じ
られている誰かです。
<b>その誰かは存在していません</b>。

見ることは起こりますが、それをしている人はどこにも存在してい
ません。
<b>そのことはたった今、直接調べてみることができます</b>。
この言葉を見て、読んで、理解している「私」というのは事後の思
考であって、頭の中のイメージです。
見ることはただ在るんです。

<b>すべてはただ在るだけです</b>。

くだらないチャンネルと崇高なサマーディは違う番組、違う見かけ
です。
どちらも終わりのないダンスの中で現れては消えていきます。
つねに崇高なサマーディの状態にあろうとすることは魅惑的なゲー
ムです。
いかに長く希望が持続するかは、ほんとうに驚くべきことです 
(テレビとは分離していて、手にリモコンを持って、コントロール
しようとしている「私」のイメージを維持しながら) 。
最終的には、もしあなたが幸運であれば、ラメッシの素晴らしい
質問がマインドに飛びつくかもしれません。

<b>「誰が気にするんだ？」</b>

これは虚無的な質問でも、ひねくれた質問でもありません。
「誰が気にするんだ？」は素晴らしい質問です。

</font>
</TT></PRE>
<div align="right">
<font color="#888888" size="-1">
<A HREF="http://resonanz360.com/2012/10/08/">ヒロさんのサイトから</A>(2013/02/18)　　　
</font>
</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
