<HTML>
<HEAD>
        <TITLE>「愛」とは</TITLE>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
        <STYLE TYPE="text/css">
        <!--

	BODY      { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
        TD	  { line-height : 150%}
	A:link    { color: #bf0042; text-decoration: none } 
	A:visited { color: #bf0042; text-decoration: none } 
	A:active  { color: #bf0042; text-decoration: none } 
	A:hover   { text-decoration: underline }

        //-->
        </STYLE>

</HEAD>

        <BODY>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>「愛」とは……(^^;)</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
こんなことは「言葉」で言ってもしようがないんですが……、<br>
という前提を言わせていただいてから、あらためて言ったりして(^^;)<br><br>

「愛」というのは、私は存在の「基盤」のことだと思っています。<br><br>

物理次元もそうでない次元もすべて含めて、全宇宙は「愛」という＜濃密な<br>
意識の海＞の上に、あるいは中に、浮かんでいると思っています。<br><br>

喩えて言うなら、「愛」という海に支えられながら、その表面の荒波（現象<br>
の千変万化）に揉まれて、自分たちが作った『生存丸』という船の沈没を心<br>
配しているのが「物理次元」、船から落っこちて、自分が望まない限りそれ<br>
以上落ちる心配がない海の中が「非物理次元」とでもいった感じです。<br><br>

で、そんなものに「愛」なんていう意味ありげな名前を付けると＜それ＞を<br>
制限してしまうことになるので、かわりに「意識」、「存在」、「全体」な<br>
んて言い方もあるようです。<br><br>

要するに、森羅万象、存在しているものすべては「愛」の一部であり、その<br>
表現だということです。<br><br>

では、そんな捕らえどころのない得体の知れないものを何で「愛」と言った<br>
りするのかと言うと、そこに住む森羅万象から言えば、＜それ＞が“自分”<br>
の在り方を、許してくれ、受け入れてくれ、支えてくれるからです。<br><br>

何でそんなことがお前に分かるのかと言えば、それは“私”が「意識存在」<br>
であるということを、誰にも保証してもらう必要がないからです。<br><br>

唯物論者のように、「物質過程だけが本質的過程で、＜意識＞というのはそ<br>
の上に乗っかった“あぶく”のようなものだ」と思い込むことさえ、ここで<br>
は許されています。<br><br>

存在するのはじつは「物質」だけで、「意識」というものは存在しない、と<br>
思い込むことも許されています。<br><br>

要するに、何でもありです。<br>
すべての“思い”が実現します。<br><br>

この特等席に座るのに“思い”を持っている（つまり、＜濃密な意識の海＞<br>
と繋がっている）ということ以外に、必要なものは何もありません。<br><br>

つまりこの宇宙内の「意識存在」はすべて（ということは程度の差はあれ、<br>
「全存在」はということですが）、この「愛」という＜濃密な意識の海＞の<br>
特別優待客です。<br><br>

この宇宙内（「愛」という＜濃密な意識の海＞の中）のあらゆる意識存在は、<br>
どんなことを“思う”ことも許され、“思った”ことはすべて実現しますが、<br>
この「物理次元」では“自・他”の意識存在が共通に関われる“現実”を創<br>
るために、若干の“調整・制限”が課されます。<br><br>

それが、「“現実”は“夢”のようなわけにはいかない」ということです。<br><br>

この＜濃密な意識の海＞の中では、どんなことも“思う”ことができ、また<br>
本質的には“思った”ことはすべて実現できるのですが、ただひとつ、上手<br>
く想像できないことがあります。<br><br>

それは、“存在しない”ということです。<br>
なぜなら、“存在しない”ものが存在したとしても、それを「知る」すべが<br>
ないからです。<br><br>

それが、この「愛」という＜濃密な意識の海＞から落っこちることができな<br>
い理由です。<br>
言い換えると、「愛」を離れて存在することが不可能な理由です。<br><br>

それが究極の＜絶対安心＞の根拠です。<br><br>

その他の「正邪」「善悪」……のすべての相対二元は、＜濃密な意識の海＞<br>
内部での、さまざまの意識宇宙の自作自演の“かくれんぼ”です。<br><br>

すべての相対二元の根源にあるのが、“生死”という“かくれんぼ”です。<br><br>
<br>

　　　　　　　　　　　…………○…………○…………○…………<br><br><br>


……で、以上、述べたようなことはすべて、「物理次元」での「事実」では<br>
ありません。<br>
個々の意識存在は、それを自分の＜真実＞にするしか方法はないようです。<br><br>

「物理次元」は、「愛（という実在）」と「恐怖（という幻想）」の葛藤の<br>
ドラマを演じる舞台ですから、「恐怖（という幻想）」を選択し続けること<br>
もできます。(@_@)<br><br>

その場合は、“地獄”を創造し続けることになります。(>_<)<br>
それも、許されているわけですから。(?_?)<br><br>

しかし、「愛」という＜濃密な意識の海＞の一角をぶち破って、正真正銘の<br>
「地獄」に突っ込む、というようなことは可能ではありません。(^^)<br><br>

そういうことは、＜起こりえない＞のです。<br>
たとえ、そういうことが起こりえたとしても、＜知るすべがない＞からです。<br>
つまり、「意識存在」が唯一創造できないのが“存在しない”ということで<br>
す。<br><br>
<br>

　　　　　　　　　　　…………○…………○…………○…………<br><br><br>


すると、結局、＜濃密な意識の海＞に浮かぶあらゆる意識存在は、いつかは、<br>
この大宇宙の「基盤」である「愛」に、存在するすべてのものを支える「無<br>
条件の愛」に、「意識」そのものに、つまりは「自分」に帰還するしかない<br>
ということになります……。<br><br>

でも、もちろん、「他者」にそんなことを言われたって、面白くも何ともな<br>
いので、その「他者」が存在できないところまで行かなければならない……、<br>
ということになるわけです。
</td>
</tr>
</table>

<HR WIDTH="80%">

<table width="100%" height="0%">
<tr>
<td align="center" valign="bottom">
<font size=-1>
	・<A HREF="../index.html">home へ</A>　
	・<A HREF="./index.html">随想へ</A>
</font>
</td>
</tr>
</table>


</BODY>
</HTML>