<HTML>
<HEAD>
<TITLE>胸騒ぎ</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<!-- META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,和尚,黄金の未来,映画,映画評" -->
<META name="keywords" content="胸騒ぎ,彷徨,朝の夢">
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #ececff ; color: #000000 ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
</HEAD>

<BODY>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 胸騒ぎ<br>
<HR WIDTH="100%"><br>

<CENTER>
<table width="70%">
<tr>
<td align=center><font color=#db245b size=+1><b>胸騒ぎ</b></font>
</td>
</tr>
<tr>
<td colspan=2 align=right><font size=+0>2000,5/16</font>
</td>
</tr>
<tr>
<td>
<br><br>
　あ、飛行機の音……。<br>
　窓の外の遠く薄明るい夜の底から風が吹き上げてくるような。<br>
　あるいは朝まだきの透明な夢の世界に雨風が吹き荒れているような。<br>
　こういうときは一瞬であの変に懐かしい文学空間に入っていける。<br>
　醒めやらぬ夢のなごりか。<br>
　それとも『雪国』の葉子が観た夢の世界か。<br>
　小学六年生の時に見た同級生の女の子の家の夜の火事……。<br>
　あの火事は本当に見たのだったか。<br>
　それとも、あれは夢の中の記憶だったのだろうか。<br>
　なぜか、あそこが可能性への入り口のように思えるのに。<br>
　あれ以来、あそこへはたどり着けない。<br>
　そして、明かりの消えた夜の街をただ闇雲に歩き続けた。<br>
　見つかるはずもない捜し物を求めて彷徨う黒いオルフェのように。<br>
　いっそ、それが永遠のことなら、その方がいいのかもしれない。<br>
　ひたすら、賑やかな方を避けて……。<br>
　いつも、街の中心から聞こえてくる祭の賑わいを避けてきた。<br>
　重要なことは、つねにそっちの方にあるようなのだった。<br>
　そっちへ行けば、何か決定的なことが起こっているのかもしれなかった。<br>
　でも、つねにそれを避けて、薄暗い路地を彷徨い歩いた。<br>
　印刷所から帰るジョバンニのように。<br>
　何処にも行き着けない夢から夢へ……。<br><br>
</td>
</tr>
</CENTER>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
