<HTML>
<HEAD>
<TITLE>「生きなければならない」</TITLE>
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #F2FFF2 ; color: #000000 ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 「生きなければならない」<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>「生きなければならない」</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
　生きなければならない……。<br>
　私たちのあらゆる“問題”はこのことゆえに存在し、私たちのあらゆる“判断”はこのことを根拠として存在している。<br>
　生きなければならない……。<br>
　もし、「生きなければならない」のでなければ、何を根拠に私たちは“問題”を創り、“判断”を行うことができるだろう。<br>
　＜生＞のあらゆる“問題”は、何かを根拠にして存在している。<br>
　あらゆる“善悪”、あらゆる“正誤”は、＜生＞に何らかの“目的”、何らかの“方向性”を前提して、はじめて判断することができる。<br>
　＜生＞に何の“目的”も、何の“方向性”もないのなら、どうやって“善悪”を、“正誤”を判断することができるだろう。<br>
　そしてまた、どんな“判断”も下すことができないのなら、どうやって“問題”を創り出すことができるだろう。<br>
　私たちが、さまざまの感情・思考に自己同化して、さまざまの“判断”を下し、さまざまの“問題”を創り出すとき、その根拠となっているのが、私たちは「生きなければならない」という無意識の前提だ。<br>
　生きなければならない……。<br>
　もし、「生きなければならない」ことはないのだとしたら……。<br>
　あるいは、もし、「死ぬことなどできない」のだとしたら……。<br><br>

　……もちろん、肉体の“死”は訪れるだろう……。<br>
　この肉体とは、いつか別れなければらならないだろう。<br>
　それを避けることはできない。<br>
　もし、「生きなければならない」ということが、肉体の“死”を避けなければならないという意味なら、それは端的に不可能な課題だと言うにすぎない。<br>
　誕生したものは、いつか死なずにはいないのだから。<br>
　生きられなかった「生」は肉体の中に“死”を蓄積し、生きなかっただけ、私たちは着実に“死”に向かって歩を進めていくだろう。<br>
　あるいは、ただ単純に、私たちは“気軽に”肉体を脱いだり、肉体を纏ったりするかもしれない。<br>
　いずれにしろ、肉体の生は肉体の死に向かう過程にすぎないとも言える。その意味では、“死”は＜生＞の一部に他ならない。<br>
　しかし、肉体の“死”によって、私たちの「世界」がなくなるわけではない。<br>
　私たちの「世界」が空無の中に消滅してしまうわけではない。<br>
　私たちの＜意識＞が、滅塵してしまうわけではない。<br><br>

　またもし、肉体の“死”によって私たちが消えるのなら……、私たちの「世界」が無くなるというのなら、＜意識＞としての私たちが空無の中に消滅してしまうというなら、そのときこそ、どんな心配性の私たちにも、いかなる“問題”も創造することはできなくなるだろう。(*^_^*)<br>
　つまり、そのときこそ、文字通り“問題”はありえないわけだ。<br>
　どんなに足掻こうにも、足掻く私たちがいないのだから。<br>
　空無の中に消滅する……、そんなことを考えることこそ、“ぬか喜び”、あるいは“杞憂”というものだ。<br>
　“そんなうまい話は起こらない”というのではない。“そんな恐ろしいことは起こらない”というのでもない。<br>
　ただ単に、……しかし、じつは、そういうことはありえない……、というだけだ。<br>
　私たちのこの「世界」が存在しなくなるというようなことは……。<br><br>
　（＜わたし＞がいないとき、＜わたし＞がいないことを知っている＜わたし＞はいないのだから……。）<br><br>

　もちろん、風景は変わるだろう。いつも変わってきたように。<br>
　しかし、肉体の“死”によって、私たちの「世界」が消えることはないだろう。<br>
　私たちは相変わらず「世界」に向かい、（そうしたければ）何かを願ったり、何かを嫌悪したりし続けることができるだろう。<br>
　あるいは、（そうしたければ、そして、そういう時節が来ていれば）私たちは＜今＞以外のどんな“現実”も願わないゲームをしているかもしれない。<br><br>

　だから、「生きなければならない」という“幻想”は、もう完全に綻び始めている。<br>
　もうどうやっても、これ以上のこの“幻想”だけで、地球を“仕切る”ことはできそうもない。<br>
　だから、ここで、この“地球次元”で、ひとつの“別れ”が起ころうとしているのだ。<br>
　どうしても、まだ「生きなければならない」というゲームをしたい者たちと、どうしても、もう「生きなければならない」というゲームを続けられなくなっている者たちとの。<br><br>

　そして、もし「生きなければならない」のでなければ、これ以上、私たちはどうやって“苦しみ”を演出できるというのだろうか。<br>
　私たちは、もう“苦しみ”の演出には飽きてしまったのかもしれない。(2001.5/15)
</td>
</tr>
</table>

<br>
<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
