<HTML>
<HEAD>
<TITLE>主観と客観</TITLE>
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<!-- META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,和尚,黄金の未来,映画,映画評" -->
<META name="keywords" content="宇宙,愛.優しさ">
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #ccccff ; color: #000000 ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
</HEAD>

<BODY>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 主観と客観<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>主観と客観</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｉさん<br><br>


メール読ませていただきました。

基本的には、“こんな世界には耐えられない”、


“嫌悪感”というと、昔読んだ埴谷雄高さんの『不合理ゆえに吾信ず』の次
のイメージをよく思い出すんです。<br><br>

<table cellspacing="0" cellpadding="10" border="0" width=300 bgColor=#eeeeff><tr><td>
<table cellspacing="0" cellpadding="10" border="0" width=100% bgColor=#ffffff><tr><td>
<table border="0" cellspacing="0" cellpadding="0"><tr><td>
　私は、釣り上げた魚を手にとると、そのぞ<br>
っとする感触に、いきなりそいつを地面へ叩<br>
きつけてうち殺すのであった。　《何と云う<br>
むごいことを……　では何故釣りなどするん<br>
です。》だが自然も生物に触れるとき、つね<br>
にこうした感じを抱いているに違いない。<br>
　生物のもついやらしい感触――。さてその<br>
力は、存在へ、さらに思惟へも、拡げられよ<br>
う。　　　　　　　　『不合理ゆえに吾信ず』<br>
</font>
</td></table>
</td>
</table>
</td>
</table>
<br>

しかし、言葉の力って、すごいですよねぇ。(-_-)<br><br>

われわれが、どれくらいすごい創造力を手にしているかを知ったら……。<br><br>

「怒りから発せられることばのパワーを理解していたら、自分や他の人々、
地球、あるいは神をおとしめるために、それを使う者はいないでしょう。」
　　　　　　　　　　　　　　　　　　　　　　　　『あなたの神話』p40<br><br>

でね、聖ミカエル大天使さん、くださったメールに書かれていたご質問って、
ご自分の“思い”は思いとしてそこにあるけど、そのご自分の“思い”とは
別に、ちゃんとした客観的な“事実”とか＜真実＞とかいうものがあって、
もしかしたらこの「アセンション資料館」の掲載者はそれについて何か知っ
ているのかもしれない、と思ってくださったものだと思うんです。<br><br>

でも、その場合、もし、そのちゃんとした客観的な“事実”とか＜真実＞と
かいうものが、今の聖ミカエル大天使さんの“思い＝思惑”と違った場合は、
今の聖ミカエル大天使さんの“思い”の方は、どうなるんでしょうか？<br><br>

それは、“間違った思い”だったから、撤回するんですか？<br>
それで、聖ミカエル大天使さんは、かまわないんですか？<br>

“間違った思い”は、“正しい思い”より価値がないんでしょうか？<br>
誰が、その“間違った”、“正しい”を決めているんでしょうか？<br><br>

ね。(^^;)<br><br>


　　　　　　…………○…………○…………○…………<br><br>


わたし、昔、結構“すねていた”ことがあるんです。(*^_^*)<br><br>

でね、そのときわたしはこう思いました。<br><br>

昔、お釈迦さんという人が悟って、そのお釈迦さんが悟ったことによって、
“山川草木、悉皆成仏”したそうだ、と。<br><br>

なるほど、お釈迦さんは、悟ったかもしれない。<br>
悟ったことによって、お釈迦さんは、あらゆる“苦”から脱出したのかもし
れない。<br><br>

そのとき、お釈迦さんが悟ったことを知って感涙にむせんだ“山川草木”が
すべて成仏したということも、ありうるのかもしれない。<br><br>

しかし、今自分は、悟っていない。（今だって、悟ってないけど。(*^_^*)）<br><br>

今自分が悟っていなくて、悩みに悩んでいるというこのこと、この瞬間を、
別の誰が、いつ、どうやって、補償できるというのだ。<br><br>

今自分が体験し、感じている人生を、その不毛を、無意味さを、恐怖を、他
の誰が、どこで、どうやって、補償できるというのだ。<br><br>

この今の瞬間の、不毛感、無意味さは、どうやったって、取り返しがつかな
いじゃないか。<br><br>

人生の意味とは、自分が、今、ここで、支えている“意味”以外にあるはず
がない……、と。<br><br>

そう思っていたものですから、ドストエフスキーの『カラマーゾフの兄弟』
を読んで、二番目のイワンが弟のアリョーシャに語った<br>
「そんなハーモーなんか、あの悪臭のたち込める便所の中で、小さなこぶし
を固めてわれとわが胸を叩きながら、ついあがなわれることのない涙を流し
て、『神ちゃま』に祈った、あの苦しみにさいなまれたたったひとりの子供
の、一滴の涙にすら値しない！」<br>
「ぼくは（そんな神の）ハーモーなんてものはほしくない。」<br>
「たとえ僕が間違っているにしても、むしろ甘んじて恨みをはらすことのな
い苦悩と、癒されることのない怒りをいだいたままでいたいと思う」<br>
というような言葉に、全身が震えるほどに共振したのでした。<br><br>

しかし、そう思っていたにもかかわらず、そのときは、その自分の“思い”
を、その思いの“正しさ”を、じつは“信じていませんでした”。(*^_^*)<br><br>

やっぱり、聖ミカエル大天使さんと同じに、どこかにちゃんとした＜根拠＞
があって、正しいと正しくない、真実と虚偽はあるんだと、思っていたんで
す。（いや、もちろん、それはありますよ。ありますけどね。(^^)）<br><br>

で、何が言いたいかというと……<br><br>

ひとつには、わたしは、自分の今の“思い”の方が、聖ミカエル大天使さん
の今の“思い”より、正しいとか、真実に近いとか、客観的だとか、全然、
思っていない、ということです。(^^;)<br>
（と言って、その逆だと、思っているわけでもありませんが。）<br><br>

しいて言うなら、今の私の思いの方が、昔の（今生のね (^^;)）わたしの
思いより、“ゆるい”かもしれません。<br><br>

それと同じ意味では、今の私の思いのほうが、今の聖ミカエル大天使さんの
思い方より、じゃっかん“ゆるい”かもしれませんね。<br><br>

でも、そうすると、“ゆるい”方が、その分だけ、自分の責任に対しては、
自覚的になるかもしれません。<br><br>

> もしかしたら　私は過去遥か昔　銀河系を創ったりしてた可能性はあるの<br>
> ですか？<br>
> それなのに　退化したのでしょうか？？<br>
> <br>
> 進化しても退化するのでしょうか？<br>
> <br>
> 私がどんどん進化し　銀河系を創るような存在になっても　また　今のよ<br>
> うに退化しないといけないのでしょうか？<br><br>

わたしが、「そうですよ」って言ったら、聖ミカエル大天使さんは、じゃ、
大変だ、と思うんですか？　(^^;)<br><br>

まさかね。(^^)<br><br>

いくら、聖ミカエル大天使さんが“お人好し”でも、そうもいかないでしょ
う。<br><br>

“本当か嘘か”、“正しいのか間違っているのか”というような基準は、あ
る意味の位相では“客観的な基準は＜ありえない＞”ということになると、
わたしは思います。<br><br>

じゃ、“正しい・正しくない”というような基準は、一切ないのか、となれ
ば、あるのは“主観的基準”だ、ということになると、思います。<br><br>

そして、宇宙のパラドックスというのは、<br>
　　　　　＜主観的なものだけが、唯一、客観的＞<br>
ということだと思うのです。<br><br>

だから、聖ミカエル大天使さんが、唯一、納得できる“客観的”基準という
のは、聖ミカエル大天使さんにとっての、もっとも“主観的”基準、つまり
聖ミカエル大天使さんの「感情」ということになるのではないでしょうか。<br><br>

そして、一瞬一瞬に、その「感情」を決めているのが、聖ミカエル大天使さ
んの“生の歩み”、というのか、“＜永遠の今＞の中での遊び”とでもいう
のか……。<br><br>

今日の“思い（込み）”の方が昨日の“思い（込み）”より“正しい”、と
いうわけのものではないと思います。(^^)<br><br>

そういう、一種の“正しさ”とか“進化”みたいなものを“時間幻想”中で
妄想すると、やはり<br><br>

> 私がどんどん進化し　銀河系を創るような存在になっても　また　今のよ<br>
> うに退化しないといけないのでしょうか？<br><br>

というような、“恐怖に対する恐怖”みたいなものを、発明せざるをえなく
なるんだと思います。<br><br>

でも、そうすることが“間違っている”といえるようなどんな＜根拠＞も、
宇宙（ま、そんなものがあるとしてですが (*^_^*)）の中にはないと、わた
しは思います。<br><br>

その“思い”が“正しい”か“間違っている”かを決められるのは、唯一、
聖ミカエル大天使さんの「感情」だと思います。<br><br>

だから、基本的には、<br><br>

> 私がどんどん進化し　銀河系を創るような存在になっても　また　今のよ<br>
> うに退化しないといけないのでしょうか？<br><br>

と訊かれたら、わたしにお答えできるのは、唯一、<br>
「そう思った方が、楽しいですか？」ということだけです。(*^_^*)<br><br>

もし、聖ミカエル大天使さんが、全身全霊で、「うん、うん、それを望む」
と言われるなら、聖ミカエル大天使さんの宇宙はそうなっているのだと思い
ます。<br><br>

「いや、絶対、そうなって欲しくないのだが……」と言われるのなら、
聖ミカエル大天使さんの宇宙がそうなるはずはないわけです。(^^)/<br><br>

ただ、ここで、一種、宇宙ゴシップを聞き囓った“アセンション・オタク”
の pari が口を出すとしたら、個々の意識存在の“思いを実現するシステム”
であるこの大宇宙の中で、「自分の思いは実現しない」という濃密な集合意
識が醸成された“所”もあるのかもしれませんね。<br><br>

それが、聖ミカエル大天使さんの、追加質問に関係してくるかもしれません。

　
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
