<HTML>
<HEAD>
<TITLE>あなたの優先順位のリストで、自由は</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #000000 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > あなたの優先順位のリストで、自由は
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFD700 size=+2>
<b>あなたの優先順位のリストで、自由は</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="1"bgColor=#555555 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#000000 width=100%><tr><td>
<PRE><TT>
<font color="#FFD700" size="3">
54. <b>自由を求めるきわめて強烈な欲望が起こる以前は、自分は見ることができると思って
いても実際はあなたは盲目なのだ</b>。 
 
69. もしあなたのなかの自由を求める欲望が充分に大きくなかったら、エゴはあなたの時
間を霊的な実習以外の何かで占領する方法を見つけるだろう。 
 
70. だからこそエゴを終了させる鍵は、自由を求める欲望の強烈さなのだ。 
 
71. 水中に捕らえられている誰かを想像しなさい。彼がどれほど懸命に水面まで昇って空
気を吸いたがっていることか？ 
 
72. <b>解放を求めるあなたの欲望は、空気を求めるその男の欲望と同じほどに強烈で
なければならない</b>。 
 
73. <b>あなたの優先順位のリストで、自由はその男の優先順位のリストの空気と同じ
ほどに高くなければならないのだ</b>。 
 
74. 水中に捕らえられている誰かの空気を求める欲望は、どれほど大きく、どれほど強烈
なことか？ 
 
75. 彼がどれほど水面に出たがっていることか。だが彼は水中に捕らえられているのだ。 
 
76. 空気が吸えるように彼がどれほど強烈に水面まで上昇したがっているかを理解しなさ
い。 
 
77. 水面まで昇りたい彼の欲望は、秒を追ってますます強烈になるだろう。 
 
78. 一秒後の水中では、彼の呼吸をしたい欲望はさらに強烈になる。 
 
79. 二秒後の水中では、酸素を求めて水面まで昇りたい彼の欲望は十倍にもなる。 
 
80. 三秒後の水中では、水面まで昇りたい彼の欲望は百倍にもなる。  

81. 四秒後の水中では、水面まで昇りたい彼の欲望は千倍にもなる。 
 
82. 彼の欲望がどれほど大きくどれほど強烈なことか？ 
 
83. もし永遠の自由を求めるあなたの探求で成功しようとしているのなら、自由を求める
あなたの欲望はそれほど大きく、それほど強烈にならなければならないのだ。 
 
84. もし自由を求めるきわめて強烈な欲望が存在しなかったら、あなたはつねに霊的実習
を回避する道を見つけることができる。 
 
85. <b>もし自由を求めるきわめて強烈な欲望が存在しなかったら、エゴの歪曲能力にはほと
んど限界がない</b>。 
 
109. もし自由を求めるあなたの現在の欲望が、いまの百万倍だったらどうだろうか？ 
 
110. そうなれば、これらすべてのゲーム、遠回り、気晴らし、引き延ばし、歪曲のための
時間はないだろう。 
 
111. そのときあなたは、解放されたと見なされていても実際は解放されていない教師たち
の言うことを聴くことをやめていただろう。 
 
112. <b>そのときあなたは、霊性について考えることを真の霊性に見せかけることはない</b>。 
 
113. <b>そのときあなたは、知的な旅を霊的な旅に見せかけることはない</b>。 
 
114. そのときあなたが受け入れる唯一の手段が、最も直接の手段だ。 
 
115. そのときあなたは、まさに水中に捕らえられ空気を求めて上昇しようとしているあの
男のようになるだろう。 
 
116. 彼には議論をしている時間をはない。 
 
117. 彼にはゲームをしている時間はない。 
 
118. 彼には偽者の教師に割いている時間はない。 
 
119. 彼には間接的方法に割いている時間はない。 
 
120. <b>彼にはキリのない読書に割いている時間はない</b>。 
 
121. <b>彼にはテレビを見ている時間はない</b>。 

122. 彼には教えに架空の意味を投影している時間はない。 
 
123. <b>彼には娯楽のための時間はない</b>。 
 
124. <b>彼には自由になりたいふりをする時間はない</b>。 
 
125. 彼には自分に不正直になれる時間はない。 
 
126. 彼には自分が水面まで上昇したようなふりをする時間はない。 
 
127. 彼にはいかなる論争や議論のための時間もない。 
 
128. 彼のもてる時間は唯一、全注意を集中して水面まで上昇するためにのみある。 
 
129. それが自由への欲望の強烈さこそが最も重要な鍵である理由だ。 
 
130. これまでの求道者にある唯一の問題は、自由への欲望が弱すぎたことだ。自由へのき
わめて強烈な欲望が、その他すべての問題を解決するだろう。
</font>
</TT></PRE>
<div align="right">
<A HREF="http://p.tl/_sLJ"><font color=#FFD700 size=-1>『永遠の至福への最も直接の手段』</font></A>(2014/07/14)　　　

</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
