<HTML>
<HEAD>
<TITLE>操り人形</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="操り人形">
</HEAD>

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #fddafd ; color: #000000 ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 操り人形<br>
<HR WIDTH="100%"><br>

<table width="80%" height="10%">
<tr>
	<td colspan=2 align=center><font color=#db245b size=+2><b>操り人形</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｍさん<br><br>

ご返事が遅れて、ごめんなさい。<br><br>

早速読ませていただきました。<br><br>

いい本を書かれましたね。<br><br>

そして、Ｍさんもこのなかで書かれているように、<br>
誰の本とか、誰の言葉とか、誰の思考とかいうことは<br>
じつはないのでしょうね。<br><br>

Ｍさんが、おっしゃるとおりです。<br><br>

そのことは、当然、ただちに、どんな思考も、アイディアも<br>
誰のものでもなく、ただ現れているだけだということを意味<br>
するのでしょうね。<br><br>

そして、そのことはまた、ただちに、どんな思考も、アイディアも、<br>
ほかの思考やアイディアと比べて、特に優れてもいなければ、また<br>
劣ってもいないということ、ただ「認識する空」のなかに現れてい<br>
るだけだということを意味するでしょう。<br><br>

このパターンがこのパターン（操り人形）として生きられているだけ<br>
であるように、ＭさんもＭさんというパターン（操り人形）として<br>
生きられているだけだと思います。<br><br>

ＤＮＡと条件付けによって、それぞれそのようにしか生きられない<br>
わけですから。<br><br>

もちろん、Ｍさんがそのビジョンを広めようとするのは、<br>
それはそれでいいことだと思います。<br><br>

それがＭさんの意志なのでしょうし、それはとりも直さず、<br>
Ｍさんを通しての源の意志なのでしょうから。<br><br>

ただ、現在のこのパターン（操り人形）は、どんな思いも、<br>
どんなアイディアも、どんな想像も、別に“自分”のものとは<br>
思えなくなりつつあります。<br><br>

自分について唯一言えることは、「私は在る」だけだと思って<br>
います。<br><br>

創造であれ、アセンションであれ、神であれ、善であれ、悪であれ、<br>
すべては意識のなかの概念であり、想像だと思われます。<br><br>

つまり、あらゆる概念や思考は【すべて正しい】ということです。<br><br>

それが、そのように存在するわけですから。<br><br>

「あるがまま」はすべて、変更不能、修正不能な「あるがまま」で<br>
あって、それをどうこうすべきだとは思えません。<br><br>

つまり、現在のこのパターン（操り人形）は、そのように<br>
「認識する空」のなかで生きられているようです。<br><br>

Ｍさんが、現在どんなことにも感謝なさるのは正しいと思います。<br><br>

「認識する空」は、Ｍさんを現在そのように生きているのですから。<br><br>

しかし、どんなことにも感謝できない誰かも、それとまったく同じ<br>
ように正しいと思います。<br><br>

「認識する空」は、その誰かさんを、現在そのように生きている<br>
わけでしょうから。<br><br>

宇宙のなかに【誰か】はたくさんいるでしょうが、実際には、<br>
「認識する空」から分離した【誰か】は存在しえません。<br><br>

「認識する空」が一瞬の絵空事を演じているだけだと思います。<br><br>

Ｍさんのご提案に応える言葉ではないかもしれませんが、<br>
これもまた「認識する空」がこの操り人形を通じて応じている<br>
正直な「あるがまま」です。<br><br>

このパターンからの御礼の言葉です。<br><br>

ありがとうございました。（2012,6,14）
</td>
</tr>
</table>

<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
