<HTML>
<HEAD>
<TITLE>病気と断食</TITLE>
<META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">
<!-- META name="keywords" content="アセンション資料館,アセンション,ascension,資料,資料館,見晴らしプロジェクト,OSHO,和尚,黄金の未来,映画,映画評" -->
<META name="keywords" content="病気,断食,">
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #ffffdd ; color: #000000 ; line-height: 150% }
TD	  { line-height : 130%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
</HEAD>

<BODY>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > 病気と断食<br>
<HR WIDTH="100%"><br>

<table width="100%" height="10%">
<tr>
<td colspan=2 align=center><font color=#db245b size=+2><b>病気と断食</b></font></td>
</tr>
</table>

<CENTER>
<table width="70%" height="88%">
<tr>
<td>
Ｅさん<br><br>
今晩は。お久しぶりです。<br>
もっと早く書きたかったのですが、今日はちょうど友人がきていて、
遅くなりました。<br><br>

なにか、ご友人の方が膵臓の調子が悪いとか……。それで、もし治る
ものなら、断食でも何でもしてみる気になっていらっしゃる、という
ふうに聞きました。それでもし自分で納得できればその方に伝えたい
と思うので、情報を教えてほしいということですね。<br><br>

治る可能性は充分にあると思います、特に今の時代は……。<br>
しかし、もし病態が非常に重篤の方だとすれば、通常の観点からすれ
ば奇跡的な回復が必要ですよね。<br><br>

すると本当の問題は、ご当人がそのような奇跡的な回復を自分の現実
に呼び出すほどに、本当にこの世に肉体を持って生きることを望んで
いるかどうかだ、ということになります。<br><br>

急にこんな風に書かれると戸惑われると思いますが、私はその方の病
状・病名についてまったく知りませんから、これは誰を対象にしたと
いうことではなく、ごく一般的な話として聞いてください。<br><br>

結局、病気というものはすべて、本人がこれまでの人生の中で“用意”
してきているものだと思います。ですからそこには、ご当人が創造し
かつ辿ってきているストーリーというものがあります。<br><br>

これは本人が本人の責任で創造してきているシナリオですから、本人
以外の誰にも変えることはできません。<br><br>

ところが、いざ病気と言うことになると、誰でもそれを自分自身が創
造しているなどとは思いもつかないので、たいていは猛烈に“生きた
く”なります。<br><br>

これは自然なことですが、しかしこの“生きる意志”にはじつは、そ
れほどの力はありません。この“生きる意志”は、病気を創造してい
る自分の反動が現れてるだけだからです。<br><br>

自己治癒が起きるために一番肝心なことは、当人が自分が治るシナリ
オを本当に願うことができるかどうか、自分が治ることを受け入れる
ことができるかどうかだと思います。<br><br>

「治る」ためには、これまで病気を創ってきた自分のシナリオを変え
なくてはならないからです。ところが、これまで当人が病気を“準備”
してきたのは、まさにその“シナリオ”の当人にとっての“正しさ”、
そうしか生きられないという、当人の“選択”です。<br><br>

簡単に“奇跡的”な回復が起こりにくい理由は、まさにそこにありま
す。<br><br>

とはいえ、これはあくまでも一般論です。また、決定的な議論でもあ
りません。<br><br>

人生には、決定的な議論というものはなくて、つねに状況は個別的で、
流動的です。<br><br>

『健康の創造』という本によれば、病気を生み出すストレスのパター
ンの代表的なものには以下のようなものがあるそうです。<br>
①感情や、心を深くむしばむ強いストレスがある場合。<br>
②人生に対する、否定的な思い込みがある場合。<br>
③愛し、愛される能力が欠けている場合。<br>
④生活の些細な問題と重要な問題の区別がつかない場合。<br>
⑤自分の生き方を選ぶ力が欠けている場合。<br>
⑥自分の身体に対する配慮が欠けている場合。<br>
⑦人生を無意味と感じている場合。<br>
⑧現実否認の傾向がある場合。<br>

しかし、こう言われてみれば、そんな傾向が少しもない人間なんて現
実にはいないわけですから、要は、誰でも大なり小なり病気になる可
能性を持っているということだと思います。<br><br>

で、ここまで書いてきたことは、「治癒」が起こるためには、（正確
にいうと、「治癒」が起こるのを許すためには）、本質的には、病気
を“準備”してきたそういう自分のこれまでのパターンを変更する必
要がある、ということを理解していただくためです。<br><br>

つまりは、治るも治らないも、すべては本人が選択することだという
ことです。<br><br>

そして本人が、自分の人生に病気が治るシナリオを選択し直すことが
できるのなら、病気そのものは「治る可能性は充分にある」と思いま
す。<br><br>

「肉体」は、人間の一番深いところにある本心の命令を聞かないこと
はできないからです。<br><br>

で、一般論は、ここまでにしておきます。<br>
ここまでに書いたことを前提していただいた上で、癒しが起こるため
に当人が納得できるシナリオとしては「断食」は大きな可能性を持っ
ていると、私は思っています。<br><br>

私がこういう風に自信を持って書ける理由は、自分自身が若いときに
慢性腎炎という現在でも西洋医学では人工透析に至るしかなく、その
先は長くて……年といわれるような病気から、「断食」によって脱出
した経験があるからであり、その断食堂で、たくさんの治癒者の例を
見聞したからです。また私の体験と言葉だけを便りに「断食」した妻
の急性の膵臓炎が治った経緯を知っているからでもあります。<br><br>

では、なぜ「断食」すれば治るのか、という理由を簡単に書きます。<br><br>

人間が預かっている「肉体」という精密機械は、私たちの想像も及ば
ないほどの途方もない能力を備えた奇跡的な贈り物であるようです。<br><br>

この機械は驚くほどの能力を秘めていますが、宿主である人間の意志
と思い込みに絶対的に従います。<br><br>

宿主のことを批判も、批評も、詰問もしません。<br>
主人のどんな馬鹿な思い込みにも、どんな馬鹿な意志決定にも絶対服
従して、それを実現します。<br><br>

つまり、「肉体」は“アラジンのランプ”なのです。<br>

人間が最小限、「肉体」に対してしなければならないことは、エネル
ギー（食糧）を供給することだけで、それだけで、あとのことはすべ
て「肉体」が自己判断・自己決定して自分の面倒を見ます。<br><br>

我々人間は、消化・吸収・排泄、そして血液の循環から細胞の新陳代
謝までを含め、生まれて以来、自分の身体のことをほとんど何一つ意
識的に判断し、コントロールしたことがありません。<br><br>

そもそも、そんな判断能力を我々の顕在意識は持っていません。<br><br>

身体のことは、すべて身体が自己裁量でやってくれているのです。<br><br>

で、西洋心理学の用語では、この「肉体」のコントロールを担当して
いる者を、「潜在意識」と区別して、大雑把に「無意識」と呼んでい
るようです。<br><br>

これは、もちろん、それについては我々「人間」が“無意識”だと言
っているだけです。「無意識」の存在がそんな高度な判断作業をでき
るわけではありません。(^^;)<br><br>

ですから、そんなふうに“偉そうに”「無意識」なんて言うのではな
く、私がお世話になった断食道場の先生は、「大生命如来」と言って
いらっしゃいました。<br><br>

この「大生命如来」は、別に我々人間の「肉体」内部だけに存在して
いるのではなく、宇宙いっぱいに遍満している智慧であるようです。<br><br>

特に、副交感神経系統の制御情報などは、我々の「肉体」（主として
大脳）は外部の情報源からもらっているように聞いたことがあります。<br><br>

まあ、そんなことはこの際どうでもいいのですが、要は、我々人間が
預かっているこの“アラジンのランプ”は、我々人間の思い及ばぬ智
慧の源泉によってコントロールされており、しかも我々人間の「思い」
を実現するために仕えてくれている精密機械だということです。<br><br>

この「肉体」は顕在意識としての我々人間に、物理次元で生きるため
の全状況を提供してくれているわけですが、我々顕在意識の側からの
主な関係は、言うまでもなく、“運動”と“食べ物”です。<br><br>

で、この二つの関係に限って言えば、“病気”は主に「過剰」か「不
足」というどちらかのアンバランスから起こります。<br><br>

ご推察の通り、地上の病気の半分は「不足」から、あとの半分は「過
剰」から起きています。そして、我々が住んでいる日本では、食べ物
に関する限り、現代では病気は多く「過剰」から起きています。<br><br>

「肉体」を「大生命如来」が制御を担当する一大精密工場に喩えるな
ら、この工場の生産（消化・吸収・排泄）ラインには、常に作業能力
を超えた大量の食糧が投入されていることになります。<br><br>

したがって、常にあまりにも大量の処理材料を相手にしなければなら
なかった生産ラインは、必然的にある程度のサボタージュを常態とせ
ざるをえない状況に置かれることになります。<br><br>

まともにすべての食糧に、本来の消化・吸収・排泄処理を施していた
のでは到底間に合わないので、手抜きせざるをえません。<br><br>

流入する食糧には、量の他に質の問題もあります。<br><br>

なんやかんやで、未処理のまま体内に蓄積される老廃物が、先に触れ
たストレスと連動して、さまざまの悪さをする原因になります。<br><br>

「断食」とは、この「精密工場」の生産ラインに流す処理材料の供給
を、一時的に停止する措置です。<br><br>

この単純な決断が、これまで無自覚に酷使してきた「肉体」に対して
我々人間（顕在意識）の側からできる、最大の恩返しになる可能性が
あります。<br><br>

断食三日目くらいまではまだまだ高を括っていた工場の処理ラインも、
一週間も食糧が入ってこないとなると、いよいよ非常事態を察知して、
緊急時体制を敷きます。<br><br>

そして、燃焼エネルギー源の非常時供給体制を敷きます。<br>
つまり、生命維持に絶対必要なエネルギーを求めるために、まずは最も
不要な体内蓄積物から燃焼させていきます。<br><br>

そして、「消化・吸収」ラインの作業が停止している間に、この時とば
かりに、特別の作業体制を組んで、作業の中心をこれまでし残していた
「排泄」ラインに大きくシフトさせます。<br><br>

この作業シフト全体を統括しているのが「大生命如来」なのです。<br><br>

これまでサボタージュでゆるみにゆるんでいた工場に生命的危機感が
横溢し、工場内の志気は一気に高まります。我々“主人”の生命存続
に貢献するための本来の作業効率が必要になるからです。<br><br>

つまり、「気」が入るのです。「肉体」は“生きる”ことへ向けて全
機能をフル回転させます。<br><br>

そのために我々人間がしなければならないことは、ただ食べることを
一時停止して、治していただくようにお願いするだけです。<br><br>

その依頼に応えて、「必要・最善」のことがなされます。<br><br>

“病気”の治癒に関して言うなら、あとは、我々人間（顕在意識）の
方が、生きるためのシナリオを自分に許せるかどうかだけです。<br><br>

もし、ご友人に私が会ってお話しすることが必要でしたら、いつでも
言ってくだされば、都合をつけます。<br><br>

ただ、現在は、一頃のように「断食」が流行している時代ではありま
せん。だから、引っ張ってくださる先生もいないかもしれません。<br><br>

私がお世話になった断食道場は現在も開いていますが、現在の道場主
には創業者（日本断食道会長）の後継者の方がなられています。それで、
あまり重篤な病人の場合は、入場を断られる可能性も考えられます。<br><br>

それは、普通のの病院なら死者が出てもそれはいわば通常の状態と言
えますが、断食道場の場合は、大変なダメージ（悪くすれば、営業停
止）になるので、よほどの使命感に燃えていない限り、またよほどの
熱意と確信がない限り、重病人を引き受けることは難しいからです。
</td>
</tr>
</table>

<br>
<!--#include virtual="/pari/parts/include/footer.html" -->

</BODY>
</HTML>
