<HTML>
<HEAD>
<TITLE>それは結局どこに通じているのか？</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META name="keywords" content="わが憧れ,アセンション資料館,アセンション,ascension,資料,資料館,OSHO,Osho,osho,和尚,黄金の未来,映画,映画評">

<BODY>
<STYLE TYPE="text/css">
<!--
BODY	  { background-color: #000000 ; color: #ffffff ; line-height: 150% }
TD	  { line-height : 150%}
A:link    { color: #0000ff; text-decoration: underline } 
A:visited { color: #0000ff; text-decoration: underline } 
A:active  { color: #bf0042; text-decoration: underline } 
A:hover   { background-color: #FFcc99 ; text-decoration: underline }
//-->
</STYLE>
<A HREF="../index.html">home</A> > <A HREF="index.html">随想</A> > それは結局どこに通じているのか？
<HR WIDTH="100%"><br>

<table width="100%" height="0%">
<tr>
<td align="center" valign="top">
<br>
<font color=#FFD700 size=+2>
<b>それは結局どこに通じているのか？</b></font>
<br>
<br>
<br>
</td>
</tr>
</table>

<center>

<table border="0" cellspacing="0" cellpadding="1"bgColor=#555555 width=450><tr><td>
<table border="0" cellspacing="0" cellpadding="30"bgColor=#000000 width=100%><tr><td>
<PRE><TT>
<font color="#FFD700" size="3">
l. 解放を求めるきわめて強烈な欲望を目覚めさせる第一の手段は、自由へのきわめて強烈
な欲望が目覚めるまで、次の二つの選択肢を毎日注意深く検討することだ。

2. <b>選択肢Ａは、不必要な活動をすべて捨てて、毎日永遠の至福へのもっとも直接で迅速な
手段を実習するための最大限の時間を作ることだ</b>。

3. 永遠の至福へのもっとも直接で迅速な手段とは、第七章で説明される「気づきを見守る
気づき法」だ。

4. <b>選択肢Ａは、悲しみも苦しみもない無限－永遠－意識－愛－至福だ</b>。

5. 選択肢Ａは、永遠の生命だ。

6. 選択肢Ａは、永遠にあなたの真の自己として生きることだ。

7. 選択肢Ａは、絶対の完全な喜びだ。

8. 以上(2-7)は選択肢Ａの要約だ。

9. 過去に教えた覚醒した人々によって書かれた選択肢「Ａ」の描写を、もっと読むのが助
けになると思う人々もいるかもしれない。そのような説明を読める場所についての詳細情
報は、<A HREF="http://www.thefreedomreligionpress.com/"><font color=#FFD700 size=+2>www.seeseer.com</font></A> に行くといい。

10. <b>選択肢Ｂは、苦しみ、病気、死、暴力、怒り、恐怖、等々の対象である肉体に自己同
化することだ</b>。

11. 選択肢Ｂは、エゴと呼ばれる詐称者があなた自身であるふりをし、あなたを支配する
のを許すことだ。

12. 選択肢Ｂは、かつてあらゆる人間が体験してきた戦争、病気、死、苦しみ、悪をすべ
て創りだした詐称者（エゴ）が継続するのを許すことだ。

13. <b>選択肢Ｂは、最後には死に至るしかない一時的でそれゆえ不毛な人生を生きることだ</b>。
以上(10-13)が選択肢Ｂの要点だ。

14. 選択肢Ｂをもっとよく検討するために、あなたは人間の苦しみが取るあらゆる形態の
リストを作ってもいい。

15. あなたはそのリストに、自分が思いつくかぎりの何千もの戦争、何千もの病気、何千
もの暴力の形を書くことができる。人間は通常、人間の苦しみの海の小さな部分しか見な
い。このリストの目的は人間の苦しみの大海の全体像、人生の否定的側面の全体像をひと
目で見渡すことだ。このリストの目的は選択肢Ｂの結果を見ることだ。

16. この苦しみのリストは一度しか読む必要はない。

17. その後は、第五章にある選択肢ＡとＢの要点を繰り返し読むだけで充分なはずだ。

18. あなたのなかに自由に対するきわめて強烈な欲望が目覚めるまで、毎日第五章を読ん
で選択肢Ａの要点と選択肢Ｂの要点を比較しなさい。

19. あなたが選択肢Ａを選ぶまで毎日第五章を読みなさい。

20. 解放に対するきわめて強烈な欲望を目覚めさせるひとつの助けは、永遠なるものの価
値と一時的なものの無益さを理解することだ。
エゴは人間を生涯にわたって、ひとつの一時的で些末な追求から別の一時的で些末な追求
へと誘導する。
一時的なものの無意味さと永遠なるものの大いなる価値を理解することは大きな助けにな
りうる。
<b>もしあなたが未来に目を向け、これらすべての些末な追求と無用な行為が結局はどこに通
じているのかを理解するなら、それもまた一時的なものの無意味さを暴露する大きな助け
になりうる</b>。
<b>ひとつ一つの行動を一瞬一瞬「これは何につながるのか？」と尋ね、その後で「それか
ら何に？」と尋ね、それから「結局最後にこれは何につながるのか？」と尋ねなさい</b>。

21. 身体はいかなる瞬間にも終わる可能性があることをひんぱんに思い出すことも、自由
へのきわめて強烈な欲望を目覚めさせるのに役立ちうる。
毎日をそれがあたかも自分の最後の日であるかのように生き、一瞬一瞬を永遠なるものに
備えるための貴重な瞬間として使うことも、大いに役立ちうる。
<b>あなたが投資できる二つの事業があると想像しなさい。
建造物解体用の鉄球が一つ目の事業を破壊しようとしているのを、あなたは知っている。
二つ目の事業が永遠に永続するであろうことを、あなたは知っている。</b>
疑問の余地なく賢明な選択は、永遠に継続する事業に投資することだ。

22. どうすれば自分が選択肢Ａを選んだとわかるのだろうか？　
あなたが毎日不必要な行動をすべて捨てて、毎日すべての自由時間を永遠の至福への最も
直接で迅速な手段を実習することに使うときだ。

23. どうすれば解放を求めるきわめて強烈な欲望が目覚めたとわかるのだろうか？　
あなたが毎日不必要な行動をすべてやめ、そうして捻出された自由時間をすべて使って、
毎日永遠の至福への最も直接で迅速な手段を実際に実習するとき、あなたは自由へのきわ
めて強烈な欲望が目覚めたと知ることになる。

50. 自由を求めるきわめて強烈な欲望が生じると、すべての障害物は吹き飛ばされる。

51. 自由に対するきわめて強烈な欲望は、絶対の真実に対する絶対の専心と献身だ。

52. それは真の自己を、直接体験において知ることへの絶対の専心と献身だ。

53. 解放に対するきわめて強烈な欲望が目覚めてからは、人生のあらゆる瞬間が人間の夢
から目覚めることに捧げられる。

54. 解放に対するきわめて強烈な欲望が目覚めると、すべてのエゴの嘘、トリック、欺瞞、
ゲームはすべてあるがままに見ぬかれ、エゴの嘘、トリック、欺瞞、ゲームはすべて最終
的に終焉する。

55. 解放に対するきわめて強烈な欲望が目覚めると、エゴが創出してきた悪夢はもはや容
認されない。

56. エゴこそがすべての悪の源だ。

57. エゴは狂っている。これはすべての人間にとって真実だ。

58. 何十億というこれほど多くの恐怖を製造するためには、エゴは邪悪で狂っていなくて
はならない。

59. あなたの中の何かが、詐称者の夢の終わりを待ち焦がれている。

59. あなたの中の何かが、永遠の愛を待ち焦がれている。

61. あなたの中の何かが、すべての苦しみと悲しみの終わりを待ち焦がれている。

62. あなたの中の何かが、永遠の－喜び－愛を待ち焦がれている。

63. エゴの夢を終わらせ、すべての苦しみから解放された、無限で－永遠の－愛－喜びを
本質とする真の自己を発見することは可能だ。

64. それはこの生涯において、この身体が生きている間に可能だ。

65. あなたのハートに協力しなさい。

66. あなたのエゴの言葉に耳を傾けるのをやめなさい。

67. もしあなたが自分の注意を思考から遠ざけ、気づきを見守る気づきに向けて、毎日
何時間もその眼差しを維持するなら、最後にはエゴの夢が終わり、真の自己が体験される
だろう。

68. そのときすべての苦しみは終了し、残るものは気づき－愛－至福の永遠の完成だ。

69. 選択肢Ａを選びなさい。

70. あなたの選択を絶対のものに、絶対不動のものにしなさい。

71. あなたの選択を絶対的に堅固な最後のものにしなさい。

72. あなたの真の自己、あなたの目を通して見ている背景の気づきは、あなたの注目に値
する。

73. これまでの生涯、あなたはずっとあなたの真の自己を無視してきた。

74. あなたの真の自己、背景である気づきは、あなたの愛と注目に値する。

75. 正気を要求しなさい。

76. 人間の夢は狂っている。

77. 人間の夢からあなた自身の気づきという実在に目覚めることで、正気を要求しなさい。

78. 不必要な行為をすべて捨て、霊的実習のためにより多くの時間を作ることで、選択肢Ａ
を選びなさい。

79. すべての気晴らしと回り道と娯楽を捨て、毎日霊的実習ためにより多くの時間を作る
ことで、選択肢Ａを選びなさい。

80. 自分の実習が永遠の至福への最も直接かつ最速の手段であることを確認することで、
選択肢Ａを選びなさい。

81. 人生がもたらす苦しみも、解放を求めるきわめて強烈な欲望を目覚めさせる手段だ。

82. 毎日第五章を読むことは、自由を求めるきわめて強烈な欲望を目覚めさせるずっと簡
単で迅速な手段だ。

83. ある人々は自由を求めるきわめて強烈な欲望を永遠に目覚めさせる洞察を得るだろう。

84. しかし、大部分の人々にとっては、自由を求めるきわめて強烈な欲望を目覚めさせる
ことは、自由を求める欲望の搖れ動く強さとの日々の闘いだ。
</font>
</TT></PRE>
<div align="right">
<A HREF="http://p.tl/_sLJ"><font color=#FFD700 size=-1>『永遠の至福への最も直接の手段』</font></A>(2014/08/30)　　　

</div>

</td></tr></table></td></tr></table>

</center>


<table border="0" cellspacing="0" cellpadding="0"bgColor=#000000 width=80%><tr><td>



</td></tr></table>
<br>

<center>
<!--#include virtual="/pari/parts/include/footer.html" -->
</center>



</body></html>
